/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

/*FOOTER*/
.footer{
	border-top:solid 1px #D3D3D3;
	background:#FFF url(../images/img_logofooter.gif) right 0px no-repeat;
	display:block;
	font-size:1.1em;
	margin-top:15px;
}
.footer ul{
	list-style:none;
	margin:15px 0px 0px 0px;
	padding:0px;
}
.footer ul li{
	margin:0px;
	padding:0px;
	color:#646464;
	display:inline;
}
.footer ul li a{
	color:#3A71AA;
	padding:0px 10px 0px 7px;
	border-right:1px solid #7FAAD2;
}
.footer ul li.first{
	margin-right:30px;
}
.footer ul li.last a{
	border-right:none;
}
.topper{
	background:#EDEDED;
	display:block;
	padding-top:0px !important;
	height:74px;
	margin:0px;
}
.topper img{
	float:right;
	margin:12px 15px 0px 0px;
}
.appsFooter{
	margin:15px 10px 0px 10px;
	padding:10px 0px 0px 3px;
	border-top:solid 1px #CCC;
	color:#646464;
}