/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

/*CONTAINERTHEMERESULTS*/
.containerSections{
	margin:0px 0px 0px 0px;
}
.containerSections ul li div.category{
	font-size:0.9em;
	margin-bottom:2px;
}
.containerSections ul{
	list-style:none;
	font-size:1.2em;
	margin:10px 0px 0px 0px;
}
.containerSections ul li{
	border-bottom:solid 1px #E5E5E5;
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
}
.containerSections ul li a{
}
.containerSections span{
	font-size:0.9em;
	color:#999;
	font-weight:normal;
}
.containerSections h3{
	font-size:1.0em !important;
	margin:4px 0px 0px 0px;
	line-height:125%;
	color:#000;
}
.containerSections h3 a{
	color:#333;
	text-decoration:none;
}
.containerSections h3 a:hover{
	color:#3A4F98;
	text-decoration:underline;
}
.containerSections p{
	font-size:1.0em;
	margin:0px;
	width:80%;
}
.containerSections p span{
	padding:1px;
	background:#E1E1E1;
	color:#000;
	font-size:1.1em;
}
/*ul.containerThumbs{
	list-style:none;
	
}
ul.containerThumbs li{
	float:left;
	margin:0px 0px 0px 0px;
	border:solid 1px #CCC;
	width:153px;
	height:153px;
	text-align:center;
	display:table-cell;
	margin:5px 10px 5px 0px;
	vertical-align:middle;
	
}
ul.containerThumbs li span{
	display:block;
}
ul.containerThumbs li a{	
}
ul.containerThumbs li img{
	vertical-align:middle;
}*/
table.section{
}
table.section tr{
}
table.section td{
	text-align:center;
}
table.section td.divider{
	width:17px;
	border:none
}
table.section td img{
	vertical-align:middle;
}
table.section td a span.caption{
	border:none;
	font-size:1.2em;
	vertical-align:top;
	text-align:left !important;
	padding:10px 0px 0px 0px;
	display:block;
	color:#333;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}
table.section td a:hover span.caption{
	color:#3A4F98;
	text-decoration:underline;
}
table.section td span{
	color:#999;
	font-size:0.9em;
}
table.section td p{
	font-size:1.1em;
	line-height:125%;
	margin:3px 0px 15px 0px;
	text-align:left;
	font-size:1.2em;
}
table.section td.caption a{
	color:#333;
	font-weight:bold;
	text-decoration:none;
}
table.section td.caption a:hover{
	color:#3A4F98;
}
table.thumbs{
}
table.thumbs tr{
}
table.thumbs td{
	width:150px;
	text-align:center;
	/*border:solid 1px #E0E0E0;*/
}
table.thumbs td img{
	border:solid 1px #E0E0E0;
}
table.thumbs td.divider{
	width:15px;
	border:none
}
table.thumbs td img{
	vertical-align:middle !important;
}
table.thumbs td.caption{
	text-align:left;
	font-size:1.2em;
	font-style:normal;
	padding:5px 0px 15px 0px;
	border:none;
}
table.thumbs td.caption a{
	text-decoration:none;
	font-weight:bold;
}
table.thumbs td.caption a:hover{
	color:#3A4F98 !important;
	text-decoration:underline;
}
table.thumbs td span.caption{
	border:none;
	font-size:1.2em;
	vertical-align:top;
	text-align:left !important;
	padding:5px 0px 15px 0px;
	display:block;
	font-style:normal;
}
table.thumbs td a span.caption{
	color:#333;
	font-weight:bold;
	text-decoration:underline;
}
table.thumbs td a:hover span.caption{
	color:#3A4F98;
	text-decoration:underline;
}

/* fotoalbum popup */

.slideShowPopup {
	height: 736px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 956px;
	z-index: 1000;
}

.slideShowPopupBg {
	background: url('../images/bgSlideshowPopup.png') no-repeat 0 0;
	height: 700px;
	padding: 18px 20px;
	position: static;
	width: 916px;
}
.slideShowPopup .close2 a {
	background:transparent url(../images/icn_close.gif) no-repeat scroll 0 0 !important;
	border:medium none !important;
	display:block;
	height:8px;
	margin-right:15px;
	position:absolute;
	right: -2px;
	text-indent:-9999px;
	top: 13px;
	width:8px;
	z-index:101;
}

.slideShowPopupContainer {
	background: #FFF;
	width: 916px;
}
.slideShowPopupContainer .contentContainer {
	margin-left: 0;
	width: 916px;
}

.slideShowPopupContainer h2 {
	margin: 4px 0 16px;
}

.slideShowPopupContainer .browse {
	position: absolute;
	right: 0px;
	top: 39px;
	width: 120px;
}


/* galleria, alleen gebruiken bij slideshow_new */
.caption{
	font-style:italic;
	color:#887;
}

.demo{
	position:relative;
	margin-top:2em;
}
.gallery_demo{
	height: 94px;
	overflow: hidden;
	width:495px;
	margin:0 auto;
}

.gallery_demo li{
	width:86px;
	height:72px;
	margin: 0 6px 20px;
	background:#000;
	float: left;
}

.gallery_demo li img {
	width: 86px;
	height: 72px;
}

.gallery_demo li div{
	left:240px
}
.gallery_demo li div .caption{
	font:italic 0.7em/1.4 georgia,serif;
}
	
#main_image{
	margin:0 auto 10px auto;
	height:331px;
	width:495px;
	background:black;
}
#main_image img{
	margin-bottom:0px;
}
	
.nav{
	padding-top:15px;
	clear:both;
	font:80% 'helvetica neue',sans-serif;
	letter-spacing:3px;
	text-transform:uppercase;
}
	
.info {
	text-align:left;
	width:700px;
	margin:30px auto;
	border-top:1px dotted #221;
	padding-top:30px;
}
.info p{
	margin-top:1.6em;
}

