/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                       */

a.logo{
	float:right;
	margin:15px 15px 0px 0px;
}
.errorContainer a.logo{
	float:right;
	margin:80px 100px 0px 0px;
}
ul.topMenu{
	list-style:none;
	padding:0px;
	position:absolute;
	left:-5px;
	top:10px;
	width:600px;
	font-size: 1.1em;
}
ul.topMenu li{
	margin:0px;
	padding:0px;
	display:inline;
}
ul.topMenu li a{
	margin:0px;
	padding:0px 10px 0px 5px;
	border-right: solid 1px #5F5F5F;
	color:#646464;
	text-decoration:none;
}
ul.topMenu li a:hover{
	text-decoration:underline;
	color:#646464 !important;
}
ul.topMenu li.fontSize a{
	border: 0;
	color:#5F5F5F;
	font-family:Arial, Helvetica, sans-serif;
	line-height:140%;
	text-transform:uppercase;
	padding:0px 5px 0px 5px;
	font-style:normal !important;
	font-size:1.0em;
}
ul.topMenu li.fontSize li.smallest{
	background:#F00;
}
ul.topMenu li.fontSize ul{
	display:inline;
	margin:0px 5px 0px 7px;
	border-right:solid 1px #5F5F5F;
	padding:0px 5px 0px 0px;
}
ul.topMenu li.fontSize ul li{
	display:inline;
	padding:0px 0px 0px 0px;
}
ul.topMenu li.fontSize ul li a{
	padding:0px 0px 0px 0px;
}
ul.topMenu li.fontSize ul li a.normal{
	font-size:1.0em;
}
ul.topMenu li.fontSize ul li a.larger{
	font-size:1.1em;
}
ul.topMenu li.fontSize ul li a.largest{
	font-size:1.2em;
}
ul.topMenu li.readSpeaker a{
	padding:0px 8px 0px 18px;
	background:url(../images/icn_readspeaker.gif) 3px 1px no-repeat;
}
ul.topMenu li.mobile a{
	padding:0px 8px 0px 18px;
	background:url(../images/icnMobile.gif) 3px 1px no-repeat;
}
ul.topMenu li.last a{
	border:none;
}
ul.secondRow{
	position:absolute;
	top:43px;
	left:0px;
	width:600px;
	height:20px;
	list-style:none;
	margin:0px;
	font-size:1.1em;
	z-index:1000;
}
ul.secondRow li{
	margin:0px 3px 0px 0px;
	padding:0px 0px 0px 0px;
/*	display:inline; */
	float: left;
}

ul.secondRow li.search{
	float:right;
	position:relative;
	top:-3px;
	left:-57px;
}

ul.secondRow li a{
	/*background:url(../images/bg_shadedbutton_left.gif) left 0px no-repeat;*/
	background:#FFF;
	border:solid 1px #D7D7D7;
	padding:2px 4px 2px 4px;
	color:#646464;
	text-decoration:none;
}
ul.secondRow li a:hover{
	color:#3A4F98;
}
ul.secondRow li a.active{
	background:#3A4F98;
	border:solid 1px #3A4F98;
	padding:2px 4px 2px 4px;
	color:#FFF;
	text-decoration:none;
}
/*ul.secondRow li a span{
	background:#FFF url(../images/bg_shadedbutton_right.gif) right 0px no-repeat;
	padding:4px 10px 5px 0px;
	color:#666;
}*/
ul.secondRow li a span.otherLanguages{
	padding:4px 25px 5px 0px;
}
ul.secondRow li a span.more{
	background:url(../images/bg_otherlang.gif) 5px 5px no-repeat;
	position:absolute;
	top:-4px;
	width:30px;
	height:20px;
	z-index:20;
}
ul.secondRow li.language{
	width:30px;
	height:22px;
	float:left;
	margin:0px 3px 0px 0px;
	position:relative;
	top:-4px;
}
ul.secondRow li.language span{
	display:none;
}
ul.xtraLanguages{
	margin:0px;
	padding:1px 5px 5px 5px;
	list-style:none;
	border:solid 1px #CCC;
	background:#FFF;
	position:absolute;
	width:111px;
	left:0px;
	top:22px;
	display:none;
	z-index:100;
}
ul.xtraLanguages li{
	margin:0px;
	padding:0px;
	border:none;
}
ul.xtraLanguages li a{
	margin:0px;
	padding:0px 5px 0px 5px;
	display:block;
	border:none;
	border-bottom:solid 1px #CCC;
	line-height:170%;
}
ul.xtraLanguages li.last a{
	border:none;
}
ul.xtraLanguages li a:hover{
	color:#333 !important;
	background:#E9E9E9;
}
/*SEARCH*/
legend{
	margin:-15px 0px 0px 0px;
	text-indent:-9999px;
	overflow:hidden;
}
form label.search{
	display:none;
}

/*
form#searchform{
	float:right;
	position:relative;
	top:-17px;
	left:-57px;
}
*/

form#searchform input.searchfield{
	border:solid 1px #D7D7D7;
	border-right:none;
	padding:2px 2px 0px 4px;
	color:#646464;
	width:200px;
	margin:0px 0px 0px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-style:italic;
	float:left;
	height:16px;
}
form#searchform .searchbutton{
	float:left;
	position:relative;
	/*top:-20px;
	left:211px;*/
	background:#FFF url(../images/icn_search.gif) 4px 4px no-repeat;
	padding:8px 8px 10px 8px;
	text-indent:-9999px;
	display:block;
	border:solid 1px #D7D7D7;
	border-left:none;
	height:16px;
	width:20px;
	cursor:pointer;

}
form#searchform .searchbutton:hover{
	cursor:pointer;
	background:#FFF url(../images/icn_search.gif) 4px -16px no-repeat;
}

form#searchform .searchbutton:focus{
border: 1px solid red;
}