/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

.wrapper{
	height:100%;
}

.highLights .oneItem a.viewVideo,
div.bottom ul,
.slideShowPopupBg, 
.highLightsBg,
.filterOptionsBg, 
.tipPicture .mask,
.tipPicture .maskQuote,
.logo img
{
	behavior: url("../js/iepngfix.htc");
}

.highLights .oneItem a.viewVideo,
.highLights .items .bottom ul, 
.highLights .oneItem .bottom ul  {
	position: static;
}
.logoBlocks {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/img_logoblocks.png', sizingMethod='crop');
}

.rightColumn .logoBlocks,
.appsContainer .logoBlocks {
	filter: none;
}

.subMenu ul li.path a span{
	top:6px;
}

ul.secondRow{
	top:35px;
}
ul.secondRow li a span{
	line-height:27px;
}
ul.secondRow li.language{
	margin:4px 3px 0px 0px;
}
ul.secondRow li a span.otherLanguages{
	padding:0px 25px 0px 0px;
}
ul.secondRow li a span.more{
	background:url(../images/bg_otherlang.gif) no-repeat;
	background-position: 5px 12px;
	height: 25px;
}
ul.xtraLanguages{
	width:117px;
	top:24px;
	left:0px;
}
/*
form#searchform{
	left:312px;
	top:-26px;
}
*/

ul.secondRow li.search{
	float:right;
	position:relative;
	top:1px;
	left:0px;
}

form#searchform .searchbutton{
	position:relative;
	background:#FFF url(../images/btn_search.gif) no-repeat;
	background-position: 0px 0px;
	padding:10px;
/*	left:-2px;*/
	height:20px;
	width: 20px;
	border: 0;
	cursor:pointer;
}
form#searchform .searchbutton:hover{
	cursor:pointer;
	background:#FFF url(../images/btn_search.gif) no-repeat;
	background-position: 0px 10px;
}

form#searchform .searchbutton:focus{
border: 1px solid red;
}
/*ACCORDION */
/*


ul#accordion li.selected{
	height:173px !important;
}
ul#accordion li.item{
	height:50px;
	overflow:hidden;
}
ul#accordion ul{
	height:100px;
}
ul.browse li.overview a{
	bottom:200px;
	left:0px;
}
*/
ul.browse li.forward a{
	bottom:185px;
	right:-11px;
}
ul.browse li.backTo a{
	bottom:180px;
	right:20px;
}/*
.highLights .items ul.bottom li.newsletter span{
	margin:0px 0px 0px 15px;
	border-right:solid 1px #666;
	height:12px;
}*/

/* height = 24 minus (5px+0px)*/
/*.highLights  .bottom {
	height:21px; 
	position:absolute;
	top:281px !important;
}*/

.testwrapper
{
    height: 117px;
    overflow: hidden;    
}
.carousel{
}
#mycarousel-next{
	right:1px;	
}
#mycarousel-prev{
	left:-20px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 125px;
}

.slideShowPopup .slideShowCarousel #mycarousel {
	height: 56px;
	overflow: hidden;
	width: 897px;
}
.slideShowPopup .slideShow ul li {
	margin-right: 4px;
}
/*
#accordion .browsing{
	position:relative;
	top:-57px;
	left:1px;
}
#accordion .browsing ul.paging{
	top: 78px;
	right:22px;
}*/

.highLightsNoAccordion .two ul.paging, .highLightsNoAccordion .three ul.paging {
	right: -2px;
}
.containersHome .map{
	padding:0px 8px 9px 8px;
}
.containersSubpage .map{
	padding:0px 8px 9px 8px;
}
.colspan4 .denHaagBox{
	background:url(../images/bg_dhlinks.gif) left -2px no-repeat;
	width:166px;
}
.subpage .imageBox{
	width:704px;
}

.subPageBox .imageBox{
	width:704px;
}

.containersSubpage .colspan5 {
	width:160px;
}

.containerTypeA.colspan3 {
	margin-right: 14px;
}

.containerTypeA ul li{
	zoom:1;
}
.containerTypeC ul li a{
	display:inline-block;
}
ul.toolBox li a {
	zoom: 1;
}
.containerTypeC ul li.more a{
	bottom:18px;
}
.sideMenu ul li ul li ul li ul li a{
	margin:0 0 0 40px;
	height:10px;
}
.highLights {
	overflow: hidden;
	margin-bottom: 7px;
}
.highLightsNoAccordion ul.paging li a{
	margin:0px;
}
.highLightsNoAccordion ul.paging li, .highLightsNoAccordion ul.paging li a{
	line-height:1px;
}
.targetMap{
	padding:10px;
	padding-bottom:0px;
}
ul.sourceInfo li.last{
	padding:0px 0px 0px 10px;
}
/*CONTENT*/
.contentContainer h2, .appsContainer h2{
	padding:10px 0px 6px 0px;
}
/*CONTENT OL*/
.content ol.list{
	position:relative;
	left:-17px;
	padding-left:0px;
}
/*TELLAFRIEND*/
.rightColumn .tellaFriend{
	background:url(../images/bg_tellaFriend.gif) 0px 0px no-repeat;
}
.rightColumn .tellaFriend form label{
	width: 123px;
}
/*POLL*/
.poll form input.submit{
	padding:0px;
}
/*ERROR*/
.errorWrapper .contentHeader{
	padding-top:50px;
}
.errorWrapper h1{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/icnError.png', sizingMethod='crop');
}
body.looseApp h2{
	margin:30px 0px 0px 10px !important;
}
.containerTypeC .poll form input.radio{
	margin:0px 5px 0px 0px;
}
.menu li.topItem .subMenu li {
	display:inline;
}
/*POLL*/
.poll form input.submit{
	padding:0px;
}
/*MORE RESULTS*/
.content ul.result li.more, .content ul.result li.less{
	border-bottom:none !important;
	margin:0px 0px 5px 0px;
}
.content ul.result li a{
	padding:0px 0px 0px 15px;
}
#filterSearchOptions .searchFilterOptions{
	margin-top:0px !important;
}
label.allOptions{
	margin-bottom:0px;
}
form input.filterSubmit{
	margin-bottom:0px;
}
#filterSearchOptions li.filterOptionBox{
	background:url(../images/bgSearchFilterOptions_ie6.gif) 0px 0px no-repeat !important;
}
.generalForm form label.long{
	width:90%;
	position:relative;
	padding:0px  !important;
	margin-bottom:0px !important;
}
.subjects form p strong{
	margin-bottom:-10px;
}
.containerTypeCsearch ul.filter li{
	padding:0px !important;
	margin: 0px 0px -5px 0px !important;
}


.filterOptions .close2 a {
	right: -16px;
}

/* slideshow popup */
.slideShowPopup .close2 a {
	right: -20px;
	top: -6px;
}
.slideShowPopupContainer .browse {
	top: 12px;
}

.slideShowPopupContainer .slideShowCarousel #mycarousel {.form_voorloop .btn_search {
	margin: 17px 0 0 0px;
}
	height: 46px;
	overflow: hidden;
}
.slideShowPopupContainer .slideShow ul {
	width: 916px;
	height: 54px;
}

.slideShowPopupContainer .slideShow ul li {
	margin-right: 3px;
}

.menu ul.top {
	margin-left: -1px;
}
/*REACTION*/
ul.reactions li.quote{
	bottom:30px;
}
ul.reactions li.inappropriate{
	bottom:30px;
}
/*LOKET SEARCH*/
.colspan12{
	position:absolute;
	z-index:1000;
}
form#loket{
	height:142px;
}
.loketHeader{
	height:190px;
	overflow:hidden;
}
.searchLoket h2{
	width:auto !important;
}
.containerTypeA.colspan13 h2{
	width:auto !important;
}
.colspan12 h2{
	width:auto !important;
}
a.direct{

}

.content ul.list, 
.content ul.result, 
ul.fastLinks li, 
.comments {
	zoom:1;
}
/*PORTRAITS WIE IS WIE*/
.portraits{
	padding:0px;
	height:115px;
}
.portraits img.portrait{
	margin:0px 10px 0px 0px;
}
.portraits p{
	margin:0px 0px 10px 0px;
}
/*NEWSLETTERFORM*/
.newsLetterForm form input.submit{
	padding:0px !important;
}
/*FOTOALBUM*/
.contentContainer h2.left{
	margin:0px;
}
/*AGENDA*/
.btn_search {
	width: 25px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 3px 0 0 6px;
	font-size: 1.1em;
}

.filterOptions {
	border: 1px solid;
}

.filterOptions .topHeader{
	padding: 0px 0px 0px 30px;
	position: relative;
}


.filterOptions .filterOptionsBg {
	margin: 0px 10px 0px 0px;
	padding: 10px;
	background:url(../images/icnArrowPopUp.gif) right bottom no-repeat;
}

.filterOptionsBg .checkBoxContainer{

}
.filterOptionsSmall {
	border: 1px solid;
}

.filterOptionsSmall .filterOptionsBg {
/*
	position: relative;
	margin: -28px 0px 0px -13px;
	padding: 10px 10px 20px 10px;
*/
	margin: 0px 10px 0px 0px;
	padding: 10px;

	background:url(../images/icnArrowPopUp.gif) right bottom no-repeat;
/*
	background:transparent url(../images/bgFilterOptionsSmall01.gif) no-repeat;
*/
	z-index:100;
}
.containerTypeCsearch .filterOptions .close2 a {
	position:absolute;
	right: 0px;
	width:8px;
	height:8px;
	background:transparent url(../images/icn_close.gif) no-repeat!important;
	border:medium none !important;
	display:block;
	text-indent:-9999px;
	z-index:111;
}
.containerTypeCsearch .filterOptionsSmall .close2 a {
	position:absolute;
	right: 0px;
	top: 10px;
	width:8px;
	height:8px;
	background:transparent url(../images/icn_close.gif) no-repeat!important;
	border:medium none !important;
	display:block;
	text-indent:-9999px;
	z-index:111;
}

.filterOptionsSmall .smallBoxCenter input{
	margin: 0px 5px 0px 20px !important;
	padding: 0;
}
.containerTypeCsearch input.filterOptionSubmit{
	position:relative;
	float: right;
	right: 22px;
	bottom: -10px;
	color:#646464;
	font-size:1.0em;
	background:#fff;
	border:solid 1px #D9D9D9;
	z-index:120;
	display: block;
}
.containerTypeCsearch input.filterSubmit:hover,
.containerTypeCsearch input.filterOptionSubmit:hover{
	color:#3A4F98;
	cursor: pointer;
}
/*TIPEDITOR*/
.tipEditor{
	background:url(../images/bgTipEditor.gif) 0px 0px no-repeat;
	height:350px;
}
.tipEditor form label{
	width: 83px;
	padding:0px 10px 0px 0px;
}
.tipEditor form p.divider label{
	width:103px;
}
/*LOCATIONS*/
.locations ul li.toMap{
	position:relative;
	margin-top:-18px;float:right;
}
/*EXTENDED SEARCH*/
/*
.extendedSearch ul{
	margin: 0px 20px 0px 5px;
	padding: 0;
	list-style:none;
	width: 250px;
}
.extendedSearch ul.filter li{
	height:1%;
	padding:0px !important;
}
.extendedSearch .genres,
.extendedSearch .evenementen,
.extendedSearch .vandaag{
	right:-245px;
}
.extendedSearch .filterOptionsBg{
	background:url(../images/bgExtendedSearchFilterpopup.gif) 0px 0px no-repeat !important;
}
.extendedSearch .filterOptionSubmit{
	zoom:1;
	position:relative;
}
.extendedSearch .genres{
	position:absolute;
	right:-220px;
	top:-235px;
	z-index:1000;
}
.extendedSearch .vandaag{
	position:absolute;
	right:-220px;
	top:-197px;
	z-index:1000;
}
.extendedSearch .evenementen{
	position:absolute;
	right:-220px;
	top:-162px;
	z-index:1000;
}

.extendedSearch .wijken{
	position:absolute;
	right:-220px;
	top:-120px;
	z-index:1000;
}

.extendedSearch .vacatures{
	position:absolute;
	right:-220px;
	top:-85px;
	z-index:1000;
}
.extendedSearch .filterOptionSubmit{
	position:relative !important;
	right:-190px;
	bottom:-40px;
}
.content ul.result li.more{
	margin-top:10px;
}
*/

.extendedSearch ul{
	margin: 0px 20px 0px 5px;
	padding: 0;
	list-style:none;
	width: 250px;
}
.extendedSearch ul.filter li{
	height:1%;
	padding:0px !important;
}/*
.extendedSearch .genres,
.extendedSearch .evenementen,
.extendedSearch .vandaag{
	right:-245px;
}
.extendedSearch .filterOptionsBg{
	background:url(../images/bgExtendedSearchFilterpopup.gif) 0px 0px no-repeat !important;
}*/
.extendedSearch .filterOptionSubmit{
	zoom:1;
	position:relative;
}/*
.extendedSearch .genres{
	position:absolute;
	right:-220px;
	top:-235px;
	z-index:1000;
}
.extendedSearch .vandaag{
	position:absolute;
	right:-220px;
	top:-197px;
	z-index:1000;
}
.extendedSearch .evenementen{
	position:absolute;
	right:-220px;
	top:-162px;
	z-index:1000;
}

.extendedSearch .wijken{
	position:absolute;
	right:-220px;
	top:-120px;
	z-index:1000;
}

.extendedSearch .vacatures{
	position:absolute;
	right:-220px;
	top:-85px;
	z-index:1000;
}
.extendedSearch .filterOptionSubmit{
	position:relative !important;
	right:-190px;
	bottom:-40px;
}*/

.extendedSearch .genres,
.extendedSearch .evenementen,
.extendedSearch .vandaag,
.extendedSearch .wijken,
.extendedSearch .vacatures{
	right:-245px !important;
}

.extendedSearch .genres {
	top: -238px !important;    
}

.extendedSearch .vandaag {
	top: -202px !important;      
}

.extendedSearch .evenementen {
	top: -181px !important 
}

.extendedSearch .wijken {
	top: -135px !important;  
}

.extendedSearch .vacatures {
	top: -95px !important;      
}

.extendedSearch .leftRow {
	float: left;
	margin: 0 0 40px 20px;
	padding: 0;
}

.extendedSearch .rightRow {
	float: right;
	margin: 0 20px 0 0;
	padding: 0;
}

.extendedSearch .filterOptions label {
	width: 80px;
}

.extendedSearch .filterOptions label.topHeader {
	width: 120px;
}

.extendedSearch .filterOptionsBg {
	background: #FFF;
}

.extendedSearch .filterOptionSubmit{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.extendedSearch .filterOptions .close2 a {
	margin: 0px 5px 0px 0px;
}


/*FINAL FIXES*/
.containersSubpage .colspan5 .denHaagBox ul li{
	padding-top:3px;
}

.denHaagBox ul li
{
    height: 32px !important;
	overflow: hidden !important;
}

table.forum td span.inappropriate a{
	position:relative;
	display:inline-block;
	float:right;
	top:-23px;
	background:url(../images/icn_ongepast_ie6.gif) 0px 0px no-repeat;
}
table.forum td span.inappropriate a:hover{
	background:url(../images/icn_ongepast_ie6.gif) 0px -16px no-repeat;
}
.highLights.home .bottom ul{
	/*height:20px !important;
	overflow:hidden;
	padding-top:0px !important;
	margin-top:5px;
	background:#F00;*/
}
#accordion .browsing .overview a{
	top:80px;
}
#accordion .browsing .overview a:hover{
	color:#3A4F98;
}
.highLights.home .items .highLightsBg{
	height:281px !important;
}

.browsing 
{
    position: absolute;
    bottom: -1px;
    right: 0;
}

#accordion .browsing ul.paging
{
    top :42px; 
    right: 21px;   
}
/*
#accordion .browsing{
	top:-64px;
}*/

.noBorder .browsing
{
    bottom: 5px;
}

.noBorderOverzicht .browsing
{
    bottom: 5px;

}

ul#accordion li.item .comments
{
    margin-top: 8px;    
} 

.subpage .browsing
{
     right: 5px;   
}
.jcarousel-next.jcarousel-next-disabled, 
.jcarousel-prev.jcarousel-prev-disabled {
    background-color: #CCC !important;
	left:-20px;
}
.jcarousel-prev{
	left:-20px;
}

.contentHeader {
	height: 125px;
}
