/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating{cursor:pointer;margin:2em;clear:both;display:block}
div.rating:after{content:'.';display:block;height:0;width:0;clear:both;visibility:hidden}
div.cancel,div.star{float:left;width:20px;height:21px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;margin-right:2px;}
div.cancel,div.cancel a{background:url('../images/delete.gif') no-repeat 0 -19px;display:none;}
div.star,div.star a{background:url('../images/rating_ster.gif') no-repeat 0 0px}
div.cancel a,div.star a{display:block;width:20px;height:100%;background-position:0 0px}
div.star_on a{background-position:0 -21px!important}
div.star_hover a,div.star_live a:hover{background-position:0 -21px}
/* Read Only CSS */
div.star_readonly a,div.star_readonly a:hover{cursor:default !important}
/* Partial Star CSS */
div.star{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

.star
{
	float: left;
}