/*   *****************************************************
 *
 *   RIJKSOVERHEID.NL
 *   Official website of the Government of the Netherlands
 *
 *   Presentation layer for screen and projection media
 *   Cookiebar stylesheet for able web devices
 *
 *   This should comply with Dutch web guidelines v2 and
 *   W3C CSS2.1 standards.
 *   See: http://versie2.webrichtlijnen.nl/
 *
 *   location: /presentation/screen-cookies.css
 *   version:  1.0
 *   date:     25-09-2012
 *
 *   *****************************************************
 */



/*   *****************************************************
 *
 *   CODING CONVENTIONS
 *
 *   - indent property-value pairs using double spaces;
 *   - place selectors, opening and closing brackets and
 *     property-value pairs on their own, separate lines;
 *   - use a consistent property order (as shown below);
 *   - use shorthand for font, border, padding, margin
 *     and background properties if possible;
 *   - use full six digit hex codes for colours;
 *   - work from general to specific (in order of
 *     increasing specificity);
 *   - avoid use of !important (preferably limited to
 *     Internet Explorer stylesheets only!);
 *   - use percentages to declare relative font sizes;
 *   - omit units when declaring line-heights as not to
 *     break inheritance of relative line-height.
 *
 */


/*  MAIN LAYOUT */ 
#cookiebar /* Main container for opt-in */
{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 130%;
}
.ck-center /* Wrapper for centered government design */
{
  width: 700px;
  margin: 0 auto;
}
.ck-main /* Main area of cookiebar */
{
  background: #E5F0DF;
}
.ck-footer /* Bottom of cookiebar, for presentation purposes */
{
  clear: both;
  height: 10px;
}
.ck-content /* Content area, also provides hook for presentation */
{
  width: 650px;
  padding: 10px 24px 10px;
}

.ck-large
{
  font-size: 130%;
}

/* TYPO */
#ck-attention
{
  margin: 0;
  padding: 5px 0 5px;
  font-weight: bold;
  }
#ck-intro
{
  width: 700px;
  margin-bottom: 1em;
}
.iphone.ios6 #ck-intro,
.iphone.ios6 #ck-links li
{
  font-size: 0.7em !important;
  font-size-adjust: none !important;
}

.answered #ck-intro
{
  width: 400px;
}

/* CHOICES ARE LINKS BUT LOOK LIKE BUTTONS */
#ck-options div
{
  width: 200px;
  display: block;
  float: left;
  margin-right: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.answered #ck-options
{
  width: 588px;
}
#ck-options div a
{
  display: block;
  border: 2px solid #FFFFFF;
  padding: 5px 10px 6px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}
#ck-options div.ck-accept a
{
  background-color: #4c8894; /* Base green. Be aware of colour contrast requirements! */

 }
#ck-options div.ck-accept.option-hover a,
#ck-options div.ck-accept a:hover,
#ck-options div.ck-accept a:focus
{
  background-color: #4c8894;  /* Hover green */
}
#ck-options div.ck-deny a
{
  background-color: #E5E5E5;  /* Base grey */
  color: #000000;
  font-weight: normal;
  border: 2px solid #E5E5E5;
}
#ck-options div.ck-deny.option-hover a,
#ck-options div.ck-deny a:hover,
#ck-options div.ck-deny a:focus
{
  background-color: #E4E4E4;  /* Hover grey */
}
#ck-options div ul
{
  margin: 0;
  padding: 0 10px;
}
#ck-options div li
{
  padding: 6px 0 0 10px;
  background: url(../images/listArrow.gif) 0 12px no-repeat; /* Colored bullets in explanation list */
  line-height: 1.4;
}
#ck-options .ck-deny li
{
  
}
#ck-options div li:last-child
{
  padding-bottom: 10px;
}
* + html #ck-options div li
{
  padding: 6px 0 4px 12px;
}


/* LINK LISTS */
#ck-links
{
  width: 200px;
  margin-left: 450px;
}
#ck-links p
{
  margin: 0;
  padding: 4px 30px 8px 0;
  background: url(../images/icons.png) 100% 7px no-repeat; /* Down arrow for linklist dropdown */
  cursor: default;
}
.hover #ck-links p
{
  background-image: none;
}
#ck-links,
#ck-links ul
{
  font-size: 1em;
}
#ck-links li
{
  margin: 6px 0;
  padding: 0 0 2px 0;
  font-size: 100%;
  background-image: none;  
}
#ck-links a
{
  display: block;
  padding: 0 0 5px 10px;
  background: url(../images/icon-linkmore.png) no-repeat 0 -12px; /* Arrows in linklist */
  text-decoration: none;
  font-size: 100%;
}
.answered #ck-options a
{
  display: block;
  float: left;
  padding: 0 0 5px 15px;
  color: #154273;
  background: url(../images/cookiebar-icons-xl.png) -505px 0 no-repeat; /* Close icon */
  text-decoration: none;
}
.answered #ck-options a:hover,
.answered #ck-options a:focus,
#ck-links a:hover,
#ck-links a:focus
{
  color: #005566;
  text-decoration: underline;
}

.answered .ck-content
{
  position: relative;
}
.answered #ck-links
{
  width: 284px;
  position: absolute;
  bottom: 0.4em;
  left: 632px;
}
#ck-links:after,
.answered #ck-options:after
{
  content: " ";
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}


/* IE Fixes */
* html #cookiebar
{
  position: absolute;
  height: 1%;
}
* html #cookiebar .ck-footer
{
  background-image: none;
}

/* Overlay */
#overlay {
    z-index: 2000;
	position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}