/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: larger-size.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2011-12-14 08:56:29 +0100 (Wed, 14 Dec 2011) $                                          */
/* Revision number:         $Rev: 29 $                                      */
/*                                                                          */
/****************************************************************************/

body {font-size:62.5%; line-height:142%;} /* 10px */
input, textarea, button, select {font-size:13px;}
/* global font size */
.assemblyGlobal {font-size:150%;} /* 15px */
.assemblyHeader {font-size:86.7%;} /* 13px */
	.unitListHeader a.normalSize {font-size:100%; line-height:118%; padding:2px 0 0 0;} /* 13px */
	.unitListHeader a.largerSize {font-size:109.1%; line-height:107.7%; padding:2px 0 0 0;} /* 14px */
	.unitListHeader a.largestSize {font-size:118.2%; line-height:115.4%;} /* 15px */

.assemblySub h2 {font-size:113.3%;} /* 17px */
.assemblySub h3, .assemblyContent h4 {font-size:100%;}
.assemblySub ul.listAnker {font-size:86.7%;} /* 13px */

	.stationThree h3, .stationFour h3 {font-size:113.3%;} /* 17px */
	.stationThree .textCnt {font-size:86.7%;} /* 13px */
	.stationThree p.linkMore {font-size:107.7%;} /* 14px */
	.stationFour p.linkMore, .stationFour a.linkMore, .assemblySide p.linkMore {font-size:86.7%;} /* 13px */

	.stationFour .listLinkCustom, .stationFour .listSmall {font-size:100%;} /* 15px */
	.stationFour .listSmall li span.itemDate {font-size:86.7%;} /* 13px */

.assemblyMenu {font-size:100%;} /* 15px */
	.assemblyMenu .unitSubMenu {font-size:86.7%;} /* 13px */

/* home page style */
.stationMediumImg {font-size:100%;} /* 14px */
	.stationMediumImg h2 {font-size:178.6%;} /* 25px */
	.stationMediumImg a.linkMore {font-size:92.9%;} /* 13px */
	.stationMediumImg .unitSingle p {font-size:121.4%;} /* 17px */

.assemblyLeft {font-size:92.9%;} /* 13px */
	.assemblyLeft li a.itemOpen {background-position:0 -184px}
	.assemblyLeft li ul li a.itemOpen {background-position:15px -184px}
	.assemblyLeft li.itemOpen a {background-position:right -84px}
	.assemblyLeft li.itemOpen a:hover {background-position:right 12px}
.unitTopPath {font-size:86.7%;} /* 13px */
.assemblyFooter {font-size:86.7%;} /* 13px */

.assemblySub {font-size:93.3%;} /* 14px */
.assemblySide h2, .assemblySide h3 {font-size:113.3%;} /* 17px */
.assemblySide .itemFilter h3 {font-size:100%;}
.assemblySide .calendarDaysHeader, .assemblySide .calendarCellsWrapper {font-size:86.7%;} /* 13px */
.pollAntwoorden div, .assemblySide .itemFilter li span {font-size:86.7%;} /* 13px */

.stationHeaderIn {font-size:92.9%;} /* 13px */
	.stationHeaderIn h1 {font-size:153.8%;} /* 20px */
	.stationHeaderIn h2 {font-size:130.8%;} /* 17px */

.paginationBar, .listingToolBar, .pageToolBox ul, .fotoToolBox {font-size:86.7%;} /* 13px */

.unitLoketNav h3, .unitLoketNav h2 {font-size:113.3%;} /* 17px */
.unitLoketNav .unitLoketSearch a {font-size:86.7%;} /* 13px */

.listingTitle {font-size:113.3%;} /* 17px */
	.listingTitle span em, .listingTitle a {font-size:76.5%;} /* 13px */
.listingItem h4 {font-size:106.7%;} /* 16px */
	.listingItem .date, .listingItem .morelink, .listingItem .locatie {font-size:86.7%;} /* 13px */
.listNotifications h3 {font-size:121.4%;} /* 17px */
.listNotifications h4, .listNotifications ul {font-size:114.3%;} /* 16px */
.listNotifications ul span {font-size:87.5%;} /* 14px */
.unitFilter {font-size:80%;} /* 12px */
.listTip .listingItemBody p {font-size:133.3%;} /* 20px */

.hideForm, .hideSocial {font-size:130%;} /* 13px */
	.hideForm h3 {font-size:130.8%;} /* 17px */
	.hideForm .closePopup {font-size:76.5%;} /* 13px */
	.assemblyGlobal .hideForm {font-size:86.7%;} /* 13px */
.stationForm h3, .searchForm h3 {font-size:113.3%;} /* 17px */
	.stationForm h3 span.itemLink {font-size:76.5%;} /* 13px */
	.artikelUsefulInfo .stationForm h3 span.itemLink {font-size:81.3%;} /* 13px */
	.stationForm label {font-size:86.7%;} /* 13px */
	
.artikelUsefulInfo .stationForm h3 {font-size:106.7%;} /* 16px */

.innerContent table, .carouselNbr ul li a {font-size:86.7%;} /* 13px */
.innerContent table thead, .fotoToolBox .unitSlide {font-size:107.7%;} /* 14px */

.unitSitemapLevels h2 {font-size:113.3%;} /* 17px */
.unitSitemapLevels .arrowList {font-size:86.7%;} /* 13px */
.unitSitemapLevels .arrowList .arrowList {font-size:100%;} /* 13px */

.tableForum tbody td {font-size:86.7%;} /* 13px */
.itemTitle h2 {font-size:100%;}

.calendarCellsWrapper .event, .assemblySide .calendarCellsWrapper {font-size:86.7%;} /* 13px */
.calendarCellsWrapper .eventmore a {font-size:80%;} /* 12px */
.politiekeKalenderContainer .calendarDate {font-size:113.3%;} /* 17px */

.listSearch .listingItemBody h4 {font-size:114.3%;} /* 16px */
.fotoCarousel .unitText h3 {font-size:114.3%;} /* 16px */
/* fixed size blocks */
.assemblyHeader .stationHeader {width:581px;}
	.itemLang a {width:100px;}
	li.itemLang ul {width:190px;}
	
button.itemBtn {height:22px;}
button.itemBtn span {line-height:18px; height:18px;}
.unitFormHeader button.itemBtn span {background-position:8px 4px;}
.assemblyMenu li a {padding:6px 35px 7px 12px; line-height:116%;}
.stationMediumImg h1 {padding:10px 0; line-height:normal;}
.stationMediumImg ul li.unitOpen {height:122px;}
.stationMediumImg .unitSingle button.itemBtn span {background-position:5px 2px;}
.unitForum .unitForum {background-position:28px 8px;}
.paginationBar ul li a, .paginationBar ul li span {width:8px;}
.assemblySub ul li, .listNotifications ul.arrowList li, .assemblySide .listSmall li, .unitLoketLinks .listSmall li {background-position:0 8px;}
.assemblySub ol ol {padding:0 0 0 30px;}
	.assemblySub ol ol span.itemNumber {left:-30px;}
.assemblySub ol ol ol {padding:0 0 0 40px;}
	.assemblySub ol ol ol span.itemNumber {left:-40px;}
.assemblySub ol ol ol ol {padding:0 0 0 50px;}
	.assemblySub ol ol ol ol span.itemNumber {left:-50px;}
.assemblySub p.linkDirectBtm a, .assemblySub p.linkDirectTop a, .listingImageTeaser p.linkMore a {background-position:right 5px;}
.assemblySub p.linkDirectBtm a:hover, .assemblySub p.linkDirectTop a:hover, .listingImageTeaser p.linkMore a:hover {background-position:right -65px;}
.stationForm button {height:22px;}
.stationForm button b {line-height:18px; height:18px;}

.paginationBar ul li.next a, .paginationBar ul li.prev a {background-position:9px center;}
.toolBoxStuurDoor {background-position:8px 9px;}
.toolBoxReageer {background-position:8px -61px;}
.toolBoxPrint {background-position:8px -135px;}
.toolBoxStuurFoto {background-position:8px -350px;}
.toolBoxDownloadFoto {background-position:8px -418px;}
.toolBoxToevoegen {background-position:8px -208px;}
.toolBoxToevoegenOpen {background-position:8px -280px;}
.toolBoxStuurVideo {background-position:8px -485px;}
.toolBoxPdf {background-position:8px -624px;}
.toolBoxSlide {background-position:8px -694px;}

.calendarDayCell p.event {height:85px;}
.unitSitemapLevels ul li ul li {background-position:0 7px;}