body {
    background: url("../images/css/background-body.gif") repeat-y scroll center top #F7F7F7;
}
a:hover {
    color: #005566;
}
.assemblyGlobal {
    width: 960px;
}
.unitListHeader li.showElement {
    display: none;
}
.assemblyHeader {
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
    background: #6a9da6 url(../images/css/background-glow.png) no-repeat center top;
    border-bottom: 10px solid #C4C4C4;
    height: 133px;
    width: 960px;
}
.assemblyHeader .unitLogo {
    float: left;
    padding: 0;
    margin-top: 26px;
}
.assemblyHeader .stationHeader {
    float: right;
    width: 368px;
}
.assemblyHeader .stationHeader {
    padding-top: 5px;
}
.assemblyHeader .stationHeader ul {
    float: right;
}
.assemblyHeader .meta-nav {
    width: 446px;
    position: absolute;
    height: 39px;
    top: 87px;
    right: 0;
    padding-top: 4px;
    background: url(../images/css/background-servicemenu.png) no-repeat right 0;
}
.assemblyHeader .meta-nav .unitListHeader {
    bottom: 4px;
    position: absolute;
    right: 0;
    z-index: 2;
}
.assemblyHeader .meta-nav .unitListHeader li {
    background: url("../images/css/menu-seperator.png") no-repeat scroll right center transparent;
    height: 26px;
}
.assemblyHeader .meta-nav .unitListHeader li.itemLast {
    background: none;
}
.assemblyHeader .meta-nav .unitFormHeader {
    float: none;
    position: absolute;
    right: 10px;
    top: -60px;
}

.service-nav .unitListHeader a {
    color: #FFF;
    font-weight: bold;
}
.service-nav .unitListHeader ul a {
    color: #222;
    font-weight: normal;
}
.unitListHeader a.iconRss {
    background: url("../images/css/icon-rss.png") no-repeat scroll 0 3px transparent;
    padding: 0 0 0 15px;
}
.itemLang a {
    background: url("../images/css/icon-points.png") no-repeat scroll right center transparent;
    margin-right: 10px;
}
.unitListHeader li {
    background: url("../images/css/meta-separator.png") no-repeat scroll right center transparent;
}

.unitListHeader a.iconContact,
.unitListHeader a.iconNewsLetter,
.unitListHeader a.iconLogin {
    background: none;
    font-size: 12px;
    padding: 0;
}


.unitFormHeader input.itemInput {
    background: transparent url(../images/css/background-searchfield.png) no-repeat 0 0;
    border: 0;
    color: #646464;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 0 2px 14px;
    width: 335px;
    height: 45px;
    font-style: italic;
}
.unitFormHeader button.itemBtn {
    margin-left: -50px;
    margin-top: 12px;
    background: transparent;
    border: 0;
}
.unitFormHeader button.itemBtn span {
    background: url("../images/css/button-search.png") no-repeat scroll 0px 0px transparent;
    text-indent: -99999px;
    padding: 0;
    width: 18px;
    height: 17px;
}

.assemblyMenu {
    border-bottom: 12px solid #D3D3D3;
    margin-top: -56px;
    width: 960px;
    z-index: 1;
}
.assemblyMenu li {
    padding: 0;
}
.assemblyMenu li a {
    padding: 14px 35px 0px 16px;
    height: 25px;
}
.assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover {
    background: url(../images/css/background-topmenu-activeright.png) no-repeat right 0;
    border: 0;
    color: #FFFFFF;
}
.assemblyContainer {
    margin-top: -6px;
    margin-left: -16px;
    padding: 0 16px;
    border-left: 0px;
    width: 960px;
    background: transparent url('../images/css/background-content.png') no-repeat center bottom;
    padding-bottom: 8px;
    /*background: transparent url(../images/css/background-shadowtop.png) no-repeat 0px 0;*/
}
.assemblyMenu li.itemSub a {
    background: url(../images/css/background-topmenu.png) repeat-x;
    border: 0;
}
.assemblyMenu li.itemSub:first-child {
    background: url("../images/css/background-topmenu-activeright.png") no-repeat scroll left 0 transparent;
    margin-left: -8px;
    padding-left: 13px;
}
.assemblyMenu ul li.itemActive:first-child {
    background: none;
}
.assemblyMenu ul li.itemActive {
    background: url(../images/css/background-topmenu-activeleft.png) no-repeat left 0;
}
.assemblyMenu ul li.itemActive a {
    background: url(../images/css/background-topmenu-activeright.png) no-repeat right 0;
}
.assemblyMenu ul li.itemActiveLast a {
    background: url("../images/css/background-metamenu-left.png") no-repeat scroll right 0 transparent;
    padding-right: 29px;
}
.assemblyMenu ul li.itemActiveLast a:hover {
    background: url("../images/css/background-metamenu-left.png") no-repeat scroll right 0 transparent;
}
.assemblyMenu .unitSubMenu {
    background: transparent url(../images/css/background-submenu.png);
    border: 0;
    width: 391px;
    height: 193px;
    z-index: 99999;
}

.unitTopPath {
    float: none;
    width: auto;
    margin-left: 238px;
    margin-top: 10px; 
}
.unitTopPath ul li a {
    color: #056;
}

.assemblyContainer .assemblySub {
    overflow: visible;
    padding: 0 15px;
    background: #FFF;
}

.stationMediumImg {
    width: 960px;
    margin: -11px -15px 0 -15px;
    z-index: 0;
}
.stationMediumImg ul {
    width: 364px;
    left: 14px;
    top: 36px;
    background: transparent;
}
.stationMediumImg ul li {
    background: #FFF;
    opacity: 0.9;
    border: 0;
    height: auto;
    margin-bottom: 2px;
}
.stationMediumImg ul li.unitOpen {
    height: auto;
}
.stationMediumImg a.linkMore {
    color: #F90;
    text-decoration: none;
    font-weight: bold;
    background: transparent url(../images/css/icon-linkmore.png) no-repeat right 4px;
    padding-right: 8px;
}
.stationMediumImg a.linkMore:hover {
    background: transparent url(../images/css/icon-linkmore-hover.png) no-repeat right 4px;
}

.stationFour .unitStation {
    padding-bottom: 10px;
}
.stationFour p.linkMore {
    bottom: 0;
    padding: 0 0 0 8px;
    position: absolute;
}
/*
 * Submenu
 */
.assemblyLeft {
    margin-top: -30px;
}/*
.assemblyLeft .itemOpen .itemOpen ul li a {
    background: #F5F5F5;
    font-weight: normal;
}*/
.assemblyLeft ul li {
    border: 0;
}
.assemblyLeft ul li ul li {
    border-top: 1px solid #CCC;
}
.assemblyLeft li a.itemOpen {
    background: #FFF none;
    font-size: 14px;
    color: #056;
    padding-left: 0;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.assemblyLeft li ul li a.itemOpen {
    background: #FFF none;
    font-size: 11px;
    color: #000;
    padding-left: 10px;
}
.assemblyLeft li ul li ul li ul li {
    border: 0;
}/*
.assemblyLeft .itemOpen .itemOpen a {
    background: #E5E5E5;
    font-weight: bold;
}
.assemblyLeft .itemOpen .itemOpen .itemOpen a,
.assemblyLeft .itemOpen .itemOpen .itemOpen .itemOpen a {
    font-weight: bold;
}
.assemblyLeft .itemOpen .itemOpen .itemOpen ul a {
    font-weight: normal;
}*/
.assemblyLeft li ul li ul li ul li a {
    padding-left: 25px;
}

.assemblyRight {
    overflow: visible;
}

.stationFour .listSmall li {
    border-bottom: 1px solid #D7D7D7;
    padding: 8px 0 8px 8px;
    background-position: 0 14px;
}
.stationFour .listSmall li.last {
    border-bottom: 0px;
}

.stationFour p.linkMore a, .stationFour a.linkMore, .listingItem .morelink a {
    color: #F90;
    text-decoration: none;
    font-weight: bold;
    background: transparent url(../images/css/icon-linkMore.png) no-repeat right 4px;
    padding-right: 8px;
}

.stationHeaderIn .itemHeaderLogo {
    height: auto;
    top: -61px;
    z-index: 1;
}
.stationHeaderIn .itemDate span {
    width: 100%;
    background: none;
}

.assemblyContent ul.list li,
.assemblyContent ul.listSmall li {
    background: url("../images/css/icon-opsomming.png") no-repeat scroll 0 5px transparent;
    padding: 1px 0 1px 15px;
}

.assemblySub p.linkDirectBtm,
.stationForm p.itemBtn {
    clear: both;
    background: transparent url(../images/css/background-button.png) no-repeat left 0;
    height: 36px;
    border: 0;
    width: auto;
    display: inline-block;
    padding-left: 4px;
    float: right;
}
.assemblySub p.linkDirectBtm a,
.stationForm p.itemBtn button {
    display: block;
    padding: 0 45px 0 10px;
    font-weight: bold;
    font-size: 14px;
    float: none;
    height: 36px;
    line-height: 36px;
    background: transparent url(../images/css/background-button.png) no-repeat right 0;
}
.assemblySub p.linkDirectBtm:hover,
.stationForm p.itemBtn:hover {
    background: transparent url(../images/css/background-button.png) no-repeat left -47px;
}
.assemblySub p.linkDirectBtm a:hover,
.stationForm p.itemBtn button:hover {
    text-decoration: none;
    background: transparent url(../images/css/background-button.png) no-repeat right -47px;
}

.stationCarousel .unitCarousel {
    background: none repeat scroll 0 0 transparent;
}
.stationCarousel ul li {
    background: url(../images/css/shadow-sliderimage.png) no-repeat scroll center top #FFFFFF;
    width: 170px;
    height: 136px;
    border: 0;
}
.stationCarousel .itemArrowRight {
    background: url("../images/css/button-nextarrow.png") no-repeat scroll center 7px transparent;
}
.stationCarousel .itemArrowRight:hover {
    background: url("../images/css/button-nextarrow-hover.png") no-repeat scroll center 7px transparent;
}
.stationCarousel .itemArrowLeft {
    background: url("../images/css/button-previousarrow.png") no-repeat scroll center 7px transparent;
}
.stationCarousel .itemArrowLeft:hover {
    background: url("../images/css/button-previousarrow-hover.png") no-repeat scroll center 7px transparent;
}

.assemblySide .listSmall li, .assemblySide .itemFilter li {
    border-bottom: 1px solid #D7D7D7;
    background: url("../images/listArrow.gif") no-repeat scroll 0 12px transparent;
    padding: 8px 0 8px 10px;
}
.assemblySide .listSmall li.last, .assemblySide .itemFilter li.last {
    border: 0;
}
.assemblySide .itemBlock {
    background: #F3F3F3 none;
}

.paginationBar ul {
    float: left;
    padding: 0 0 10px;
}
.paginationBar ul li.next a {
    background: url("../images/css/button-nextarrow.png") no-repeat scroll 0px center transparent;
    height: 18px;
}
.paginationBar ul li.next a:hover {
    background: url("../images/css/button-nextarrow-hover.png") no-repeat scroll 0px center transparent;
    height: 18px;
}
.paginationBar ul li.prev a {
    background: url("../images/css/button-previousarrow.png") no-repeat scroll 0px center transparent;
    height: 18px;
}
.paginationBar ul li.prev a:hover {
    background: url("../images/css/button-previousarrow-hover.png") no-repeat scroll 0px center transparent;
    height: 18px;
}
.paginationBar ul li a {
    background: transparent url(../images/css/button-pagination.png) no-repeat 0 center;
    height: 18px;
    color: #000000;
}
.paginationBar ul li a:hover {
    background: transparent url(../images/css/button-pagination-hover.png) no-repeat 0 center;
    height: 18px;
    color: #FFF;
}
.paginationBar ul li span {
    color: #005566;
}

.listingItem .listingItemImage {
    float: left;
    padding: 3px 10px 0 0;
}
.listingItem p {
    margin-left: 175px;
    padding: 0;
}

.stationForm {
    background: url(../images/css/background-form.png) no-repeat scroll 0 0 transparent;
}
.stationForm fieldset {
    border-bottom: 0;
}
.stationForm label {
    float: none;
    display: block;
    width: auto;
    font-size: 12px;
    color: #000;
}
.stationForm p span {
    float: none;
}
.stationForm .inputText {
    width: 458px;
}
.stationForm .inputText,
.stationForm select {
    height: 26px;
}
.stationForm input,
.stationForm select {
    font-size: 13px;
}

.calendarDaysHeader {
    width: 700px;
    height: 26px;
    border: 0;
    float: none;
    background: transparent url(../images/css/background-tableheader.png) no-repeat -1px 0;
    padding-top: 8px;
}
.calendarDaysHeader p.date {
    background-color: transparent;
    border: 0;
    color: #FFF;
}
.calendarDayCell p.pastdate {
    background-color: #E9E9E9;
    color: #ACACAC;
    font-weight: bold;
    height: 105px;
    padding: 2px 10px 2px 0;
    position: absolute;
    text-align: right;
    width: 89px;
}
.calendarDayCell p.date {
    background: transparent url(../images/css/background-tablecell.png) repeat-x center 0;
    color: #005566;
    font-weight: bold;
    height: 105px;
    padding: 2px 10px 2px 0;
    position: absolute;
    text-align: right;
    width: 89px;
    font-size: 16px;
}
.calendarDayCell .event {
    margin-top: 20px;
}
.calendarDayCell.currentdate .date {
    background: #FFF url(../images/css/background-tablecellactive.png) repeat-x center 0;
    color: #FFFFFF;
}
.calendarDayCell.currentdate .event {
    border: 0 none;
}

.publisher-denhaag {
    border-color: #056;
}

.assemblyFooter {
    border: 0;
    background: transparent;
}
.unitFooter {
    width: 945px;
    border: 0;
}
.unitFooterPath {
    display: none;
}
.unitFooter li.itemCustom {
    padding: 0 342px 0 11px;
    background: none transparent;
}