/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: print.css $               */
/* Last changed by:         $Author: bsrijnm $                              */
/* Last modified:           $Date: 2013-01-29 11:24:44 +0100 (Tue, 29 Jan 2013) $                                          */
/* Revision number:         $Rev: 236 $                                      */
/*                                                                          */
/****************************************************************************/

body {background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:75%; line-height:140%;}
.assemblyGlobal {background:transparent; margin:0 5%; padding:0; width:90%;}
.unitLogo img {position:relative; right:0; top:0; border:none; float:right;}
a {color:#000; text-decoration:underline;}

.unitTopPath, form, a.accessibilityNav, .unitLogo, .stationHeader, .assemblyMenu, .assemblyFooter, .assemblySide, .assemblyLeft, .itemHeaderLogo, .artikelUsefulInfo, .pageToolBox, .stationForm, .hideForm, .hideSocial, .accessibilityNav, .unitFormRis, .itemSort, .searchForm, #rs_form {display:none;}

.unitTopPath {margin:0; padding:0; list-style:none; font-size:91.7%;}
.unitTopPath li {display:inline; margin:0; padding:0; color:#646464;}
.unitTopPath li a {color:#646464; text-decoration:none;}
.unitTopPath li span {padding:0 5px;}

.itemRubrik {clear:both; font-weight:bold; border:1px solid #000; padding:1px 3px; float:left; clear:both;}

h1 {font-size:183.3%; padding:5px 0; margin:0; clear:both;}
h2 {font-size:150%; padding:5px 0; margin:0;}
h3, h4 {font-size:100%; padding:3px 0; margin:0;}
p, ul, ol {margin:0; padding:0 0 10px 0;}
p.itemTitle {color:#646464; font-weight:bold;}
p.itemDate span {display:block;}

.assemblySub ul {list-style-type:square; padding-left:9px; margin-left:9px;}
.assemblySub ul li {padding:1px 0;}
.assemblySub ul ul {padding:0;}
.assemblySub .itemImgRight, .assemblySub .itemImgLeft, .assemblySub .itemImgCenter, .assemblySub .unitFlash, .assemblySub .unitMap {padding:0 0 10px 0;}

.assemblySub ol {padding:0 0 10px 0; margin:0;}
.assemblySub ol li {padding:2px 0 2px 20px; margin:0;}
.assemblySub ol ol {font-size:100%; padding:0;}

.assemblySub ol.noListType {margin:0 0 10px 0; padding:0; list-style:none;}
.assemblySub ol.noListType li {padding:1px 0; margin:0; position:relative;}
.assemblySub ol li span.itemNumber {font-size:100%; font-weight:bold; padding:0 5px 0 0;}
.assemblySub ol.noListType ol {margin:0 0 0 20px;}

table {border-collapse:collapse; width:100%; margin:0 0 10px 0;}
td, th {vertical-align:top; border:1px dotted #000; padding:5px 8px;}
.column-content a {color:#000; text-decoration:underline;}

/* display the url after linktext in css2-compliant browsers */
.assemblySub a:link:after, .assemblySub a:visited:after {content:" (" attr(href) ") "; color:#000;}


.assemblyRis {width: 100%;}
.assemblyRis h1 {margin-bottom: 20px; font-size: 24px;}
.assemblyRis h2 {font: 24px;}
.assemblyRis h3, h4 {font-size: 16px;}
.assemblyRis .risItemAgn h4 {font-size: 13px;}
.assemblyRis h5 {font-size: 13px; margin: 0; padding: 10px 0;}
.risUser dt {width: 80px; float: left;}

.assemblyRis a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 0;}
.assemblyRis a:link[href^="/"]:after, a[href^="/"]:visited:after {content: " (" attr(href) ") "; font-size: 0;}
.assemblyRis a[href^="http://"] {text-decoration: underline;}

.assemblyRis .risAgn dt span {width: 40px; font-weight: bold; font-size: 14px; left: -40px; position: absolute;}
.assemblyRis .risAgn dt {font-weight: bold; font-size: 14px; left: 40px; position: relative;}

.assemblyRis a[href^="#"]:link:after,
.assemblyRis a[href^="#"]:visited:after {
	content: " (" attr(href) ") ";
	font-size: 0;
}

.skiplinks {
	display:none;
}