/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: structure.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2012-08-29 11:53:16 +0200 (Wed, 29 Aug 2012) $                                          */
/* Revision number:         $Rev: 165 $                                      */
/*                                                                          */
/****************************************************************************/

body {margin:0; padding:0; background:#fff url(../images/bodyBg.gif) repeat-y center; text-align:center; font-family:Arial, Helvetica, sans-serif;}

img {border:none; vertical-align:top;}
ul, ol, li, form, fieldset, p, dl, dt, dd {list-style:none; margin:0; padding:0; line-height:142%;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0;}
input, textarea, select, button {font-family:Arial, Helvetica, sans-serif; vertical-align:top; color:#000;}
/* button::-moz-focus-inner {border:0; padding:0;} fix firefox padding - not valid */
fieldset {border:none;}
legend {display:none;}
a {color:#000; text-decoration:none;}
a:hover {color:#007E66; text-decoration:underline;}
button.itemBtn {padding:0; margin:0; cursor:pointer; overflow:visible; width:auto; height:20px; border:1px solid #008F79; background:#008F79;}
button.itemBtn span {color:#fff; float:left; width:auto; position:relative; white-space:nowrap; height:16px; font-weight:normal; line-height:16px; padding:0 10px;}

a.accessibilityNav {position:absolute; top:-1000px; left:0; z-index:1000; font-size:14px; padding:2px; font-weight:normal; background:#008F79; color:#fff;}
a.accessibilityNav:focus, a.accessibilityNav:active {top:4px; left:0; color:#fff;}
a.accessibilityLink {font-size:0px; line-height:0px; font-size:0px; overflow:hidden; float:left;}

.assemblyGlobal {width:945px; background:#fff; margin:0 auto; text-align:left; position:relative; /*z-index:1;*/}

/* header style */
.assemblyHeader {background:#EDEDED; height:106px; width:946px; float:left;}
	.assemblyHeader .unitLogo {float:right; padding:15px;}
	.assemblyHeader .stationHeader {float:left; width:542px; padding:13px 0 0 0; margin:0 0 0 -10px;}
/* header top list style */
	.unitListHeader li {float:left; padding:0 11px 0 10px; background:url(../images/headerSeparator.gif) no-repeat right center; margin:0 -1px 0 0;}
	.unitListHeader li.itemLast {background:none;}
	.unitListHeader a {color:#222;}
	
	.unitListHeader a.iconSpeak {background:url(../images/headerIcon.gif) no-repeat 0 2px; padding:0 0 0 15px;}
	.unitListHeader a.iconMobile {background:url(../images/headerIcon.gif) no-repeat 0 -39px; padding:0 0 0 12px;}
	.unitListHeader a.iconRss {background:url(../images/headerIcon.gif) no-repeat 0 -79px; padding:0 0 0 15px;}
	.unitListHeader a.iconContact {background:url(../images/headerIcon.gif) no-repeat 0 -120px; padding:0 0 0 17px;}
	.unitListHeader a.iconNewsLetter {background:url(../images/headerIcon.gif) no-repeat 0 -162px; padding:0 0 0 15px;}
	.unitListHeader a.iconLogin {background:url(../images/headerIcon.gif) no-repeat 0 -204px; padding:0 0 0 15px;}
	
	.unitListHeader li.itemSize {display:none;}
	.unitListHeader li.itemSize a {float:left; margin:0 1px; text-decoration:underline;}
	.unitListHeader li.itemSize a.itemActive {text-decoration:none;}
	.unitListHeader li.itemSize li {padding:0 1px; margin:0; background:none;}
	.unitListHeader li.showElement {display:block;}
	
	.unitListHeader li.itemLang {position:relative; padding:0 0 0 11px; /*z-index:120;*/}
/* header lang list style */
.itemLang a {padding:0 18px 0 0; display:block; width:82px; background:url(../images/headerLangArrow.gif) no-repeat right center;}
	li.itemLang a:hover {text-decoration:none;}
	li.itemLang a span {font-weight:bold; padding:0 5px 0 0;}
	li.itemLang ul {position:absolute; visibility:hidden; padding:4px 6px; left:10px; width:165px; background:#fff; border:1px solid #E0E0E0; z-index:120;}
	li.itemLang ul li {float:none; background:none; padding:0; white-space:nowrap;}
	li.itemLang ul li a {background:none; border-top:1px solid #D5D5D5; display:block; width:auto; padding:1px; height:1%;}
	li.itemLang ul li.itemActive a {color:#17914B;}
	li.itemLang ul li a:hover {background:#E7E7E7;}
/* header search style */
.unitFormHeader {float:right; position:relative; margin:-1px 0 0 0;}
	.unitFormHeader label, .unitFormHeader span.valueText {position:absolute;left:-1000em;/*display:none;*/}
	.unitFormHeader input.itemInput {border:1px solid #DEDEDE; background:#fff; width:124px; float:left; margin:0 5px 0 0; padding:2px 0 2px 5px; color:#646464;}
	.unitFormHeader button.itemBtn {border:1px solid #D4D4D4; background:#F3F3F3;}
	.unitFormHeader button.itemBtn span {padding:0 10px 0 25px; background:url(../images/headerBtnIcon.gif) no-repeat 8px 3px; color:#646464;}
/* top menu style */
.assemblyMenu {position:relative; width:945px; margin-top:-32px; left:0; /*z-index:100;*/ float:left; border-bottom:1px solid #EDEDED;}
	.assemblyMenu li {float:left; padding:0 5px 0 0; position:relative;}
	.assemblyMenu li a {font-weight:bold; display:block; padding:6px 35px 8px 12px; background:#fff; line-height:125%; position:relative; /*z-index:10;*/ border:1px solid #fff; border-bottom:none;}
	.assemblyMenu li.itemSub a {background:#fff url(../images/menuArrow.gif) no-repeat right 11px;}
	.assemblyMenu li a:hover {text-decoration:none; color:#007E66;}
	.assemblyMenu li.itemHover {z-index:12;}
	.assemblyMenu li.itemHover a {border:1px solid #007E66; border-bottom:none; z-index:13;}
	.assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover {border:1px solid #007E66; border-bottom:none; background:#007E66 url(../images/menuArrow.gif) no-repeat right -20px;color:#fff;}
	/* sub top menu style */
	.assemblyMenu .unitSubMenu {visibility:hidden; position:absolute; border:1px solid #007E66; background:#fff; left:0; top:30px; width:385px; padding:10px 0 10px 15px; z-index:12;}
	.assemblyMenu .unitSubMenu ul {float:left; width:175px; padding:0 15px 0 0;}
	.assemblyMenu .unitSubMenu li {float:none;}
	.assemblyMenu .unitSubMenu li a, .assemblyMenu li.itemHover .unitSubMenu li a {padding:7px 3px 6px 3px; border:none; border-bottom:1px solid #CCCCCC; line-height:115%; overflow:hidden; background:none; color:#000; height:1%;}
	.assemblyMenu .unitSubMenu li a:hover, .assemblyMenu li.itemHover .unitSubMenu li a:hover {background:#eaeaea;}
/* top click path style */
.unitTopPath {color:#666666; line-height:120%; width:930px; float:right;}
	.unitTopPath ul {padding:5px 0; float:left;}
	.unitTopPath ul li {float:left; padding:0 5px 0 0;}
	.unitTopPath ul li span {display:none;}
	.unitTopPath ul li a {color:#007E66; padding:0 8px 0 0; background:url(../images/topPathArrow.gif) no-repeat right center;}
/* footer style */
.assemblyFooter {clear:both; padding:0 0 0 15px; background:#fff; float:left; border-left:1px solid #E1E1E1;}
.unitFooterPath {border:1px solid #D3D3D3; border-right:none; padding:10px 0; font-weight:bold; float:left; width:929px;}
	.unitFooterPath ul {padding:0 0 0 10px;}
	.unitFooterPath li {float:left; line-height:116%; padding:0 10px 0 0;}
	.unitFooterPath li a {display:block; background:url(../images/footerPathArrow.gif) no-repeat 0 0; padding:3px 0 3px 15px;}
.unitFooterList {width:930px;}
	.unitFooterList dl {width:150px; padding:10px 0 10px 15px; float:left;}
	.unitFooterList dt {color:#646464; padding:0 0 5px 0; font-weight:bold;}
	.unitFooterList dd {padding:1px 0;}
	.unitFooterList a {color:#646464;}
.unitFooter {padding:15px 0; color:#646464; float:left; width:930px; border-top:1px solid #D3D3D3; position:relative; margin:-1px 0 0 0;}
	.unitFooter li {float:left; line-height:110%; padding:0 11px 0 10px; margin:0 0 0 -1px; position:relative; z-index:1; background:url(../images/headerSeparator.gif) no-repeat left center;}
	.unitFooter li.itemCustom {padding:0 40px 0 0; background:#fff; z-index:2;}
	.unitFooter a {color:#646464;}

.assemblyContainer {width:945px; float:left; background:#fff; clear:both; border-left:1px solid #E1E1E1;}
	.assemblyContainer .assemblySub {float:right; width:930px; overflow:hidden;}
.assemblyRight {width:707px; float:right; padding:0 0 25px 0; overflow:hidden;}
.assemblyLeftWide {width:720px; float:left;}