/* CSS Document */

/*	Stylesheet for denhaag.nl          */
/*	Author: Robin Lok		        */
/* 	Company: Bureau F&U		        */
/*  VERSION: 1.0                        */



h2, a:hover, .menu li.topItem a:hover, .searchResultItem .date, .generalForm form input.submit:hover {
	color: #0082f3;
}

.sideMenu ul li a, .sideMenu ul li.expanded li.active a, .sideMenu ul li.expanded li a:hover {
	color: #0082f3;
}

.menu li.topItem a.active span, .menu li.topItem a.active, .menu li.topItem a.active:hover, .navigation-form li.active, .navigation-form li a:hover {
	background-color: #0082f3;
}

.menu li.topItem a.active, .menu li.topItem a.active:hover, .menu li.topItem:hover {
	border-left: 1px solid #0082f3;
}

.menu li.topItem a.active:hover {
	color: #ffffff;
}

.menu li.topItem .subMenu {
	border: 1px solid #0082f3;
}

#mycarousel {
	background-color: #F1F1F1;
	}

/*Branding block*/

.containerTypeB a.more {
	background-color: #56822B;
	}

/* Verbergen: Topmenu, kruimelpad, grijze vlakken in accordion, datum listingpagina*/
ul.secondRow, .topMenu, ul.crumbpath, .highLightsNoAccordion .items, .highLightsNoAccordion .item, .searchResultItem .date { display: none; }

/*Verbergen: logoblokken op to_pagina*/
.rightColumn .logoBlocks {visibility:hidden;}

/*Logo in topmenu*/
.header {
	background: #EDEDED url('../images/logo-haeghegroep.gif') no-repeat 0 3em;
}

/*terug en verder: carousel*/
#mycarousel .jcarousel-prev, #mycarousel .jcarousel-next, #mycarousel .jcarousel-next:hover, #mycarousel .jcarousel-prev:hover {
	background-color: #0082f3;
	}

/*Vormgeving Meer-knop*/
.containerTypeA ul li.more a, .containerTypeA ul li.more a:hover {
	background-color:#0082f3;
	}

/*Datum bij agenda*/
ul.overzicht div.date {
	color: #0082f3;
	}
	
/*Terug en verder: paginatie op resultatenpagina*/	
.content ul.paging li.backTo a, .content ul.paging li.backTo a:hover, .content ul li.forward a, .content ul li.forward a:hover, .content ul.paging li a:hover{
	background-color: #0082f3;
	}
	
	
/*vormgeving button "zie ook"-kolom*/

.containerTypeC p a.button {
background:#0082f3 none repeat scroll 0 0;
color:white;
display:block;
font-size:1.2em;
font-weight:bold;
height:1em;
padding:0.5em;
text-align:center;
width:11em;
}

.menu li.topItem  a span{
	background:url(../images/bg_topitem_disabled.gif) right 5px no-repeat;
	padding-right: 29px;
}

.content ul.list li{
	background:url(../images/icn_listitem_blue.gif) 0px 8px no-repeat;
	padding:2px 0 2px 15px;
}

.sideMenu ul li a {
	color: #0082f3;
	display:block;
	font-weight:bold;
	margin:0px 0px 0px 5px;
	/*background:url(../images/icn_sideMenu.gif) right 0px no-repeat;*/
	
}
.sideMenu ul li a:hover{
	/*background:url(../images/icn_sideMenu.gif) right -20px no-repeat;*/
}

/* 2nd to last item in the list is expanded, displays arrow pointing down */
.sideMenu ul li.expanded a {
	background:url(../images/icn_sideMenu.gif) right -80px no-repeat;
}

.sideMenu ul li.expanded a:hover {
	background:url(../images/icn_sideMenu.gif) right -60px no-repeat;
}

ul.fastLinks li {
	background:transparent url(../images/icn_menu_listitem.gif) no-repeat scroll 0px 5px;
	padding: 0 0px 4px 8px;
	font-size: 12px;
}