/*Algemene instellingen*/

.tweet { float: left; }
.tweet .tweet_list { -webkit-border-radius: .5em; list-style-type: none; margin: 0; padding: 0;   }
.tweet .tweet_list li { overflow: hidden; padding: 0.2em; margin-bottom: 0.3em; list-style-type: none; }
.tweet .tweet_list li a { color: #17916B;  text-decoration: underline; margin-left: -0.5em; }
.tweet .tweet_list li span { color: black; font-size: 105%; margin-top: -2em; }
.tweet .tweet_list .tweet_odd {list-style-type: none;}
.tweet .tweet_list .tweet_even {list-style-type: none; background-color: #E1E1E1; }
.tweet .tweet_list .tweet_avatar { padding-right: .5em; float: left; }
.tweet .tweet_list .tweet_avatar img { float: left; margin: .2em 0 -1em -0.2em; border-width: 1; width: 40px; height: 40px; }

/*Twitterfeed in rechterkolom artikel*/

.tweetcontainer2 { padding: 0 0.2em 0 0.4em; width: 173px; /*height: 700px;*//*width: 32em;*/ margin: 2em 0 1em -1.0em; text-align: left; border: 0.1em solid #E1E1E1; overflow: hidden;  background-color: white; } 
.tweetcontainer2 p, .tweetcontainer2 ul { margin-bottom: 1em; }
.tweetcontainer2 ul { padding-left: 2em; list-style-type: none; }
.tweetcontainer2 ul li { list-style-type: square;  margin-left: 0;}
.tweetcontainer2 .twitterimage { width: 150px; height: 30px; position: relative; margin: 0.2em 0 0.2em 0.2em; padding: 0 0 0.3em 0; border-width: 0; border-bottom: 0.1em solid #E1E1E1; }

/*Twitterfeed in container*/

.tweetcontainer1 {
margin-top: -3.3em;
}

.tweetcontainer1 .twitterimage {
width: 150px; 
height: 30px; 
position: relative; 
padding: 0 0 0.3em 0; 
border-width: 0; 
border-bottom: 0.1em solid #E1E1E1; 
}


