@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;

#header {
width: 495px;
height: 379px;
overflow: hidden;
}

#duurzaamhuis {
position: relative;
width: 495px;
height: 379px;
background: #fff url(../images/duurzaamhuis.png) no-repeat;
padding: 0;
}

#duurzaamhuis li, #duurzaamhuis li a {
display: block;
position: absolute;
list-style: none;
margin: 0;
padding: 0;
}

#duurzaamhuis a {
display: block;
text-indent: -9999px;
text-decoration: none;
outline: none;
cursor: hand;
}

#isolatie {
left: 4px;
top: 4px;
z-index: 10;
}

#isolatie a {
width: 495px;
height: 379px;
}

#isolatie a:hover {
background: url(../images/duurzaamhuis.png) 0px -379px no-repeat;
position: absolute;
left: -4px;
top: -4px;
}

#panelen {
left: 153px;
top: 30px;
z-index: 20;
}

#panelen a {
width: 495px;
height: 379px;
}

#panelen a:hover {
background: url(../images/duurzaamhuis.png) 0px -758px no-repeat;
position: absolute;
left: -153px;
top: -30px;
}

#glas {
left: 302px;
top: 5px;
z-index: 30;
}

#glas a {
width: 495px;
height: 379px;
}

#glas a:hover {
background: url(../images/duurzaamhuis.png) 0px -1137px no-repeat;
position: absolute;
left: -302px;
top: -5px;
}

#daken {
left: 352px;
top: 120px;
z-index: 40;
}

#daken a {
width: 495px;
height: 379px;
}

#daken a:hover {
background: url(../images/duurzaamhuis.png) 0px -1516px no-repeat;
position: absolute;
left: -352px;
top: -120px;
}