@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;

#header {
width: 705px;
height: 306px;
overflow: hidden;
}

#wereldbaan {
position: relative;
width: 705px;
height: 306px;
background: #fff url(../images/header.png) no-repeat;
padding: 0;
}

#wereldbaan li {
display: block;
position: absolute;
list-style: none;
margin: 0;
padding: 0;
}

#wereldbaan a {
display: block;
text-indent: -9999px;
text-decoration: none;
outline: none;
cursor: hand;
}

#edip {
left: 33px;
top: 129px;
z-index: 10;
}

#edip a {
width: 705px;
height: 306px;
}

#edip a:hover {
background: url(../images/header.png) 0px -306px no-repeat;
position: absolute;
left: -33px;
top: -129px;
}

#monique {
left: 170px;
top: 129px;
z-index: 20;
}

#monique a {
width: 705px;
height: 306px;
}

#monique a:hover {
background: url(../images/header.png) 0px -612px no-repeat;
position: absolute;
left: -170px;
top: -129px;
}

#gert-jan {
left: 341px;
top: 104px;
z-index: 30;
}

#gert-jan a {
width: 705px;
height: 306px;
}

#gert-jan a:hover {
background: url(../images/header.png) 0px -918px no-repeat;
position: absolute;
left: -341px;
top: -104px;
}

#tina {
left: 510px;
top: 120px;
z-index: 40;
}

#tina a {
width: 705px;
height: 306px;
}

#tina a:hover {
background: url(../images/header.png) 0px -1224px no-repeat;
position: absolute;
left: -510px;
top: -120px;
}

.icon-twitter {
 background: transparent url(/static/denhaagpresentation/images/css/icon-social.png) no-repeat 1px -7px;
}
.icon-facebook {
 background: transparent url(/static/denhaagpresentation/images/css/icon-social.png) no-repeat 1px -57px;
}
.icon-linkedin {
 background: transparent url(/static/denhaagpresentation/images/css/icon-social.png) no-repeat 1px -107px;
}
.icon-hyves {
 background: transparent url(/static/denhaagpresentation/images/css/icon-social.png) no-repeat 1px -157px;
}