body {margin:0; text-align: center\9; padding:0; background:#fff url(http://www.denhaag.nl/static/projectsites/mijnraad/images/bodyBg.gif) repeat-y center; font-family:Arial, Helvetica, sans-serif; font-size:1em; line-height:1em;}
img {border:none; vertical-align:top;}
ul, ol, li, form, fieldset, p, dl, dt, dd {list-style:none; margin:0; padding:0;}
h2 {margin: 0 0 1.0em 0; padding:0;}
h1, h3, h4, h5, h6 {margin: 0; padding:0;}
input, textarea, select, button {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; vertical-align:top; color:#000;}
fieldset {border:none;line-height:142%; list-style:none outside none; margin:0; padding:0;}
legend {display:none;}
a {color:#000; text-decoration:underline;}
a:hover {color:#007E66;}
input, textarea, select, button {font-size:1em;}
.hideElement {display:none;}
a.linkAccessibility {position:absolute; top:-1000px; left:0; z-index:1000; padding:2px; font-weight:normal; background:#008F79; color:#fff;}
a.linkAccessibility:focus, a.linkAccessibility:active {top:4px; left:0; color:#fff;}
.mijnraad_wrapGlobal {width:946px; background:#fff; margin:0 auto; text-align:left; position:relative; z-index:1;}
.mijnraad_wrapPage {width:945px; overflow:hidden; background:#fff; border-left:1px solid #E1E1E1; border-top:1px solid #E1E1E1;}
.mijnraad_wrapPage .mijnraad_wrapInner {float:right; width:930px; padding:15px 0 0 0;}
.wrapLeft {float:left; width:549px;}
.wrapRight {float:right; width:360px;}
.wrapResult {float:left; width:468px; padding:10px 0 0 0;}
.wrapSide {float:right; width:273px;}
.mijnraad_wrapHeader {background:#EDEDED; width:946px; overflow:hidden;}
.mijnraad_wrapHeader .unitLogo {float:right; padding:10px 15px;}
.mijnraad_wrapHeader .unitBack {margin:8px 0 0 5px; background:url(http://www.denhaag.nl/static/projectsites/mijnraad/images/backIcon.gif) no-repeat 0 3px; padding:0 0 0 10px; color:#6E6E6E;}
.mijnraad_wrapHeader .unitBack a {text-decoration:underline; color:#6E6E6E;}
.mijnraad_wrapHeader .unitBack a:hover { color: #007E66; }
.mijnraad_wrapHeader h2#mijnraadtitel { font-size: 325%; margin: 0.4em 0 0 0.38em; font-variant:small-caps; }	
.mijnraad_wrapFooter {width:945px; overflow:hidden; background:#fff; }
.mijnraad_wrapFooter ul {padding:10px 0; color:#646464; background:url(http://www.denhaag.nl/static/projectsites/mijnraad/images/footerLogoImg.gif) no-repeat right top; float:right; width:930px; border-top:1px solid #D3D3D3; position:relative; margin-top: 1.5em; }
.mijnraad_wrapFooter li {float:left; line-height:1em; padding:0 11px 0 10px; margin:13px 0 20px -1px; position:relative; z-index:1; border-left:1px solid #646464;}
.mijnraad_wrapFooter li.itemCustom {padding:0 20px 0 0; margin:0; background:#fff; z-index:2; border:none;}
.mijnraad_wrapFooter li.itemCustom .unitText {float:left; padding:13px 0 20px 0;}
.mijnraad_wrapFooter li.itemCustom .unitImg {float:left; padding:0 20px 0 0;}
.mijnraad_wrapFooter a {color:#646464;}
.mijnraad_wrapGlobal, .viewTooltipMap {font-size:0.750em} /* 12px */
.mijnraad_wrapHeader .unitBack {font-size:0.917em;} /* 11px */
.mijnraad_wrapFooter ul {font-size:0.917em;} /* 11px */
#mr-main-info h2, #mr-introduction h2 { margin: 0 0 1.0em 0; }
.listingItem { border-bottom:1px solid #D6D6D6; margin:0 0 10px; padding:0 0 10px; }
.listingItem h4 a { text-decoration: none; font-size: 0.9em\9; }
.listingItem .morelink { font-size:91.7%; }
.stationForm p .inputText {width:155px; border:1px solid #CCCCCC; padding:2px; color:#646464; margin:0;}
.stationForm p select {border:1px solid #CCCCCC; padding:1px; color:#646464; width:162px; margin:0;}
.stationForm {background:#f0f0f0; margin:0 0 10px 0; width:495px;}
.stationForm form {text-align:left; padding:15px; overflow:hidden; width:465px;}
.stationForm fieldset {border-bottom:1px solid #D9D9D9; width:465px; padding:0 0 10px 0;}
.stationForm h3 span {float:left; font-weight:bold; color:#000;}
.stationForm em {color:#F00; padding:0 4px; font-style:normal;}
.stationForm p {padding:10px 0 0 0; overflow:hidden; width:465px;}
.stationForm p span {float:right; width:310px; text-align:left;}
.stationForm label {color:#272727; font-weight:bold; float:left; width:140px; padding:1px 7px 0 0; text-transform:lowercase;}
.stationForm label em {color:#F00; padding:0 4px;}
.stationForm .inputText {width:236px; border:1px solid #CCCCCC; padding:2px; color:#646464; margin:0 4px 0 0;}
.stationForm input {vertical-align:middle; margin:0;}
.stationForm select {border:1px solid #CCCCCC; padding:2px; color:#646464; width:242px; margin:0 4px 0 0;}
.stationForm textarea {border:1px solid #CCCCCC; padding:2px; color:#646464; width:236px; height:120px;} 	
.stationForm p.itemBtn {float:right; width:auto;}
.stationForm button {padding:0; margin:0; cursor:pointer; overflow:visible; width:auto; height:20px; border:1px solid #008F79; background:#008F79;}
.stationForm button strong {color:#fff; float:left; width:auto; position:relative; white-space:nowrap; height:16px; font-weight:normal; line-height:16px; padding:0 10px; margin:0 6px 0 0; background:url(http://www.denhaag.nl/static/projectsites/mijnraad/images/navNextArrow.gif) no-repeat right center;}
#mr-navigation .mr-menu { background-color:#F5F5F5; border-bottom:1px solid #CCCCCC; clear:both; color:#007E66; font-size:11px; margin:17px 0; padding:5px 10px; text-align:right; }
#mr-primary-links .list { margin-top: 1em; }
#mr-primary-links .list li a { text-decoration:none; }
#mr-primary-links .list li a:hover { text-decoration:underline; }
#mr-primary-links h3 { margin: 1em 0 1em 0; }
#mr-main-info h3 { margin: 1em 0 1em 0; }
.mr-eventlist { margin: 1em 0; }

/* 19/08/2011 verwijderen blokjes  */
.mijnraad_wrapFooter ul { background: none; }