/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/mijndenhaag                                               */
/*                                                                          */
/* Filename:                $File: mijndenhaag_overrule.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2013-08-16 15:00:44 +0200 (Fri, 16 Aug 2013) $                                          */
/* Revision number:         $Rev: 266 $                                      */
/*                                                                          */
/****************************************************************************/

@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;

h1 {
    line-height: 135%;
    font-size: 163.6%;
}
table {
    
    border-spacing: 0;
}
td, tbody th {
    height: 15px;
}
a.active {
    background-color: #4D7D88;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 5px;
}
caption {
    border-bottom: 1px solid #CCC;
    text-align: left;
    padding: 2px;
    font-weight: bold;
}
.valign-top {
    vertical-align: top;
}
.align-right {
    text-align: right;
}
.error,
.attention {
    color: #FF0000;
}
th.bottom {
    vertical-align: bottom;
}

.icon-incomplete {
    background: transparent url(../images/css/icon-incomplete.png) no-repeat;
    width: 14px; height: 16px;
    display: inline-block;
    margin-right: 10px;
}
.icon-pending {
    background: transparent url(../images/css/icon-pending.png) no-repeat;
    width: 14px; height: 16px;
    display: inline-block;
    margin-right: 10px;
}
.icon-recieved {
    background: transparent url(../images/css/icon-recieved.png) no-repeat;
    width: 14px; height: 16px;
    display: inline-block;
    margin-right: 10px;
}
.icon-print {
    background: url(../images/css/icoon_printer.gif) no-repeat;
    height: 18px;
    display: inline-block;
    padding-left: 20px;
}

.assemblyHeader {
    border-bottom: 10px solid #C4C4C4;
}
.assemblyMenu ul#servicenav li {
    color: #FFFFFF;
    font-size: 11px;
    padding: 0 11px 0 10px;
    font-weight: bold;
    line-height: 125%;
}
.assemblyMenu .stationHeader {
    float: right;
    padding-top: 5px;
    width: 510px;
}

    .leftBox {position:relative; float:left; width: 665px; margin:0px 30px 50px 0px; min-height:500px; }
    .leftBoxInner {position:relative; float:left; width: 660px; padding:8px 5px 18px 18px; margin-top:15px;}
    .leftBoxInner a {text-decoration:underline;cursor: pointer;}
    .leftBoxInner h3 {font-size: 115%; margin-bottom:15px;}
    .leftBoxInner .label {width: 125px; float:left; margin-right:25px;}
    .leftBoxInner .value {width: 340px; float:right; text-align:left;}

    .leftBoxDetail {position:relative; float:left; width: 700px; margin:0px 30px 50px 0px; min-height:500px; }
    .leftBoxInnerDetail {position:relative; float:left; width: 695px; padding:8px 8px 18px 18px; margin-top:15px;}
    .leftBoxInnerDetail a {text-decoration:underline;}
    .leftBoxInnerDetail a:hover {text-decoration:none;}

    .rightBox {position:relative; float:right; width: 215px; padding:7px 8px 10px 12px; margin-top:23px; background: url("../images/stationThreeBg.png") no-repeat scroll left top #E7E7E7; }
    .rightBox2 {position:relative; float:right; width: 215px; padding:7px 8px 10px 12px; margin-top:18px; }
    .rightBox3 {position:relative; float:right; width: 190px; padding:7px 8px 10px 12px; margin-top:18px; }
    .rightBoxInner{ width: 215px; }
    .rightBoxInner a {text-decoration:underline;}
    .rightBox h3 {font-size: 115%; margin-bottom:8px;}
    .rightBox2 h3 {font-size: 115%; margin-bottom:8px;}
    .rightBoxOut {position:relative; float:right; width: 304px; padding:8px 0px 15px 0px; margin-top:15px; }

    .rightBoxDetail {position:relative; float:right; width: 200px; padding:8px 0px 15px 10px; margin-top:23px; background: url("../images/stationThreeBg.png") no-repeat scroll left top #E7E7E7; }
    .rightBoxInnerDetail { width: 190px; }
    .rightBoxDetail h3 {font-size: 115%; margin-bottom:8px;}
    .rightBoxDetail img {margin-right:10px;}

.unitService {
    float: left;
    margin: 42px 0 0 0;
}
.unitService li {
    background: url("../images/headerSeparator.gif") no-repeat scroll right center transparent;
    float: left;
    padding: 0 10px;
}
.unitService li.itemLast {
    background: none;
}

.itemHeaderLogo {
    position: absolute;
    top: -30px; right: 0;
}

.collapsible {
    
}
.collapsible-title {
    font-size: 100%;
}
.collapsible-title a {
    /*background: #F5F5F5;*/
   background: #4D7D88;
    /*color: #54522C;*/
   color: #FFF;
    display: block;
    height: 2.2em;
    line-height: 2.2em;
    padding: 0 10px 0 25px;
    margin: 0 0 4px;
    text-decoration: none;
}
.all-collapsible .ui-state-default a {
    /*background: #F5F5F5 url(../images/css/open.png) no-repeat left center;*/
    background: #4D7D88 url("../images/css/open-hover.png") no-repeat left center;
}
.all-collapsible .ui-state-active a {
    background: #4D7D88 url("../images/css/close-hover.png") no-repeat left center !important;
    color: #FFF !important;
}
.ui-accordion .collapsible-title a:hover {
    /*background: #3F9584 url(/images/css/open-hover.png) no-repeat left center;*/
    background: #F5F5F5 url("../images/css/open.png") no-repeat left center;
    color: #FFF;
   color: #4D7D88;
}
.ui-accordion .all-collapsible .ui-state-active a:hover {
    background: #4D7D88 url("../images/css/close-hover.png") no-repeat left center;
}
.collapsible-content {
    padding: 10px 10px 18px;
}
.collapsible-content table {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
.collapsible-content th {
    padding-left: 0;
}
.collapsible-content td {
    padding: 5px 0;
    font-size: 12px;
}
.collapsible-content table img {
    max-height: 120px;
}
.collapsible-content tr.total td:first-child {
    border-top: none;
    padding-right: 40px;
}
.collapsible-content tr.total td {
    border-top: 1px solid #000;
}

table[summary=Details] td {
    border-top: 1px solid #CCC;
}

.assemblyRis .stationForm p span {
    width: 335px;
}
.stationForm h2 {
    width: auto;
}
.stationForm p.itemBtn {
    margin-right: 38px;
}
.stationForm p.itemLink {
    float: right;
    line-height: 28px;
    margin-right: 38px;
    width: auto;
}
.leftBoxInner h1 {
    margin-bottom: 60px;
}
.rightBox {
    margin-top: 110px;
}
.rightBox h3 {
    margin-bottom: 18px;
}
.listSmall li {
    /*background: url("/static/denhaagpresentation/images/listArrow.gif") no-repeat scroll 0 7px transparent;*/
    padding: 1px 0 1px 10px;
}
.rightBox .listSmall li {
    background: url("../images/css/listArrow.gif") no-repeat scroll 0 8px transparent;
}
.rightBox .listSmall li.active-li {
    background-position: 0 13px;
}
.rightBox2 a {
    text-decoration: underline;
}


.ui-accordion-content {
    display: none;
}
.ui-accordion-content-active {
    display: block;   
}

/*
 * Tooltip
 */
.icon-tooltip {
    background: transparent url('../images/css/risHelpIcon.gif') no-repeat 0 0;
    display: inline-block;
    width: 14px; height: 14px;
    text-indent: -9999px;
    text-align: left;
}
.js-on .rich-tooltip {
    border: 1px solid #BFBFBF;
    color: #666;
    padding: 6px;
    text-align: left;
    background: #FEF9D1;
}
