/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: largest-size.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2011-12-14 08:56:29 +0100 (Wed, 14 Dec 2011) $                                          */
/* Revision number:         $Rev: 29 $                                      */
/*                                                                          */
/****************************************************************************/

body {font-size:62.5%; line-height:142%;} /* 10px */
input, textarea, button, select {font-size:14px;}
/* global font size */
.assemblyGlobal {font-size:160%;} /* 16px */
.assemblyHeader {font-size:87.5%;} /* 14px */
	.unitListHeader a.normalSize {font-size:100%; line-height:108%; padding:3px 0 0 0;} /* 14px */
	.unitListHeader a.largerSize {font-size:108.1%; line-height:105%; padding:2px 0 0 0;} /* 15px */
	.unitListHeader a.largestSize {font-size:118.2%; line-height:108%; padding:1px 0 0 0;} /* 16px */

.assemblySub h2 {font-size:112.5%;} /* 18px */
.assemblySub h3, .assemblyContent h4 {font-size:100%;} /* 16px */
.assemblySub ul.listAnker {font-size:87.5%;} /* 14px */

	.stationThree h3, .stationFour h3 {font-size:112.5%;} /* 18px */
	.stationThree .textCnt {font-size:87.5%;} /* 14px */
	.stationThree p.linkMore {font-size:107.1%;} /* 15px */
	.stationFour p.linkMore, .stationFour a.linkMore, .assemblySide p.linkMore {font-size:87.5%;} /* 14px */

	.stationFour .listLinkCustom, .stationFour .listSmall {font-size:100%;} /* 16px */
	.stationFour .listSmall li span.itemDate {font-size:87.5%;} /* 14px */

.assemblyMenu {font-size:100%;} /* 16px */
	.assemblyMenu .unitSubMenu {font-size:87.5%;} /* 14px */

/* home page style */
.stationMediumImg {font-size:100%;} /* 15px */
	.stationMediumImg h2 {font-size:173.3%;} /* 26px */
	.stationMediumImg a.linkMore {font-size:93.3%;} /* 14px */
	.stationMediumImg .unitSingle p {font-size:120%;} /* 18px */

.assemblyLeft {font-size:93.3%;} /* 14px */
	.assemblyLeft li a.itemOpen {background-position:0 -183px}
	.assemblyLeft li ul li a.itemOpen {background-position:15px -183px}
	.assemblyLeft li.itemOpen a {background-position:right -83px}
	.assemblyLeft li.itemOpen a:hover {background-position:right 13px}
.unitTopPath {font-size:87.5%;} /* 14px */
.assemblyFooter {font-size:87.5%;} /* 14px */

.assemblySub {font-size:93.8%;} /* 15px */
.assemblySide h2, .assemblySide h3 {font-size:112.5%;} /* 18px */
.assemblySide .itemFilter h3 {font-size:100%;}
.assemblySide .calendarDaysHeader, .assemblySide .calendarCellsWrapper {font-size:87.5%;} /* 14px */
.pollAntwoorden div, .assemblySide .itemFilter li span {font-size:87.5%;} /* 14px */

.stationHeaderIn {font-size:93.8%;} /* 15px */
	.stationHeaderIn h1 {font-size:146.7%;} /* 22px */
	.stationHeaderIn h2 {font-size:120%;} /* 18px */

.paginationBar, .listingToolBar, .fotoToolBox {font-size:87.5%;} /* 14px */

.unitLoketNav h3, .unitLoketNav h2 {font-size:112.5%;} /* 18px */
.unitLoketNav .unitLoketSearch a {font-size:87.5%;} /* 14px */

.listingTitle {font-size:112.5%;} /* 18px */
	.listingTitle span em, .listingTitle a {font-size:77.8%;} /* 14px */
.listingItem h4 {font-size:106.3%;} /* 17px */
	.listingItem .date, .listingItem .morelink, .listingItem .locatie {font-size:77.8%;} /* 14px */
.listNotifications h3 {font-size:120%;} /* 18px */
.listNotifications h4, .listNotifications ul {font-size:113.3%;} /* 17px */
.listNotifications ul span {font-size:88.2%;} /* 15px */
.unitFilter {font-size:81.3%;} /* 13px */
.listTip .listingItemBody p {font-size:131.3%;} /* 21px */

.hideForm, .hideSocial {font-size:140%;} /* 14px */
	.hideForm h3 {font-size:128.6%;} /* 18px */
	.hideForm .closePopup {font-size:77.8%;} /* 14px */
	.assemblyGlobal .hideForm {font-size:87.5%;} /* 14px */
.stationForm h3, .searchForm h3 {font-size:112.5%;} /* 18px */
	.stationForm h3 span.itemLink {font-size:77.8%;} /* 14px */
	.artikelUsefulInfo .stationForm h3 span.itemLink {font-size:82.4%;} /* 14px */
	.stationForm label {font-size:87.5%;} /* 14px */
	
.artikelUsefulInfo .stationForm h3 {font-size:106.3%;} /* 17px */

.innerContent table, .carouselNbr ul li a {font-size:87.5%;} /* 14px */
.innerContent table thead, .fotoToolBox .unitSlide {font-size:107.1%;} /* 15px */

.unitSitemapLevels h2 {font-size:112.5%;} /* 18px */
.unitSitemapLevels .arrowList {font-size:87.5%;} /* 14px */
.unitSitemapLevels .arrowList .arrowList {font-size:100%;} /* 14px */

.tableForum tbody td {font-size:87.5%;} /* 14px */
.itemTitle h2 {font-size:100%;}

.calendarCellsWrapper .event, .assemblySide .calendarCellsWrapper {font-size:87.5%;} /* 14px */
.calendarCellsWrapper .eventmore a {font-size:81.3%;} /* 13px */
.politiekeKalenderContainer .calendarDate {font-size:112.5%;} /* 18px */

.listSearch .listingItemBody h4 {font-size:113.3%;} /* 17px */
.fotoCarousel .unitText h3 {font-size:113.3%;} /* 17px */
/* fixed size blocks */
.assemblyHeader .stationHeader {width:606px;}
	.itemLang a {width:110px;}
	li.itemLang ul {width:215px;}
	
button.itemBtn {height:22px;}
button.itemBtn span {line-height:18px; height:18px;}
.unitFormHeader button.itemBtn span {background-position:8px 4px;}
.assemblyMenu li a {padding:5px 35px 6px 12px; line-height:117%;}
.stationMediumImg h1 {padding:5px 0; line-height:normal;}
.stationMediumImg ul li.unitOpen {height:117px;}
.stationThree p.linkMore a {background-position:right 6px;}
.stationThree p.linkMore a:hover {background-position:right -65px;}
.stationMediumImg .unitSingle button.itemBtn span {background-position:5px 2px;}
.unitForum .unitForum {background-position:28px 9px;}
.paginationBar ul li a, .paginationBar ul li span {width:10px;}
.assemblySub ul li, .listNotifications ul.arrowList li, .assemblySide .listSmall li, .unitLoketLinks .listSmall li {background-position:0 8px;}
.assemblySub ol ol {padding:0 0 0 30px;}
	.assemblySub ol ol span.itemNumber {left:-30px;}
.assemblySub ol ol ol {padding:0 0 0 40px;}
	.assemblySub ol ol ol span.itemNumber {left:-40px;}
.assemblySub ol ol ol ol {padding:0 0 0 50px;}
	.assemblySub ol ol ol ol span.itemNumber {left:-50px;}
.assemblySub p.linkDirectBtm a, .assemblySub p.linkDirectTop a, .listingImageTeaser p.linkMore a {background-position:right 6px;}
.assemblySub p.linkDirectBtm a:hover, .assemblySub p.linkDirectTop a:hover, .listingImageTeaser p.linkMore a:hover {background-position:right -64px;}
.stationForm button {height:22px;}
.stationForm button b {line-height:18px; height:18px;}

.paginationBar ul li.next a, .paginationBar ul li.prev a {background-position:10px center;}
.toolBoxStuurDoor {background-position:8px 10px;}
.toolBoxReageer {background-position:8px -60px;}
.toolBoxPrint {background-position:8px -134px;}
.toolBoxStuurFoto {background-position:8px -349px;}
.toolBoxDownloadFoto {background-position:8px -417px;}
.toolBoxToevoegen {background-position:8px -207px;}
.toolBoxToevoegenOpen {background-position:8px -279px;}
.toolBoxStuurVideo {background-position:8px -484px;}
.toolBoxPdf {background-position:8px -623px;}
.toolBoxSlide {background-position:8px -693px;}

.calendarDayCell p.event {height:84px;}
.unitSitemapLevels ul li ul li {background-position:0 8px;}