/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: normal-size.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2012-02-15 16:59:20 +0100 (Wed, 15 Feb 2012) $                                          */
/* Revision number:         $Rev: 55 $                                      */
/*                                                                          */
/****************************************************************************/

body {font-size:62.5%; line-height:142%;} /* 10px */
input, textarea, button, select {font-size:11px;}
/* global font size */
.assemblyGlobal {font-size:130%;} /* 13px */
.assemblyHeader {font-size:84.6%;} /* 11px */
	.unitListHeader a.normalSize {font-size:100%; line-height:118%; padding:3px 0 0 0;} /* 11px */
	.unitListHeader a.largerSize {font-size:109.1%; line-height:118%; padding:1px 0 0 0;} /* 12px */
	.unitListHeader a.largestSize {font-size:118.2%; line-height:121%;} /* 13px */

.assemblySub h2 {font-size:125%;} /* 15px */
.assemblySub h3, .assemblyContent h4 {font-size:100%;} /* 13px */
/*.assemblySub ul.listAnker {font-size:91.7%;} 11px */

	.stationThree h3, .stationFour h3 {font-size:125%;} /* 15px */
	.stationThree .textCnt {font-size:91.7%;} /* 11px */
	.stationThree p.linkMore {font-size:109.1%;} /* 12px */
	.stationFour p.linkMore, .stationFour a.linkMore, .assemblySide p.linkMore {font-size:91.7%;} /* 11px */

	.stationFour .listLinkCustom, .stationFour .listSmall {font-size:100%;} /* 12px */
	.stationFour .listSmall li span.itemDate {font-size:91.7%;} /* 11px */

.assemblyMenu {font-size:100%;} /* 13px */
	.assemblyMenu .unitSubMenu {font-size:84.6%;} /* 11px */

/* home page style */
.stationMediumImg {font-size:100%;} /* 12px */
	.stationMediumImg h2 {font-size:208.3%;} /* 25px */
	.stationMediumImg a.linkMore {font-size:91.7%;} /* 11px */
	.stationMediumImg .unitSingle p {font-size:150%;} /* 15px */

.assemblyLeft {font-size:91.7%;} /* 11px */
.unitTopPath {font-size:84.6%;} /* 11px */
.assemblyFooter {font-size:84.6%;} /* 11px */

.assemblySub {font-size:92.3%;} /* 12px */
.assemblySide h2, .assemblySide h3 {font-size:125%;}
.assemblySide .itemFilter h3 {font-size:100%;}
.assemblySide .calendarDaysHeader, .assemblySide .calendarCellsWrapper {font-size:91.7%;} /* 11px */
.pollAntwoorden div, .assemblySide .itemFilter li span {font-size:91.7%;}

.stationHeaderIn {font-size:91.7%;} /* 11px */
	.stationHeaderIn h1, .stationHeaderIn .h1 {font-size:163.6%;} /* 18px */
	.stationHeaderIn h2, .stationHeaderIn .h2 {font-size:136.4%;} /* 15px */

.paginationBar, .listingToolBar, .pageToolBox ul, .fotoToolBox {font-size:91.7%;} /* 11px */

.unitLoketNav h3, .unitLoketNav h2 {font-size:125%;} /* 15px */
.unitLoketNav .unitLoketSearch a {font-size:91.7%;} /* 11px */

.listingTitle {font-size:125%;} /* 15px */
	.listingTitle span em, .listingTitle a {font-size:73.3%;} /*11px*/
.listingItem h4 {font-size:109.1%;} /* 13px */
	.listingItem .date, .listingItem .morelink, .listingItem .locatie {font-size:91.7%;} /* 11px */
.listNotifications h4 {font-size:91.7%;} /* 11px */
.unitFilter {font-size:84.6%;}
.listTip .listingItemBody p {font-size:138.5%;} /* 18px */

.hideForm, .hideSocial {font-size:110%;} /* 11px */
	.hideForm h3 {font-size:136.4%;} /* 15px */
	.hideForm .closePopup {font-size:73.3%;} /* 11px */
	.assemblyGlobal .hideForm {font-size:91.7%} /* 11px */
.stationForm h3, .searchForm h3 {font-size:125%;} /* 15px */
	.stationForm h3 span.itemLink {font-size:73.3%;} /* 11px */
	.artikelUsefulInfo .stationForm h3 span.itemLink {font-size:84.6%;} /* 11px */
	.stationForm label {font-size:91.7%;} /* 11px */
	
.artikelUsefulInfo .stationForm h3 {font-size:109.1%;} /* 13px */

.innerContent table, .carouselNbr ul li a {font-size:91.7%;} /* 11px */
.innerContent table thead, .fotoToolBox .unitSlide {font-size:109.1%;} /* 12px */

.unitSitemapLevels h2 {font-size:125%;} /* 15px */
.unitSitemapLevels .arrowList {font-size:91.7%;} /* 11px */
.unitSitemapLevels .arrowList .arrowList {font-size:100%;} /* 11px */

.tableForum tbody td {font-size:91.7%;} /* 11px */
.itemTitle h2 {font-size:100%;}

.calendarCellsWrapper .event, .assemblySide .calendarCellsWrapper {font-size:91.7%;} /* 11px */
.calendarCellsWrapper .eventmore a {font-size:83.3%;} /* 10px */
.politiekeKalenderContainer .calendarDate {font-size:125%;} /* 15px */

.listSearch .listingItemBody h4 {font-size:116.7%;} /* 14px */
.fotoCarousel .unitText h3 {font-size:116.7%;} /* 14px */

/*Uitgecomment: .assemblySub ul.listAnker {font-size:91.7%;} 11px */

/* H2 grootte aanpassen */

.stationMediumImg h2 {font-size:180.0%;} /* 21.6px*/

/* aanpassen h4 letter grootte in teaser titel no accordion klein target IE8 */
.stationFour .textCnt h4 { font-size/*\**/: 93.0%; }

/* RisBis */
.assemblyRis .assemblySide p.linkMore {font-size:100%;} /* 12px */
.assemblyRis .stationHeaderIn h1 {font-size:200%;} /* 22px */
.assemblyRis .stationHeaderIn p {font-size:127.3%;} /* 14px */
.assemblyRis .stationHeaderIn .itemDate {font-size:109.1%;} /* 12px */
.assemblyRis .assemblyContent {font-size:116.7%;} /* 14px */
.assemblyRis .pageToolBox ul {font-size:80%;} /* 11px++ */
.assemblyRis .risDoc h3 {font-size:114.3%;} /* 16px */
.assemblyRis .risRel, .assemblyRis .searchForm, .assemblyRis .searchLinks {font-size:85.7%;} /* 12px */
.assemblyRis .risRel h4, .assemblyRis .searchForm h3 {font-size:125%;} /* 15px */

.assemblyRis .calendarDaysHeader p.date {font-size:91.7%;} /* 11px */
    .assemblyRis .calendarDayCell .event {font-size:100%;} /* 12px */
    .assemblyRis .calendarDayCell .event span.eventmore a {font-size:100%;} /* 12px */