/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: std.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2011-12-14 08:56:29 +0100 (Wed, 14 Dec 2011) $                                          */
/* Revision number:         $Rev: 29 $                                      */
/*                                                                          */
/****************************************************************************/

a {color:#000;}
a:hover {color:#56822B;}
button.itemBtn {border:1px solid #56822B; background:#56822B;}

a.accessibilityNav {background:#56822B;}
.assemblyContainer .assemblySub {padding:15px 0 0 0;}
/* header style */
.assemblyHeader {background:#EDEDED url(../images/stdVersion/logoStudeer.gif) no-repeat 0 25px;}
.assemblyHeader .stationHeader {display:none;}
/* top menu style */
	.assemblyMenu li.itemSub a {background-image:url(../images/stdVersion/menuArrow.gif);}
	.assemblyMenu li a:hover {color:#56822B;}
	.assemblyMenu li.itemHover a {border:1px solid #56822B; border-bottom:none;}
	.assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover {border:1px solid #56822B; border-bottom:none; background-color:#56822B; color:#fff;}
	/* sub top menu style */
	.assemblyMenu .unitSubMenu {border:1px solid #56822B;}
/* top click path style */
.unitTopPath {display:none;}
/* footer style */
.unitFooterPath li a {background-image:url(../images/stdVersion/footerPathArrow.gif);}
.unitFooterList {display:none;}
.unitFooter li {background:none;}
	.unitFooter a {color:#56822B;}

	.assemblySub p.linkDirectBtm a, .assemblySub p.linkDirectTop a {background-color:#56822B;}
	.assemblySub p.linkDirectBtm a:hover, .assemblySub p.linkDirectTop a:hover {color:#fff;}
	.assemblySub p a {color:#333;}
	.assemblySub p a:hover {color:#56822B;}
	.assemblySub ol span.itemNumber {color:#56822B;}
	.assemblySub ul li {background-image:url(../images/stdVersion/listSquare.gif);}
	.assemblySub ul.listAnker li {background-image:url(../images/stdVersion/listArrow.gif);}
	.assemblySub table caption a {color:#56822B;}
	.assemblySub table td.typeList {background-image:url(../images/stdVersion/listSquare.gif);}
/* home page style */
	.stationMediumImg ul li {background:none;}
	.stationMediumImg .unitSingle button.itemBtn span {background-image:url(../images/stdVersion/videoIcon.gif);}
/* left menu style */
	.assemblyLeft ul li {background:none;}
	.assemblyLeft li a {background:#F5F5F5; color:#000;}
	.assemblyLeft li.itemOpen a {background-image:url(../images/stdVersion/leftMenuArrow.gif); background-color:#fff; color:#56822B;}
	.assemblyLeft li.itemOpen li a {background:#F5F5F5;}
	.assemblyLeft li a.itemOpen {background-image:url(../images/stdVersion/leftMenuArrow.gif);}
	.assemblyLeft li ul li a.itemOpen {background-image:url(../images/stdVersion/leftMenuArrow.gif);}
	.assemblyLeft li ul li ul li.itemOpen a {background-image:url(../images/stdVersion/leftMenuArrow.gif); background-color:#fff;}
	.assemblyLeft ul li a.itemActive {color:#56822B; background:#EAEAEA;}
/* sitemap style */
	.unitSitemapLevels ul li {background-image:url(../images/stdVersion/listArrow.gif);}
	.unitSitemapLevels ul li a:hover {color:#56822B;}
/* four items block style */
	.stationFour .listSmall li {background-image:url(../images/stdVersion/listArrow.gif);}
	/* custom item style */
		ul.listLinkCustom li {background:none;}
/* three items style */
	.stationThree h3, .stationFour h3 {color:#56822B;}
	.stationThree p.linkMore a {background-color:#56822B;}
	.stationThree p.linkMore a:hover {color:#fff; text-decoration:none;}
/* carousel style */
	.stationCarousel .unitCarousel {background:#F1F1F1;}
	.stationCarousel .itemArrowLeft {background-color:#56822B;}
	.stationCarousel .itemArrowRight {background-color:#56822B;}
	.stationCarousel ul li {background:#fff;}
	.stationCarousel .disableArrow {background-color:#ccc;}
	.stationCarousel ul li .textCnt {font-weight:normal;}
/* header content style */
		.stationHeaderIn .itemRubrik span {background-color:#646464;}
/* politieke kalender style */
	.calendarDayCell.currentdate p.date {background-color:#56822B; color:#FFF;}
	.calendarDayCell.currentdate p.event {border:1px solid #56822B; border-top:none;}
/* sidebar style */
	.assemblySide .listSmall li {background-image:url(../images/stdVersion/listArrow.gif);}
/* sidebar form style */
/* sidebar calendar style */
.sideCalendarMonth {color:#000;}
.sideCalendarMonth a.next {background-color:#56822B;}
.sideCalendarMonth a.prev {background-color:#56822B;}
.sideCalendarMonth a:hover {background-color:#ccc; text-decoration:none;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell.currentdate a.date {background-color:#56822B; color:#FFF;}
/* pagination style */
	.paginationBar ul li.next a {background-color:#008795;}
	.paginationBar ul li.prev a {background-color:#008795;}
	.paginationBar ul li a:hover {background-color:#008795; color:#fff;}
	.paginationBar ul li.next a:hover, .paginationBar ul li.prev a:hover {background-color:#999;}

/* listing toolbar, like at mijn raad */
	.listingToolBar ul li {color:#56822B; background:none;}
/* listing style */
	.listingTitle span a:hover {text-decoration:none; color:#56822B;}

		.listingItem .listingItemName span {color:#000;}
	.listingItem .date {color:#56822B;}

	.listNotifications ul.arrowList li {background-image:url(../images/stdVersion/listArrow.gif);}
/* custom listing's item */
		.listingImageTeaser p.linkMore a {background-color:#56822B;}
		.listingImageTeaser p.linkMore a:hover {color:#fff; text-decoration:none;}

	.unitRow .itemBlock a:hover {color:#56822B;}
/* form style */
	.stationForm button {border:1px solid #56822B; background:#56822B;}
	.stationForm a.iconHelp:hover {background-color:#56822B; color:#fff; text-decoration:none;}
/* loket style */
	ul.alphabetBar li {background:none;}
		ul.alphabetBar a:hover {background-color:#56822B; color:#FFF; text-decoration:none;}

	.unitLoketLinks .listSmall li {background-image:url(../images/stdVersion/listArrow.gif);}
/* toolbox style */
	.pageToolBox ul li {background-image:url(../images/toolboxSeparator.gif);}
	.pageToolBox ul li a:hover {color:#56822B;}
/* custom table - forum, poll */
		.tableForum a {text-decoration:underline;}
		.tableForum a:hover {text-decoration:none; color:#56822B;}
	p a.iconAdd {background-image:url(../images/stdVersion/addIcon.gif);}
	p	a.iconAdd:hover {color:#56822B; text-decoration:underline;}
/* forum style */
	.unitForum .itemAutor {color:#56822B;}
/* search style */
	.listSearch .listingItemBody h4 a {color:#56822B;}
	.searchForm a.iconHelpSearch:hover {color:#56822B;}

	.searchForm dd ul li {background-image:url(../images/stdVersion/listArrow.gif);}

	.searchFAQ dt a {background-image:url(../images/stdVersion/accordeonIcon.png);}
	.searchFAQ dt.active a {background-image:url(../images/stdVersion/accordeonIcon.png);}