/****************************************************************************/
/*                                                                          */
/* www.denhaag.nl/                                               */
/*                                                                          */
/* Filename:                $File: txt.css $               */
/* Last changed by:         $Author: bslokxr $                              */
/* Last modified:           $Date: 2011-12-14 10:40:39 +0100 (Wed, 14 Dec 2011) $                                          */
/* Revision number:         $Rev: 34 $                                      */
/*                                                                          */
/****************************************************************************/

body {background:#fff url(../images/txtVersion/bodyBg.gif) repeat-y center;}
img {visibility:hidden;}
.unitLogo img {visibility:visible;}
a {color:#000; text-decoration:none;}
a:hover {color:#000; text-decoration:underline;}

button.itemBtn {border:1px solid #000; background:#fff;}
button.itemBtn span {color:#000;}
a.accessibilityNav {background:#000; color:#fff;}

/* header style */
.assemblyHeader {background:#333333;}
/* header top list style */
	.unitListHeader li {background-image:url(../images/txtVersion/headerSeparator.gif);}
	.unitListHeader a {color:#fff;}
	
	.unitListHeader a.iconSpeak, .unitListHeader a.iconMobile, .unitListHeader a.iconRss, .unitListHeader a.iconContact, .unitListHeader a.iconNewsLetter, .unitListHeader a.iconLogin {background-image:url(../images/txtVersion/headerIcon.gif);}
/* header lang list style */
.itemLang a {background-image:url(../images/txtVersion/headerLangArrow.gif);}
	li.itemLang ul {border:1px solid #666;}
	li.itemLang ul li a {border-top:1px solid #666; color:#000;}
	li.itemLang ul li.itemActive a {color:#000;}
	li.itemLang ul li a:hover {background:#999;}
/* header search style */
	.unitFormHeader input.itemInput {border:1px solid #333; background:#fff; color:#000;}
	.unitFormHeader button.itemBtn {border:1px solid #000; background:#fff;}
	.unitFormHeader button.itemBtn span {color:#000;}
/* top menu style */
.assemblyMenu {border-bottom:1px solid #000;}
	.assemblyMenu li a {background:#fff; border:1px solid #fff; border-bottom:none;}
	.assemblyMenu li.itemSub a {background-image:url(../images/txtVersion/menuArrow.gif);}
	.assemblyMenu li a:hover {color:#333;}
	.assemblyMenu li.itemHover a {border:1px solid #000; border-bottom:none;}
	.assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover {border:1px solid #666; border-bottom:none; background-color:#666; color:#fff;}
	/* sub top menu style */
	.assemblyMenu .unitSubMenu {visibility:hidden; position:absolute; border:1px solid #000; background:#fff;}
	.assemblyMenu .unitSubMenu li a, .assemblyMenu li.itemHover .unitSubMenu li a {border:none; border-bottom:1px solid #999; color:#000;}
	.assemblyMenu .unitSubMenu li a:hover, .assemblyMenu li.itemHover .unitSubMenu li a:hover {background:#999;}
/* top click path style */
.unitTopPath {color:#000;}
	.unitTopPath ul li a {color:#000;}
/* footer style */
.assemblyFooter {background:#fff; border-left:1px solid #333;}
.unitFooterPath {border:1px solid #333; border-right:none;}
	.unitFooterPath li a {background-image:url(../images/txtVersion/footerPathArrow.gif);}
	.unitFooterList dt {color:#333;}
	.unitFooterList a {color:#666;}
.unitFooter {color:#333; background-image:url(../images/txtVersion/footerLogoImg.gif); border-top:1px solid #333;}
	.unitFooter a {color:#333;}

.assemblyContainer {border-left:1px solid #333;}
/* in page style */
	.assemblySub p.linkDirectBtm {border-top:1px solid #000;}
	.assemblySub p.linkDirectTop {border-bottom:1px solid #000;}
	.assemblySub p.linkDirectBtm a, .assemblySub p.linkDirectTop a {background-color:#000;}
	.assemblySub p.linkDirectBtm a:hover, .assemblySub p.linkDirectTop a:hover {background-position:right -66px; color:#fff;}
	.assemblySub p a {color:#000;}
	.assemblySub p a:hover {color:#000;}
.assemblySub h2 {color:#000;}
.assemblySub p.intro, .assemblySub p.itemTitle, .assemblySub p.introTitle {color:#333;}
.assemblySub .itemLine {background:#000;}
.assemblySub .innerContent table td, .assemblySub .innerContent table th, .assemblySub .innerContent table tr.odd td {background:none;}
	.assemblySub ol span.itemNumber {color:#666;}
	.assemblySub ul li {background-image:url(../images/txtVersion/listSquare.gif);}
	.assemblySub ul.listAnker li {background-image:url(../images/txtVersion/listArrow.gif);}
	.assemblySub table caption a {color:#333;}
	.assemblySub table th {background-color:#ddd;}
	.assemblySub table td.typeList {background-image:url(../images/txtVersion/listSquare.gif);}
	.assemblySub table tr.odd td, .assemblySub table tr.odd th {background-color:#ddd;}
/* home page style */
	.stationMediumImg .unitLogo {background-image:url(../images/txtVersion/wideLogoImg.png);}
	.stationMediumImg ul {background-color:#ccc;}
	.stationMediumImg ul li {border-bottom:1px solid #000; background:none;}
	.stationMediumImg ul li.unitClose a {background-image:url(../images/txtVersion/wideImgArrow.gif);}
	
	.stationMediumImg .unitSingle {color:#000;}
	.stationMediumImg .unitSingle button.itemBtn span {background-image:url(../images/txtVersion/videoIcon.gif);}
	.stationMediumImg .unitSingle a {color:#000;}
/* left menu style */
	.assemblyLeft ul {border-bottom:1px solid #333;}
	.assemblyLeft ul li {border-top:1px solid #333; background:none;}
	.assemblyLeft li a {background-color:#E8E8E8; color:#000;}
	.assemblyLeft li.itemOpen a {background-color:#fff; background-image:url(../images/txtVersion/leftMenuArrow.gif); color:#333}
	.assemblyLeft li.itemOpen li a {background:#E8E8E8; color:#000}
	.assemblyLeft li a.itemOpen {background-image:url(../images/txtVersion/leftMenuArrow.gif);}
	.assemblyLeft li ul {border-bottom:none}
	.assemblyLeft li ul li a.itemOpen {background-image:url(../images/txtVersion/leftMenuArrow.gif);}
	.assemblyLeft li ul li ul li.itemOpen a {background-color:#fff; background-image:url(../images/txtVersion/leftMenuArrow.gif);}
	.assemblyLeft ul li a.itemActive {color:#000; background-color:#E8E8E8;}
/* sitemap style */
	.unitHomeLevelItem h2 {border-bottom:1px solid #333;}
	.unitSitemapLevels ul li {background-image:url(../images/txtVersion/listArrow.gif);}
	.unitSitemapLevels ul li ul li {color:#666; background-image:url(../images/txtVersion/listSquare.gif);}
	.unitSitemapLevels ul li ul li a {color:#333;}
/* four items block style */
	.stationFour .listSmall li {background-image:url(../images/txtVersion/listArrow.gif);}
	.stationFour .listSmall li span.itemDate {color:#333;}
	/* custom item style */
	.assemblyRight .stationFour .stationForm {background:none;}
	.assemblyRight .stationFour .stationForm h3 {border:none;}
	.assemblyRight .stationFour fieldset {border:none;}
	.assemblyRight .stationFour p.itemBtn {border:none;}

		ul.listLinkCustom li {border-bottom:1px solid #333; background:none;}
/* three items style */
.stationThree {background:none; margin:0; padding:20px 0 0 1px;}
	.stationThree .unitStation {width:233px; border:1px solid #000; margin:0 0 0 -1px;}
	.stationThree p.linkMore a {background-color:#333; color:#fff;}
/* carousel style */
	.stationCarousel .unitCarousel {background:#ccc;}
	.stationCarousel .itemArrowLeft {left:0; background-color:#333;}
	.stationCarousel .itemArrowRight {right:0; background-color:#333;}
	.stationCarousel .disableArrow {background-color:#ccc;}
	.stationCarousel ul li {background:#fff; border:1px solid #333;}
/* header content style */
	.stationHeaderIn .unitLogoImg {background-image:url(../images/txtVersion/contentLogoImg.gif);}
	.stationHeaderIn h2 {color:#000;}
	.stationHeaderIn .itemHeaderLogo ul li {background:none;}
	.stationHeaderIn .itemRubrik {color:#FFF;}
		.stationHeaderIn .itemRubrik span {background-color:#333;}
	.stationHeaderIn .itemDate {color:#333;}
		.stationHeaderIn .itemDate span {background-image:url(../images/txtVersion/dateSeparator.gif);}
/* politieke kalender style */
.calendarDaysHeader {border-left:1px solid #000;}
.calendarDaysHeader p.date {background-color:#333; color:#fff; border-right:1px solid #fff;}
.calendarDaysHeader p.last {border-right:1px solid #000;}

.calendarCellsWrapper {border-left:1px solid #000; border-top:1px solid #000;}
	.calendarDayCell {border-right:1px solid #000; border-bottom:1px solid #000;}
	.calendarDayCell p.date {background-color:#E8E8E8;}
	.calendarDayCell p.pastdate {background-color:#fff; color:#333;}
	.calendarDayCell.currentdate p.date {background-color:#666; color:#FFF;}
	.calendarDayCell.currentdate p.event {border:1px solid #666; border-top:none;}
	.calendarDayCell p.event span.eventmore a {background-color:#ccc;}
/* sidebar style */
	.assemblySide .itemBlock {background:none; padding:10px 9px 15px; border:1px solid #000;}
	.assemblySide .listSmall li {background-image:url(../images/txtVersion/listArrow.gif);}
	
	.assemblySide dl dt {color:#000;}
	.assemblySide dl dd a {color:#333;}
/* sidebar form style */
.assemblySide .stationForm {background:none; border:1px solid #000;}
	.assemblySide .stationForm form {padding:10px 9px; border:none;}
	.assemblySide .stationForm p .inputText {border:1px solid #333; color:#000;}
	.assemblySide .stationForm p select {border:1px solid #333; color:#000;}
/* sidebar calendar style */
.sideCalendar {background:#fff;}
.sideCalendarMonth {color:#000;}
.sideCalendarMonth a.next {background-color:#333;}
.sideCalendarMonth a.prev {background-color:#333;}
.sideCalendarMonth a:hover {background-color:#666;}
.sideCalendarWrapper .calendarDaysHeader p.date {background-color:#fff; color:#333333; border-right:1px solid #fff; border-bottom:1px solid #333;}
.sideCalendarWrapper .calendarDaysHeader p.last {border:0; border-bottom:1px solid #333;}

	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell {border-right:1px solid #fff; border-bottom:1px solid #fff;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell a.date {background-color:#ccc;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell a.date:hover {background-color:#ccc; color:#FFF;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell span.pastdate {background-color:#fff; color:#666;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell.currentdate a.date {background-color:#999; color:#FFF;}
	.sideCalendarWrapper .calendarCellsWrapper .calendarDayCell p a {background-color:#333;}
/* pagination style */
	.paginationBar ul li a, .paginationBar ul li span {color:#333; background-color:#fff; border:1px solid #333; padding:1px 7px;}
	.paginationBar ul li span {background-color:#fff; color:#000; border:none; padding:2px 7px;}
	.paginationBar ul li.next a {background-color:#fff; background-image:url(../images/txtVersion/navNextArrow.png);}
	.paginationBar ul li.prev a {background-color:#fff; background-image:url(../images/txtVersion/navPrevArrow.png);}
	.paginationBar ul li a:hover {background-color:#ccc; color:#333;}
	.paginationBar ul li.next a:hover, .paginationBar ul li.prev a:hover {background-color:#ccc;}

/* listing toolbar, like at mijn raad */
.listingToolBar {background-color:#666; border-bottom:1px solid #000;}
	.listingToolBar ul li {color:#fff; background:none; border-left:1px solid #fff;}
	.listingToolBar ul li a {color:#fff;}
/* listing style */
.listingTitle {background:#666; color:#fff;}
	.listingTitle span {color:#fff;}
	.listingTitle a {color:#fff;}

.listingItem {border-bottom:1px solid #000;}
		.listingItem .listingItemName span {color:#333;}
	.listingItem .date {color:#333;}
	.listingItem .morelink a {color:#000000;}

	.listNotifications ul.arrowList li {background-image:url(../images/txtVersion/listArrow.gif);}

.listTip {border-top:1px solid #000;}
/* custom listing's item */
.listingImageTeaser {color:#fff; background-color:#666;}
	.listingImageTeaser p.linkMore {white-space:nowrap;}
		.listingImageTeaser p.linkMore a {background-color:#000;}
		.listingImageTeaser p.linkMore a:hover {color:#fff;}

	.unitRow .itemBlock a {color:#000;}
	.unitRow .itemBlock a:hover {color:#333;}
/* form style */
.stationForm {background:none; margin:0 0 10px 0;}
	.stationForm form {border:1px solid #000; padding:15px 14px;}
	.stationForm fieldset {border-bottom:1px solid #000;}
	.stationForm h2, .stationForm h3 {border-bottom:1px solid #000;}
	.stationForm h3 span {float:left; font-weight:bold; color:#000;}
	.stationForm em {color:#333;}
	
	.stationForm label {color:#666;}
	.stationForm label em {color:#333;}
	
	.stationForm .inputText {border:1px solid #333; color:#000;}
	.stationForm p .inputCode, .stationForm p .inputCaptcha {border:1px solid #333; color:#000;}
	.stationForm select {border:1px solid #333; color:#000;}
	.stationForm textarea {border:1px solid #333; color:#000;}

	.stationForm input.inputYear {border:1px solid #333; color:#000;}

	.stationForm button {border:1px solid #000; background:#fff;}
	.stationForm button strong {color:#000; background-image:url(../images/txtVersion/navNextArrow.png);}
	.stationForm p.itemPrevBtn button strong {background-image:url(../images/navPrevArrow.png);}
	
	.stationForm a.iconHelp {background-color:#333; color:#FFF;}
	.stationForm a.iconHelp:hover {background-color:#666; color:#fff;}
	
	.assemblyRight .stationFour form {border:none;}
/* loket style */
.unitLoketNav {border-top:1px solid #333;}
	.loketBtmBorder {border-top:1px solid #333;}
	/* fixed form style */
	.unitLoketSearch .stationForm form {background:none; border:none;}
	
	.unitLoketSearch ul.alphabetBar {border:0;}
		
		ul.alphabetBar {border-bottom:1px solid #333;}
		ul.alphabetBar li {background:none;}
		ul.alphabetBar a {color:#333;}
		ul.alphabetBar a:hover {background-color:#999; color:#FFF;}

	.unitLoketLinks .listSmall li {background-image:url(../images/txtVersion/listArrow.gif);}
/* toolbox style */
	.pageToolBox ul {border:1px solid #333;}
	.pageToolBox ul li {background-image:url(../images/txtVersion/toolboxSeparator.gif);}
	.pageToolBox ul li a {color:#000;}
	.pageToolBox ul li a:hover {color:#333;}
/* social links */
	.hideSocial ul li.mySpaceIcon a, .hideSocial ul li.yahooIcon a, .hideSocial ul li.delusIcon a, .hideSocial ul li.liveIcon a {background-image:url(../images/txtVersion/socialIcon.gif);}
/* comment article style */
	.hideForm fieldset {border-top:1px solid #333;}
	.hideForm label {color:#333;}
	.hideForm .inputText, .hideForm textarea {border:1px solid #333; color:#000;}
	.hideForm em {color:#000;}
	.hideForm p.itemBtn {border-top:1px solid #333;}
	.hideForm button {border:1px solid #000; background:#fff;}
	.hideForm button strong {color:#000;}
/* in content form style */
	.artikelUsefulInfo .stationForm {border-top:1px solid #000;}
	.artikelUsefulInfo .stationForm form {border:none;}
	.artikelUsefulInfo fieldset {border:none;}
	.artikelUsefulInfo .stationForm h3, .artikelUsefulInfo .stationForm p {border:none;}
	.artikelUsefulInfo .stationForm p.itemTxtArea {border-bottom:1px solid #000;}
/* custom table - forum, poll */
.pollAntwoorden {padding:10px 9px; border:1px solid #000; background:none;}
	.pollAntwoorden h2 {border-bottom:1px solid #000;}
	.pollAntwoorden p span {color:#666;}
	.pollAntwoorden .smallTitle {border-top:1px solid #000;}
table.tableForum {border-bottom:1px solid #333;}
	.tableForum thead tr th {background-color:#666; color:#FFF; border-right:1px solid #fff;}
	.tableForum tbody tr td {color:#000; border-right:1px solid #333;}
	.tableForum tbody tr.odd td {background-color:#ccc;}
		.tableForum a:hover {color:#000;}
	p a.iconAdd {background-image:url(../images/txtVersion/addIcon.gif);}
	p	a.iconAdd:hover {color:#333;}
/* forum style */
div.itemTitle {background:#666;}
	div.itemTitle h2 { color:#fff;}
.unitForum {border-top:1px solid #666;}
	.unitForum .unitForum {background-image:url(../images/txtVersion/forumItemIcon.gif);}
	.unitForum p.itemInfo {color:#666; border-bottom:1px solid #666;}
	.unitForum .itemAutor {color:#000;}
	.unitForum .textCnt {border-bottom:1px solid #D6D6D6;}
	.unitForumOdd {background:#f8f8f8;}

.viewCallCentre {background:#f8f8f8;}
	.viewCallCentre h2, .viewCallCentre h3, .viewCallCentre ul, .viewCallCentre ol, .viewCallCentre p {color:#000;}
	.viewCallCentre ol span.itemNumber {color:#000;}

.sideCallCentre ul {border:1px solid #000;}
	.sideCallCentre ul li a {background-color:#ccc; background-image:url(../images/ccArrow.gif);}
	.sideCallCentre ul li a:hover {color:#000; background-color:#ccc;}
/* search style */
	.listSearch .listingItemBody h4 a {color:#000;}
	
.searchForm {background:none;}
	.searchForm form {padding:15px 9px; border:1px solid #000;}
	.searchForm h3 {border-bottom:1px solid #000;}
	.searchForm .inputText {border:1px solid #333; color:#000;}
	.searchForm button.itemBtn {border:1px solid #000; background:#fff;}
	.searchForm button.itemBtn strong {color:#000;}
	.searchForm a.iconHelpSearch:hover {color:#333;}
	.searchForm dd ul li {background-image:url(../images/txtVersion/listArrow.gif);}

	.searchFAQ dt {border-bottom:1px solid #666;}
	.searchFAQ dt.active {border:0;}
	.searchFAQ dt a {background-image:url(../images/txtVersion/accordeonIcon.png);}
	.searchFAQ dt.active a {background-image:url(../images/txtVersion/accordeonIcon.png);}
	.searchFAQ dd {border-bottom:1px solid #666;}