/* CSS Document */

/*	Stylesheet for denhaag.nl          */
/*	Author: Fernand van Olphen		        */
/* 	Company: Bureau I&I		        */
/*  VERSION: 1.0                        */



h2, a:hover, .menu li.topItem a:hover, .searchResultItem .date, .generalForm form input.submit:hover {
	color: #56822B;
}

.sideMenu ul li a, .sideMenu ul li.expanded li.active a, .sideMenu ul li.expanded li a:hover {
	color: #426321;
}

.menu li.topItem a.active span, .menu li.topItem a.active, .menu li.topItem a.active:hover, .navigation-form li.active, .navigation-form li a:hover {
	background-color: #56822B;
}

.menu li.topItem a.active, .menu li.topItem a.active:hover, .menu li.topItem:hover {
	border-left: 1px solid #56822B;
}

.menu li.topItem a.active:hover {
	color: #ffffff;
}

.menu li.topItem .subMenu {
	border: 1px solid #56822B;
}

#mycarousel {
	background-color: #F1F1F1;
	}

/*Branding block*/

.containerTypeB a.more {
	background-color: #56822B;
	}

/* Verbergen: Topmenu, kruimelpad, grijze vlakken in accordion, datum listingpagina*/
ul.secondRow, .topMenu, ul.crumbpath, .highLightsNoAccordion .items, .highLightsNoAccordion .item, .searchResultItem .date { display: none; }

/*Verbergen: logoblokken op to_pagina*/
.rightColumn .logoBlocks {visibility:hidden;}

/*Logo in topmenu*/
.header {
	background: #EDEDED url('../images/logo-studeer-in-den-haag.gif') no-repeat 0 3em;
}

/*terug en verder: carousel*/
#mycarousel .jcarousel-prev, #mycarousel .jcarousel-next, #mycarousel .jcarousel-next:hover, #mycarousel .jcarousel-prev:hover {
	background-color: #56822B;
	}

/*Vormgeving Meer-knop*/
.containerTypeA ul li.more a, .containerTypeA ul li.more a:hover {
	background-color:#56822B;
	}

/*Datum bij agenda*/
ul.overzicht div.date {
	color: #56822B;
	}
	
/*Terug en verder: paginatie op resultatenpagina*/	
.content ul.paging li.backTo a, .content ul.paging li.backTo a:hover, .content ul li.forward a, .content ul li.forward a:hover, .content ul.paging li a:hover{
	background-color: #56822B;
	}
	
	
/*vormgeving button "zie ook"-kolom*/

.containerTypeC p a.button {
background:#56822B none repeat scroll 0 0;
color:white;
display:block;
font-size:1.2em;
font-weight:bold;
height:1em;
padding:0.5em;
text-align:center;
width:11em;
}