@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;


/* CSS Document */

/*Stylesheet for denhaag.nl*/
/*Author: Robin Lok*/
/*Aangepast 10-09-2010: Mark van Rijn*/
/*Company: Bureau F&U*/
/*VERSION: 1.1*/


/*Algemeen*/
a:hover {  text-decoration: underline;  }

/*Kleur randen menu*/
.assemblyMenu li.itemHover a, .assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover,.assemblyMenu .unitSubMenu 
{border:1px solid #56822b;}


/* top menu style */
.assemblyMenu {position:relative; width:945px; margin-top:-32px; left:0; z-index:100; float:left; border-bottom:1px solid #EDEDED;}
.assemblyMenu li {float:left; padding:0 5px 0 0; position:relative;}
.assemblyMenu li a {font-weight:bold; display:block; padding:6px 35px 8px 12px; background:#fff; line-height:125%; position:relative; z-index:10; border:1px solid #fff; border-bottom:none;}
.assemblyMenu li.itemSub a {background:#fff url(../images/menuArrow.gif) no-repeat right 11px;}
.assemblyMenu li a:hover {text-decoration:none;}
.assemblyMenu li.itemHover {z-index:12;}
.assemblyMenu li.itemHover a {border-bottom:none; z-index:13;}
.assemblyMenu li.itemActive a, .assemblyMenu li.itemActive a:hover {background: #56822b url(../images/menuArrow.gif) no-repeat right -20px; border-bottom:none;  color:#fff;}

/* sub top menu style */
.assemblyMenu .unitSubMenu {visibility:hidden; position:absolute; background:#fff; left:0; top:30px; width:385px; padding:10px 0 10px 15px; z-index:12;}
.assemblyMenu .unitSubMenu ul {float:left; width:175px; padding:0 15px 0 0;}
.assemblyMenu .unitSubMenu li {float:none;}
.assemblyMenu .unitSubMenu li a, .assemblyMenu li.itemHover .unitSubMenu li a {padding:7px 3px 6px 3px; border:none; border-bottom:1px solid #CCCCCC; line-height:115%; overflow:hidden; background:none; color:#000; height:1%;}
.assemblyMenu .unitSubMenu li a:hover, .assemblyMenu li.itemHover .unitSubMenu li a:hover {background:#eaeaea;}

/* left menu style */
.assemblyLeft {width:195px; float:left; padding:0 0 15px 0;}
.assemblyLeft .topAngle, .assemblyLeft .btmAngle {display:none;}
.assemblyLeft ul {border-bottom:1px solid #CCCCCC; padding:0;}
.assemblyLeft ul li {border-top:1px solid #CCCCCC; padding:0; background:none;}
.assemblyLeft li a {background:#F5F5F5; font-weight:normal; color:#1F1F1F; padding:4px 5px 4px 0; display:block; height:1%}
.assemblyLeft li.itemOpen a {background:#fff url(../images/leftMenuArrow.gif) no-repeat right -86px; font-weight:bold; }
.assemblyLeft li.itemOpen a:hover {background-position:right 10px;}
.assemblyLeft li.itemOpen li a {background:#F5F5F5; font-weight:normal; color:#1F1F1F}
.assemblyLeft li a.itemOpen {background:url(../images/leftMenuArrow.gif) no-repeat 0 -185px; padding-left:10px}
.assemblyLeft li ul {border-bottom:none}
.assemblyLeft li ul li a {padding-left:15px}
.assemblyLeft li ul li a.itemOpen {background:url(../images/leftMenuArrow.gif) no-repeat 15px -185px; padding-left:25px}
.assemblyLeft li ul li ul li a {padding-left:30px;}
.assemblyLeft li ul li ul li.itemOpen a {background:#fff url(../images/leftMenuArrow.gif) no-repeat right -86px;}
.assemblyLeft ul li a.itemActive {background:#EAEAEA;}

/*verbergen kruimelpad*/
.unitTopPath { height: 25px; }
.unitTopPath ul { display:none; }

#mycarousel { background-color: #F1F1F1; }

/*Branding block*/
.containerTypeB a.more { background-color: #56822B; }

/* Verbergen: Topmenu, datum listingpagina*/
/*ul.secondRow, .topMenu, ul.crumbpath, .highLightsNoAccordion .items, .highLightsNoAccordion .item, .searchResultItem .date { display: none; } aangepast*/
.stationHeader {display: none;}

/*Verbergen: logoblokken op to_pagina*/
/*.rightColumn .logoBlocks {visibility:hidden;} aangepast */
.assemblyContainer .unitLogo, .unitLogoImg { display: none;}

/*Logo in topmenu*/
.assemblyHeader { background: #EDEDED url('../images/logo-studeer-in-den-haag.gif') no-repeat 0 3em; }

/*vormgeving button "zie ook"-kolom sidebar style */
.assemblySide {float:right; width:182px;}
.assemblySide .topAngle, .assemblySide .btmAngle {display:none;} 
.assemblySide .itemBlock {background:url(/static/denhaagpresentation/images/stationThreeBg.png) no-repeat top left #E7E7E7; width:162px; padding:10px 10px 15px; margin:0 0 10px 0;}
.assemblySide h2, .assemblySide h3 {line-height:135%; padding:0 0 5px 0; margin:0; color:#000;}
.assemblySide .textCnt {padding:0;}
.assemblySide .listSmall {padding:0;}
.assemblySide .listSmall li {background:url(../images/listArrow.gif) no-repeat 0 7px; padding:1px 0 1px 10px;}
.assemblySide p.linkMore {padding:2px 0 0 10px;}
.assemblySide dl dt {font-weight:bold; color:#333; padding:10px 0 0 0;}
.assemblySide dl dd a {color:#333;}

.assemblySub table td.typeList {background-image:url(../images/listSquare.gif); background-repeat:no-repeat; background-position:10px 11px; padding-left:20px}
ul.list li {padding:1px 0 1px 15px; background:url(../images/listSquare.gif) no-repeat 0 7px;}
.assemblySub ul.listAnker li {background:url(../images/listArrow.gif) no-repeat 0 7px; padding:1px 0 1px 8px;}
.stationFour .listSmall li {background:url(../images/listArrow.gif) no-repeat 0 6px; padding:0 0 2px 8px;}

.assemblyContent p a:link { color:inherit; text-decoration: underline; }
.assemblyContent p a:visited {}
.assemblyContent p a:hover {  text-decoration: underline;  }
.assemblyContent p a:active {  color: inherit; }

/*Projectsite Kleur*/
a:hover, p a.normal:hover, .linkMore a.normal:hover, h3, h3 a, .unitSingle h2, .generalForm form input.submit:hover,.assemblyContent p a:hover,.assemblyMenu li a:hover,.assemblyLeft li.itemOpen a,.assemblyLeft li ul li a:hover,.assemblyLeft ul li a.itemActive,ul.overzicht div.date 
{ color: #56822b;}

/*Projectsite achtergrond kleur*/
.assemblyMenu li.itemActive a,.assemblyMenu li.itemActive a:hover,#mycarousel .jcarousel-prev,#mycarousel .jcarousel-next,#mycarousel .jcarousel-next:hover,#mycarousel .jcarousel-prev:hover,.content ul.paging li.backTo a,.content ul.paging li.backTo a:hover,.content ul li.forward a, .content ul li.forward a:hover,.content ul.paging li a:hover 
{background-color: #56822b;}

/*Caroussel*/
.stationCarousel .itemArrowLeft {left:0; background:#56822b url(/static/denhaagpresentation/images/carouselBackArrow.gif) no-repeat center 7px;}
.stationCarousel .itemArrowRight {right:0; background:#56822b url(/static/denhaagpresentation/images/carouselNextArrow.gif) no-repeat center 7px;}

h4 {font-size: 12px}