@charset "UTF-8";
.targetMap, .crumbpath, .secondRow , .footer ul li a, .oneItem, .mobile , .bottom, .topMenu { display: none; }
/*#uitgelicht_box_doelgroep 
{*/
	/*background-color: #008795;*/

/*}

#projectsiteUitgelicht
{
    background: url(../images/bg_uitgelicht_blue.png) no-repeat 0 25px !important;
    width: 322px; 
    padding-left: 11px;
    padding-right: 11px;
}

#projectsiteUitgelicht h2
{
    margin-left: -11px;    
}

#projectsiteUitgelicht h4
{
    font-size: 1.2em;
    color: #033F8E;   
    margin-bottom: 10px;
    padding-top: 15px;
}
*/
/*
.containersHome .map
{
    background: none;    
}

.header
{
    height: 105px;    
}*/

/*
.menu 
{
    margin-top: 95px;    
}
*/

/*.logoBlocks
{
    background-image: url(../images/img_logoblocks_blue.png); 
    width: 180px;
}

.sideMenu
{
    background: url(../images/logo_projectsite_green.png) no-repeat !important;    
    padding-top: 110px;
}

.containersSubpage .map
{
    background: none;    
}
*/
/*
.footer
{
    padding-bottom: 20px;    
}*/

/* Topmenu */
/*ul.secondRow {	display: none;}
.topMenu { display: none; }*/