@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;


.icon-digid {
background: transparent url(/static/denhaagpresentation/images/css/icon_digid.png) 0 4px no-repeat;
}

.icon-ideal {
background: transparent url(../../denhaagpresentation/images/css/icon_ideal.png) 0 4px no-repeat;
}

.icon-lock {
background: transparent url(../../denhaagpresentation/images/css/icon_lock.png) 0 4px no-repeat;
}