/* CSS Document */

/*	Stylesheet	for denhaag.nl          */
/*	Author: Mischa Lodder		        */
/* 	Company: 	gemeente Den Haag			        */
/*  VERSION: 1.1                        */

/*containerTypeA*/
.containerTypeA{
	float:left;
	margin:0 15px 0 0;
	position:relative;
	/*overflow: hidden;*/
}
.containerTypeA h2{
	font-size:1.5em;
	margin:0px 0px 10px 0px;
}
.containerTypeA ul{
	list-style:none;
}
.containerTypeA ul li{
	font-size:1.2em;
	margin:0px 0px 4px 0px;
}
.containerTypeA ul li a{
	background:url(../images/icn_menu_listitem.gif) 0px 4px no-repeat;
	padding:0px 0px 0px 8px;
	display:block;
	text-decoration:none;
	
}
.containerTypeA ul li a:hover{
	text-decoration:underline;
}
.containerTypeA ul li.more{
	font-size:1.2em;
	position:absolute;
	bottom:-4px;
	right:0px;
}
.containerTypeA ul li.rssSource{
	font-size:1.1em;
	color:#646464;
	font-style:italic;
	position:absolute;
	bottom:-4px;
	left:0px;
}
.containerTypeA ul li.rssSource a{
	background:none !important;
	padding:0px;
}
.containerTypeA ul li.more span{
}
.containerTypeA ul li.more a{
	background:#43125f url(../images/icn_arrowmiddle.gif) right 3px no-repeat;
	padding:1px 20px 2px 10px;
	color:#FFF;
	text-decoration:none;
	position:relative; 
	white-space: nowrap;
}
.containerTypeA ul li.more a:hover{
	background:#43125f url(../images/icn_arrowmiddle.gif) right -14px no-repeat;
}
.containerTypeA ul li.more span a:hover{
}
.containerTypeA ul li.backTo a, .containerTypeA ul li.backTo a{
	background:#43125f url(../images/icn_arrowsmall_backto.gif) center 4px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
.containerTypeA ul li.backTo a,.containerTypeA ul li.backTo a{
	right:16px;
	padding:0px;
}
.containerTypeA ul li.backTo a:hover, .containerTypeA ul li.backTo a:hover{
	background:#43125f url(../images/icn_arrowsmall_backto.gif) center -16px no-repeat;
}

.containerTypeA ul li.forward a, .containerTypeA ul li.forward a{
	background:#43125f url(../images/icn_arrowsmall_forward.gif) center 4px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
	padding:0px;
}

.containerTypeA ul li.forward a:hover, .containerTypeA ul li.forward a:hover{
	background:#43125f url(../images/icn_arrowsmall_forward.gif) center -16px no-repeat;
}

/*containerTypeA  paging*/
.containerTypeA ul.paging{
	list-style:none;
	position:absolute;
	right:0px !important;
	bottom:20px;
	z-index:100;
	border:none !important;
	margin:0px;
	padding:0px;
	width:30px;
	
}
.containerTypeA ul.paging li, 
.containerTypeA ul.paging li a{
	display:block;
	width:3px;
	height:3px;
	text-indent:-9999px;
	float:left;
	line-height:3px;
	overflow:hidden;
	background-color:#CCC;
	margin-right:3px;
}
.containerTypeA ul.paging li a{
	background-color:#000;
}
.containerTypeA ul.paging li a:hover{
	background-color:#43125f;
	cursor:pointer;
}
.containerTypeA p{
	font-size:1.2em;
}
.containerTypeA h3{
	font-size:1.2em;
	font-weight:bold;
	margin:3px 0px 0px 0px;
}
/*.colspan3 img{
	padding:0px 10px 8px 8px;
	background:url(../images/bg_opkaart.png) 0px bottom no-repeat;
}*/
/*DENHAAGOPKAART*/
.containersHome .map{
	background:url(../images/bg_opkaart.png) 0px bottom no-repeat;
	padding:0px 8px 6px 8px;
}
.containersSubpage .map{
	background:url(../images/bg_opkaart_colspan5.gif) 0px bottom no-repeat;
	padding:0px 8px 5px 8px;
}
.containersSubpage .map span{
	width:150px;
	overflow:hidden;
	display:block;
}
.containersSubpage .map span:hover{
	cursor:pointer;
}
/*DENHAAGBOX*/
.colspan4 .denHaagBox{
	background:url(../images/bg_dhlinks.gif) left 0px no-repeat;
	height:226px;
	padding:0px 0px 0px 15px;
	width:172px;
}
.containersHome .denHaagBox img{
	margin:5px 0px 5px 0px;
}
.containersSubpage .colspan5 span{
	width:150px !important;
	display:block;
	overflow:hidden;
}
.containersSubpage .colspan5 .denHaagBox{
	background:url(../images/bg_dhlinks_subpage.gif) left 0px no-repeat;
	height:226px;
	padding:0px 0px 0px 15px;
	width:158px;
	margin:0px !important;
}
.last{
	margin:0px !important;
}
.containersSubpage .denHaagBox img{
	margin:0px 0px 10px -3px;
}
.colspan5 .denHaagBox ul{
	margin:0px;
	padding:0px;
	position:absolute;
}
.denHaagBox ul li{
	display: inline;
	margin:0px !important;
	float:left;
	width:160px;
	overflow:hidden;
	
}
.denHaagBox ul li img{
	float:left;
	position:relative;
	top:-6px;
}
.containersSubpage .colspan5 .denHaagBox img{
	top:0px;
	left:3px;
}
.denHaagBox ul li a{
	/*background:url(../images/icn_example.gif) 0px 0px no-repeat;*/
	padding:3px 0px 5px 30px;
	margin:0px 0px 10px 0px;
	font-weight:bold;
}
.denHaagBox ul li a:hover{
	text-decoration:underline;
}
.denHaagBox ul li.loket a{
	background:url(../images/icn_denhaagbox.gif) 0px 0px no-repeat;
}
.denHaagBox ul li.forum a{
	background:url(../images/icn_denhaagbox.gif) 0px -32px no-repeat;
}
.denHaagBox ul li.vacatures a{
	background:url(../images/icn_denhaagbox.gif) 0px -95px no-repeat;
	
}
.denHaagBox ul li.mijnDenHaag a{
	background:url(../images/icn_denhaagbox.gif) 0px -63px no-repeat;
}
.denHaagBox ul li.gemeenteraad a{
	background:url(../images/icn_denhaagbox.gif) 0px -123px no-repeat;
	padding:5px 0px 5px 30px;
}

/* voorloop formulier */

.form_voorloop {
	width: 175px;
}
.form_voorloop form  {
	overflow-x: hidden;
	width: 175px;
}
.form_voorloop label {
	color: #333;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 0 3px 2px;
	margin-top: 8px;
}
.form_voorloop fieldset {
	/*margin-bottom: 6px;*/
	width: 175px;
	clear: both;
}

.form_voorloop select {
	border: 1px solid #D9D9D9;
	color: #666;
	font-size: 1.1em;
}

.form_voorloop #dates, 
.form_voorloop #months,
.form_voorloop #years {
	float: left;
	margin-right: 4px;
}

.form_voorloop #dates {
	width: 38px;
}

.form_voorloop #months {
	width: 44px;
}

.form_voorloop #years {
	width: 48px;
}

.form_voorloop .btn_search {
	background:transparent url(../images/btn_zoeken.gif) no-repeat scroll 0 0;
	/*clear:both;
	float:right;*/
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.3em;
	font-weight:normal;
	/*margin:11px 0 0 0;*/
	padding:0px 3px 0px 3px;
	text-indent:-999em;
	width:65px;
	height:18px;
    position: absolute; 
    right: 0pt; 
    bottom: 0pt;
}

.form_voorloop .btn_search:hover {
	background:transparent url(../images/btn_zoeken.gif) no-repeat scroll 0 -37px;
	cursor: pointer;
}

.denHaagBoxTop
{
    margin-bottom: 7px;   
 }
 
 .denHaagBoxTop img 
 {
    margin-bottom: 0 !important;    
    height: 50px;
 }

/*end containerTypeA*/

