/* CSS Document */

/*	Stylesheet	for denhaag.nl          */
/*	Author: Mischa Lodder		        */
/* 	Company: 	Bureau I&I		        */
/*  VERSION: 1.0                        */

.containerTypeB 
{
    background-image: none;
    background-color: #f48120;
    border-right: 1px solid #ffffff;
    color: #ffffff;    
}

.menu li.topItem a.active span {
	background-image: url(../images/bg_topitem_active_purple.png) !important;
	}
	
.containerTypeB a.more,
.containerTypeB a.more:hover
{
    background: transparent url(../images/plus_purple.png) no-repeat;
}

.sideMenu
{
    background: url(../images/logo_cultuurforumspui.png) no-repeat !important;    
    padding-top: 110px;
}

a:hover {
	color:#f48120;
	text-decoration:underline;
}

.searchResultItem  .date{
	display: inline;
	color: #f48120;
	margin-left: 0px;
	font-size: 1.1em;
}

.category {
	background: #43125f;
	}
	
/* Topmenu */
ul.secondRow {	display: none;}
.topMenu { display: none; }