/* CSS Document */

/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */


/*CATEGORY*/
.contentContainer .category, .appsContainer .category{
	padding:0px 3px 1px 3px;
	font-size:1.1em;
	background:#646464;
	font-weight:bold;
	color:#FFF;
	display:inline;
	position:relative;
	top:0px;
}
.appsContainer .logoBlocks{
	width:135px;
	height:135px;
	background:url(../images/img_logoblocksinpage.gif) 0 0 no-repeat;
	position:relative;
	float:right;
	z-index:1;
}
#imagefader_logos{
}
.sourceLogo{
	position:relative;
	float:right;
	right:0;
	width: 100px;
	height: 1%;
	top: -54px;
}
.sourceLogo img{
	z-index:0;
	width:100px;
	height:95px;
	position:relative;
}
.contentContainer h1 {
	width: 390px;
}
.contentContainer h2, .appsContainer h2{
	color:#646464;
	margin:10px 0px 6px 0px;
	width: 390px;
	line-height: 1.3em;
}

.appsContainer .containerTypeA h2 {
	width: auto;
}

.contentContainer h2.left{
	width:250px;
}
.contentContainer h2.title{
	color:#000;
	clear:both;
}
.contentContainer h2 span{
	color:#000;
	padding-right:2px;
	font-style:italic;
}
.contentContainer h3{
	/*font-size:1.1em;
	color:#646464;
	font-style:italic;*/
	font-size:1.2em;
	color:#000;
	font-style:normal;
}
.contentContainer .content h3{
	font-size:1.2em;
	color:#000;
	font-style:normal;
	clear: left;
}
.contentContainer h3.source{
	font-size:1.1em;
	font-style:italic;
	font-weight:normal;
	color:#646464;
	width: 390px;
}

.placeReaction h2
{
	padding: 10px 0 0 5px;
}

.contentHeader cite {
	font-size:1.1em;
	font-style:italic;
	color:#646464;
	margin-bottom:2px;
	font-weight:normal;
}
.contentHeader a.backToOverview{
	position:absolute;
	left:0px;
	bottom:11px;
	font-size:1.1em;
	background:url(../images/icnBackToOverview.gif) 0px 3px no-repeat;
	padding:0px 0px 0px 12px;
}

ul.sourceInfo{
	list-style:none;
	font-size:1.1em;
	width:390px;
}
ul.sourceInfo li{
	display:inline;
	font-style:italic;
	color:#646464;
	padding:0px 10px 0px 0px;
	border-right:solid 1px #646464;
}
ul.sourceInfo li.last{
	padding:0px 0px 0px 5px;
	border:none;
}
.content img.image{
	position:relative;
	margin-bottom:21px;
}
.content img{
	/*float:left;
	margin:4px 15px 5px 0px;*/
}
.content img.serviceImage{
	position:relative;
	margin-bottom:0px;
}

.wysiwyg ul{
	list-style:none;
	font-size:1.2em;
	margin-bottom: 14px;
}
.wysiwyg ul li{
	background:url(../images/icn_listitem.gif) 0px 8px no-repeat;
	padding:4px 0px 2px 15px;
}
.wysiwyg ol{
	font-size:1.2em;
	list-style:decimal;
/*	position:relative;
	left:-15px;
	top:-15px;*/
	margin-top:0px !important;
	padding-left:18px;
	margin-bottom: 14px;
}

.wysiwyg ol li{
	padding:2px 0px 8px 0px;
	list-style-position:outside;
	margin:0px;
}

.contentHeader{
	min-height:125px;
	padding-top:10px;
	position:relative;
}

.errorWrapper .contentHeader{
	padding-top:215px;
	position:relative;
}
.errorWrapper .content{
	padding:0px 0px 0px 50px;
	position:relative;
	top:-15px;
}
.contentHeader span.date {
	display: block;
	color:#646464;
	margin:10px 0 6px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.5em;
	font-weight:bold;
}
.contentContainer{
	margin-left: 30px;
}
.content{
	/*position:relative;
	z-index:1000;top:0px;*/
	width: 495px;
}
.content.zoekscherm{
	/*position:relative;
	z-index:1000;top:0px;*/
	width: 704px;
}
.content.zoekscherm .zoekbox{
	height: 50px;
	padding: 10px;
}
.content.zoekscherm .zoekbox.generalForm{
	height: 160px;
	padding: 0px;
}
.content p{
	margin:10px 0px 10px 0px;
	/*margin:0px 0px 15px 0px;*/
	font-size:1.2em;
	line-height:1.45em;
	color:#000;
}

.content img.contentImage{
	float:left;
	margin:4px 10px 0px 0px;
}

.content p.intro{
	font-weight:bold;
	color:#646464;
}

.content p.service{
	font-weight:normal;
	color:#000;
	padding:10px 5px 5px 5px;
	background:#FBFBFB;
	border:solid 1px #E3E3E3;
	margin:0px !important;
	position:relative;
	top:-4px;
	height:70px;
	margin:0px 0px 15px 0px !important;
}

.content p.service a{
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	color:#FFF;
	padding:0px 20px 0px 5px;
	background:#3A4F98 url(../images/icn_arrowmiddle.gif) right no-repeat;
}
.content p.service a:hover{
	background:#F00 url(../images/icn_arrowmiddle.gif) right no-repeat;
}
.content a{
	text-decoration:underline;
}
.content ul.list{
	list-style:none;
	font-size:1.2em;
	margin: 0px 0px 12px 0px;
}
.content ul.list li{
	background:url(../images/icn_listitem.gif) 0px 8px no-repeat;
	line-height: 1.3em;
	padding:2px 0px 0px 15px;
}
.content ol.list{
	font-size:1.2em;
	list-style:decimal;
/*	position:relative;
	left:-15px;
	top:-15px;*/
	margin-top:0px !important;
	padding-left:18px;
	line-height: 1.3em;
}
.content ol.list li{
	/*padding:2px 0px 8px 0px;*/
	padding:2px 0px 0px 0px;
	list-style-position:outside;
	margin:0px;
}

.content ul.lijst{
	list-style:none;
	font-size:1.2em;
}
.content ul.lijst li{
	background:url(../images/icn_listitem.gif) 0px 8px no-repeat;
	padding:4px 0px 2px 15px;
}
.content ol.lijst{
	font-size:1.2em;
	list-style:decimal;
/*	position:relative;
	left:-15px;
	top:-15px;*/
	margin-top:0px !important;
	padding-left:18px;
}
.content ol.lijst li{
	padding:2px 0px 8px 0px;
	list-style-position:outside;
	margin:0px;
}

.content ul li a{
}
.content a.backTo{
	font-size:1.1em;
	font-weight:bold;
	padding:3px 0px 4px 25px;
	line-height:170%;
	background:url(../images/icnStepback.gif) 0px 0px no-repeat;
	text-decoration:none;
}
.contentContainer ul{
	list-style:none;
}
.contentContainer ul li{
}
.contentContainer ul li{
}
ul.overzicht{
}
ul.overzicht li{
}
ul.overzicht li{
}
ul.overzicht div.date{
	color:#3A4F98;
	font-size:1.2em;
}
ul.overzicht li h3 a{
	text-decoration:none;
}
.contentContainer ul li a.backToOverview{
	font-size:1.1em;
	padding:3px 0px 4px 12px;
	line-height:170%;
	background:url(../images/icnBackToOverview.gif) left no-repeat;
	text-decoration:none;
	position:absolute;
	bottom:5px;
	left:0px;
}
.contentContainer ul.browse li.backTo a{
	position:absolute;
	bottom:11px;
	right:16px;
	width:15px;
	height:15px;
	background:#3A4F98 url(../images/icn_arrowMiddle_backto.gif) center 3px no-repeat;
	text-indent:-9999px;
	display:block;
}
.contentContainer ul.browse li.backTo a:hover{
	background:#3A4F98 url(../images/icn_arrowMiddle_backto.gif) center -15px no-repeat;
}
.contentContainer ul.browse li.forward a{
	position:absolute;
	bottom:11px;
	right:0px;
	width:15px;
	height:15px;
	background:#3A4F98 url(../images/icn_arrowMiddle_forward.gif) center 3px no-repeat;
	text-indent:-9999px;
	display:block;
}
.contentContainer ul.browse li.forward a:hover{
	background:#3A4F98 url(../images/icn_arrowMiddle_forward.gif) center -15px no-repeat;
}
.contentContainer ul.browse li.size{
	text-align:right;
	position:absolute;
	bottom:11px;
	right:40px;
	font-size:1.1em;
}
.contentContainer ul.browse li a:hover.backToOverview{
}
.contentContainer a:hover.backTo{
	background:url(../images/icnStepback.gif) 0px -40px no-repeat;
}
.content ul.result{
	list-style:none;
}
.content ul.result li{
	font-size:1.2em;
	margin:0px;
}
.content ul.result li.odd{
	background:#F9F9F9;
}
.content ul.result li a{
	background:url(../images/icn_menu_listitem.gif) 5px 50% no-repeat;
	padding:5px 0px 5px 15px;
	display:block;
	text-decoration:none;
}
.content ul.result li a span{
	font-size:0.9em;
	color:#646464;
	padding:0px 0px 0px 10px;
}
.content ul.result li a:hover{
	color:#3A4F98;
	text-decoration:underline;
}
.content ul.result li.more, .content ul.result li.less{
	border-bottom:none !important;
	margin:15px 0px 15px 0px;
}
.content ul.result li.more a{
	font-weight:bold;
	background:url(../images/icn_alink_more.gif) 0px 0px no-repeat;
	padding:2px 0px 4px 20px;
	font-size:0.9em;
	color:#000;
}
/*.content ul.result li.less{
	border-bottom:none;
}*/
.content ul.result li.less a{
	font-weight:bold;
	background:url(../images/icn_alink_more.gif) 0px -26px no-repeat;
	padding:0px 0px 2px 20px;
	font-size:0.9em;
	display:none;
}
.content ul.result li.more a:hover{
}
.content ul.moreResults{
	list-style:none;
	display:none;
}
.content ul.moreResults li{
	font-size:1.1em;
	margin:0px;
}
.content ul.moreResults li.odd{
	background:#F9F9F9;
}
.content ul.moreResults li a{
	background:url(../images/icn_menu_listitem.gif) 5px 8px no-repeat;
	padding:5px 0px 5px 15px;
	display:block;
	font-weight:normal;
}
/*THEMERESULTS*/
.content ul.themeResults{
	margin:10px 0px 20px 0px;
	list-style:none;
	font-size:1.2em;
}
.content ul.themeResults li{
	background:url(../images/icn_menu_listitem.gif) 5px 5px no-repeat;
	float:left;
	margin-right:30px;
	padding:0px 0px 0px 15px;
	width:210px;
}
.content ul.themeResults li span{
	color:#999;
	padding:0 0 0 10px;
}
.content ul.themeResults li a{
	font-weight:normal;
	line-height:135%;
}
/*CONTAINERTHEMERESULTS*/
.containerThemeResults{
	margin:15px 0px 0px 0px;
}
.containerThemeResults h3{
	font-size:1.2em;
	padding:5px 5px 5px 5px;
	background:#F1F1F1 url(../images/bg_sideMenu.gif) 470px -112px no-repeat;
}
.containerThemeResults h3 span{
	font-weight:normal;
	color:#999;
}
.containerThemeResults ul{
	list-style:none;
	font-size:1.2em;
	margin:10px 0px 0px 0px;
}
.containerThemeResults ul li{
	border-bottom:solid 1px #D9D9D9;
	margin:5px 0px 5px 0px;
	padding:0px 0px 5px 5px;
}
.containerThemeResults ul li a{
}
.containerThemeResults span{
	font-size:0.9em;
	color:#999;
}
.containerThemeResults h4{
	font-size:1.0em;
	margin:4px 0px 3px 0px;
	line-height:125%;
}
.containerThemeResults h4 a{
	color:#3A4F98;
}
.containerThemeResults h4 a:hover{
	color:#3A4F98;
}
.containerThemeResults p{
	font-size:1.0em;
	margin:0px;
}
.containerThemeResults p span{
	padding:1px;
	background:#E1E1E1;
	color:#000;
	font-size:1.1em;
}
.containerThemeResults ul.result{
	font-size:1.0em;
	border-top:none;
	margin:0px !important;
}
.containerThemeResults ul.result li.more, .containerThemeResults ul.result li.less{
	margin:10px 0px 0px 0px !important;
}
.hide01, .hide02, .hide03 {
	display:none;
}
/*EXTENDED SEARCH*/
.searchBox{
	clear:both;
}
legend{
	margin:-15px 0px 0px 0px;
	text-indent:-9999px;
	overflow:hidden;
}
form label.search{
	display:none;
}
form#extendedSearch{
	background:#EDEDED;
	font-size:1.1em;
	padding:10px;
}
form#extendedSearch label{
	width:130px;
	float:left;
	color:#646464;
	padding-top:3px;
}
form#extendedSearch span{
	padding:3px 10px 0px 5px;
	float:left;
}
form#extendedSearch select{
	float:left;
	font-size:1.0em;
	padding:1px;
	width:245px;
	margin-bottom:5px;
	height:19px;
}
form#extendedSearch select.month{
	width:45px;
}
form#extendedSearch select.date{
	width:40px;
}
form#extendedSearch select.year{
	width:50px;
}
form#extendedSearch select.month, 
form#extendedSearch select.date,
form#extendedSearch select.year{
margin-right:5px;
} 
form#extendedSearch input.searchfield{
	border:none;
	border:solid 1px #D7D7D7;
	padding:2px 2px 2px 4px;
	margin-bottom:5px;
	color:#999;
	width:367px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-style:italic;
	display:block;
}
form#extendedSearch .searchbutton{
	font-size:1.1em;
	background:#FFF;
	padding:0px 5px 3px 5px;
	display:block;
	border:solid 1px #D7D7D7;
	float:right;
	margin:10px 100px 0px 0px;
	
}
form#extendedSearch .searchbutton:hover{
	cursor:pointer;
}
form#extendedSearch .filterButton{
	cursor:pointer;
	background:#3A4F98 url(../images/icn_arrowmiddle.gif) right 5px no-repeat;
	padding:0px 20px 2px 5px;
	color:#FFF;
	border:none;
	font-size:1.1em;
	margin:10px 0px 5px 130px;
}
form#extendedSearch .filterButton:hover{
	background:#E50C0F url(../images/icn_arrowmiddle.gif) right 5px no-repeat;
}
form#extendedSearch .extend{
	display:none;
	margin:20px 0px 0px 0px;
}
a.extendedSearch{
	background:url(../images/bg_extendedSearch.gif) right 5px no-repeat;
	padding:0px 15px 0px 0px;
	position:relative;
	top:5px;
}
span.resultSize{
	font-size:0.75em;
	font-style:normal !important;
	font-weight:normal;
	color:#7F7F7F !important;
}
/*OPEN FILTER*/
.filter01{
	display:none;
}
.openFilter{
}
.openFilter a{
	position:relative;
	height:20px;
	width:145px;
	background:#EDEDED url(../images/icn_arrowDown.gif) right 0px no-repeat;
	padding:4px 0px 0px 5px;
	font-size:1.1em;
	color:#646464;
	display:block;
	text-decoration:none;
}
.openFilter a:hover{
	background:#EDEDED url(../images/icn_arrowDown.gif) right -40px no-repeat;
	color:#E50C0F;
}
/*CONTENT PAGING*/
.content ul.paging{
	list-style:none;
	margin:0px;
	padding:0px;
	font-size:1.1em;
	
}
.content ul.paging li{
	float:left;
	color:#000;
	font-weight:bold;
} 
.content ul.paging li.active{
	color:#000;
	font-weight:bold;
	display:block;
	padding:3px 6px 3px 6px;
}
.content ul.paging li span{
	padding:3px 6px 3px 6px;
	font-weight:normal;
	display:block;
} 
.content ul.paging li a{
	padding:3px 6px 3px 6px;
	color:#646464;
	background:#EDEDED;
	margin:0px;
	border-right:solid 1px #FFF;
	display:block;
	text-decoration:none;
}
.content ul.paging li a:hover{
	background-color:#3A4F98;
	cursor:pointer;
	color:#FFF;
}
/*BACKTO & FORWARD*/
.content div.paging{
	float:right;
}
.content ul.paging li.backTo a{
	background:#3A4F98 url(../images/icn_arrowMiddle_backto.gif) center 5px no-repeat;
	width:18px;
	height:20px;
	display:block;
	padding:0px;
	text-indent:-9999px;
	position:relative;
	left:0px;
	text-decoration:none;
}
.content ul.paging li.backTo a:hover{
	background:#3A4F98 url(../images/icn_arrowMiddle_backto.gif) center -12px no-repeat;
}
.content ul li.forward a{
	background:#3A4F98 url(../images/icn_arrowMiddle_forward.gif) center 5px no-repeat;
	width:18px;
	height:20px;
	display:block;
	padding:0px !important;
	text-indent:-9999px;
	position:relative;
}
.content ul li.forward a:hover{
	background:#3A4F98 url(../images/icn_arrowMiddle_forward.gif) center -12px no-repeat;
}
.content .divider01{
	height:30px;
}

.apps
{
    background:#FFF;
    height:auto;
    font-size:1.2em;
    margin-bottom: 20px;
    padding:10px;
} 

.appsBroad{
	width:910px;
}
/*RANKING*/
.ranking{
	border-top:solid 1px #CCC;
	font-size:1.2em;
	margin:0px 0px 20px 0px;
}
.ranking form{
}
.ranking form select{
}
.ranking form .selection label{
	width:195px;
	float:left;
	padding:3px 0px 0px 0px;
}
.ranking form select{
	float:left;
	font-size:1.0em;
	width:170px;
	padding:0px 0px 0px 4px;
}
.ranking .selection{
	border-bottom:solid 1px #CCC;
	padding:3px 0px 3px 0px;

}
.ranking form .searchbutton{
	font-size:1.0em;
	background:#FFF;
	padding:0px 5px 3px 5px;
	line-height:135%;
	display:block;
	border:solid 1px #D7D7D7;
	float:right;
	margin:10px 0px 0px 0px;
}
.ranking form .searchbutton:hover{
	background:#FFF;
	color:#3A4F98;
	cursor:pointer;
}
/*TABLE*/
.table{
	font-size:1.2em;
	margin:10px 0px 20px 0px;
	width:100%;
}
.table .odd{
	background:#F4F4F4;
}
.table th{
	font-weight:bold;
	padding:8px;
	text-align:left;
}
.table th a:hover{
	color:#3A4F98;
	cursor:default;
}
.table th.subject{
	text-align:left;
}

.table caption {
	width: 100%;
	background:#F4F4F4;
	font-weight:bold;
	padding:8px;
	text-align:left;
}

.table td{
	padding:5px 8px 5px 8px;
	position:relative;
}
.table td span.pdf{
	background:url(../images/icnPDF.gif) 0px 2px no-repeat;
	padding:3px 0px 3px 20px;
	margin:0px 0px 0px 5px;
	font-size:0.9em;
	color:#666;
}
.table td.divider{
	width:10px;
	text-align:center;
}
.table td.column{
	text-align:left;
}
.table td.club{
	width:150px;
}
.table td a img{
}
.table ul.list{
	font-size:1.0em;
}
.table ul.list li{
	padding:3px 0px 2px 10px;
}
span.haags{
	width:15px;
	height:11px;
	background:url(../images/icnHaagseclub.gif) 0px 0px no-repeat;
	display:inline-block;
	margin:2px 0px 0px 5px;
	vertical-align:middle;
	text-indent:-9999px !important;
	position:absolute;
}
/*CONDOLEANCE*/
.deceasedIntro{
	background:#F3F3F3;
	height:126px;
	position:relative;
	margin:0px 0px 20px 0px;
}
.deceasedIntro p{
	padding:5px 5px 0px 0px;
}
.deceasedIntro img{
	float:left;
	margin:0px 10px 0px 0px;
	width:107px;
	height:126px;
}
.deceasedIntro a{
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	color:#FFF;
	padding:0px 20px 0px 5px;
	background:#3A4F98 url(../images/icn_arrowmiddle.gif) right 3px no-repeat;
	text-decoration:none;
	font-size:1.2em;
	line-height:135%;
}
.deceasedIntro a:hover{
	background:#3A4F98 url(../images/icn_arrowmiddle.gif) right -15px no-repeat;
}
.searchResultItem{
	border-bottom:solid 1px #E5E5E5;
	margin:0px 0px 10px 0px;
}
.searchResultItem a{
	text-decoration:none;
}
.searchResultItem a:hover{
	text-decoration:underline;
}
.searchResultItem p{
	margin:0px 0px 10px 0px;
}
.searchResultItem .source{
	font-size:1.1em;
	font-style:italic;
	position:relative;
	top:-6px;
	color:#646464;
}
.searchResultItem .source a{
	color:#646464;
}
.searchResultItem .category{
	margin-right:9px;
}
.searchResultItem  .date{
	display:inline;
	color:#43125f;
	margin-left:0px;
	font-size:1.1em;
}
.searchResultItem span.docType{
	color:#646464;
	padding:2px 0px 3px 22px;
	font-weight:normal;
	font-size:0.9em;
	margin-left:5px;
}
.moreSearchResults{
	display:none;
}
.pdfFile{
	display:inline;
	background:url(../images/icnPDF.gif) 0px 0px no-repeat;
}
.wrd{
	display:inline;
	background:url(../images/icnWRD.gif) 0px 0px no-repeat;
}
/*.searchResultItem img{
	float:right;
	margin-left:5px;
	border:solid 1px #D3D3D3;
}*/
.searchResultItem .comments{
	margin:0px;
}
.gccInfo{
	display:none;
	background:#F3F3F3;
	padding:5px 10px 10px 10px;
	margin:0px 0px 10px 0px;
}
.gccInfo p{
	padding:0px !important;
	margin:0px;
}
.downloads{
	margin:0px 0px 1px 0px;
	padding:0 0 1px 0;
}
.downloads a{
	text-decoration:none;
	padding:2px 0px 3px 22px;
}
.downloads a:hover{
	text-decoration:underline;
}
.downloads .source{
	color:#646464;
	font-size:1.1em;
	font-style:italic;
	position:relative;
	top:5px;
	left:22px;
}
.downloads span{
	color:#646464;
	font-weight:normal;

}
.pdfFile{
	display:inline;
	background:url(../images/icnPDF.gif) 0px 0px no-repeat;
}
.wrd{
	display:inline;
	background:url(../images/icnWRD.gif) 0px 0px no-repeat;
}
.searchResultItem img{
	float:right;
	margin-left:5px;
	border:solid 1px #D3D3D3;
}
.searchResultItem .comments{
	margin:0px;
}

.content ul.result li.more a {
	background-position: 0 3px;
}


.quote {
	border-top: 1px solid #CCC;
	padding-top: 5px;
}

.quote .tipPicture {
	display: block;
	float: left;
	height: 134px;
	position: relative;
	width: 123px;
}

.quote .tipPicture img {
	left: 4px;
	position: absolute;
	top: 8px;
}

.quote cite {
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.7em;
	font-style:italic;
	line-height: 1.4em;
	margin: 20px 0 10px;
	width: 367px;
}

.quote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	font-style:italic;
}

.tipPicture .mask {
	background: url('../images/mask_tip.png') no-repeat 0 0;
	display: block;
	height: 134px;
	left: 0;
	position: absolute;
	top: 0;
	width: 123px;
}
.tipPicture .maskQuote {
	background: url('../images/mask_quote.png') no-repeat 0 0;
	display: block;
	height: 134px;
	left: 0;
	position: absolute;
	top: 0;
	width: 123px;
}
.noborder{
	border:none;
}
/*PORTRAITS WIE IS WIE*/
.portraits{
	padding:0px 0px 10px 0px;
	background:#FFF;
	margin:0px 0px 10px 0px;
	border-bottom:solid 1px #CCC;
	min-height:105px;
	position:relative;
}
.portraitsDetail{
	border-bottom:none;
}
.portraits img.portrait{
	position:relative;
	float:left;
	width:94px;
	height:105px;
	margin:0px 10px 0px 0px;
}
.portraits h3{
	color:#3A4F98 !important;
	margin:0px 0px 0px 0px;
	font-size:1.0em;
	font-style:normal;
}
.portraits h3 a{
	color:#000;
	margin:0px 0px 0px 0px;
	text-decoration:underline;
	font-size:1.0em;
	font-style:normal;
}
.portraits h3 a:hover{
	text-decoration:underline;
	color:#3A4F98;
}
.portraits h4{
	margin:3px 0px 10px 0px;
	font-size:1.2em;
	font-weight:normal;
}
.portraits p{
	margin:0px 0px 0px 0px;
}
.portraits p a{
	color:#000;
	text-decoration:underline;
}
.portraits p a:hover{
	color:#3A4F98;
}
.portraits hr{
	margin:0px;
	height:0px;
}
.portraits.portraitsDetail img.portrait{
	float:left;
	position:relative;
	width:146px;
	height:164px;
	margin:0px 10px 0px 0px;
}

/*END PORTRAITS WIE IS WIE*/


.sitemap h2
{
	border-bottom: 1px solid #D8D8D9;
	padding-bottom: 3px;
}

.sitemap_sub
{
	float: left;
}

.sitemap_sub ul
{
	/*width: 276px;*/
	margin-right: 24px;
	margin: 0 0 26px 0;
	padding: 0;
}

.sitemap_sub ul li
{
	padding-top: 0;
	margin-top: 0;
	list-style-type: none;
	color: #333333;
	background: url(../images/listitem_sitemap.gif) no-repeat 0 5px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-size: 11px;
	font-family: arial;
}

.sitemap_sub li a{
	color: #333333;
}

.sitemap_sub li a:hover
{
	color: #3A4F98;
	text-decoration: underline;
}

.sitemap_sub h3
{
	color: #333333;
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
}

.sitemap_sub ul li ul
{
	margin: 7px 0 7px 2px;
	padding: 0;
}

.sitemap_sub ul li ul li 
{
	margin: 0;
	padding: 0 0 0 10px;
	background: url(../images/listitem_sitemap_sub.gif) no-repeat 0 5px;
	color: #999999;
}

.sitemap_sub ul li ul li a
{
	color: #999999;
}

/*.clock_sitemapwrapper 
{
	margin-top: -6px;
}*/

.sitemap_icon
{
	float: right;
}

.sitemap_title
{
	float: left;
}

.sitemap_pretitle
{
	font-weight: bold;
}
/*BESTUURLIJKE STUKKEN*/
.documentDownload{
	font-size:1.2em;
	margin:3px 0px 3px 0px;
}
.documentDownload a{
	color:#000;
	font-weight:bold;
}
.documentDownload a:hover{
	color:#3A4F98;
	text-decoration:underline;
}
.documentDownload span.docType{
	color:#646464;
	padding:2px 0px 3px 22px;
	font-weight:normal;
	font-size:0.9em;
	margin-left:5px;
}
/*END BESTUURLIJKE STUKKEN*/

/*OOIEVAARSPASKORTING*/
img.stork{
	float:right;
	margin:-12px 0 0 10px;
}
/*END OOIEVAARSPASKORTING*/

/*LOCATIONS*/
.locations,
.voorziening{
	font-size:1.2em;
	line-height:135%;
	border-bottom:solid 1px #CCC;
	margin:5px 0 10px 0;
}
.locations ul,
.voorziening ul{
	margin:0 0 5px 0;
	position:relative;
}
.locations ul li,
.voorziening ul li{
}
.locations ul li a,
.voorziening ul li a{
	font-weight:bold;
    color:#3A4F98; 
    text-decoration: none; 
}
.locations ul li.toMap{
	position:absolute;
	bottom:0px;
	right:0px;
}
.locations ul li.toMap a{
	font-weight:normal;
	color:#646464;
	font-size:0.9em;
}
.locations ul li.toMap a:hover{
	color:#3A4F98;
}
/*END LOCATIONS*/

/*ZOEKRESULTATEN ALGEMEEN */

.zoeksubtitelzwart
{
    color: #000000;
    font-style: italic;    
}

.link_zoekuitgebreid
{
    color: #9e9e9e;
    text-decoration: underline;
    font-size: 110%;    
}

.zoekscherm
{
	position:relative;
	z-index:2000;
}

.zoekscherm ul 
{
    
}

ul.zoekscherm li
{
	list-style:none;
	padding: 7px 0 7px 7px;
	font-size:1.2em;
	border-bottom: 1px solid #F3F3F3;
	font-weight: bold;
	display:block;
    overflow: hidden;
}

.zoekscherm ul li p
{
    padding: 7px 0 7px 0;
    margin: 0;
    font-size: 100%; 
    font-weight: normal;   
}

.zoekscherm ul li a
{
    color: #333333;
    text-decoration:none;    
    cursor: pointer;
}

ul.zoekscherm li p a
{
	color: #3A4F98 !important;
	text-decoration: underlin !important;
}

.zoekscherm ul li a:hover{
	text-decoration:underline;
	color:#3A4F98;
}
ul.zoekscherm li.first
{
    height: 16px;    
}
ul.zoekscherm li.more{
	border:none !important;
	margin-top:10px;
}
ul.zoekscherm li.more a{
	font-weight:bold;
	background:url(../images/icn_alink_more.gif) 0px 0px no-repeat;
	padding:0px 0px 4px 20px;
	font-size:1.0em;
}

ul.zoekscherm li a:hover
{
    text-decoration: underline;    
    color: #3A4F98;
}

.zoekscherm h4
{
    height: 20px;
    font-size: 130%;
    color: #000000;
    background: #F3F3F3;
    padding-top: 5px;
    padding-left: 7px; 
	margin-bottom:15px;
}

.zoekscherm h4 .aantalvraagstraat
{
    color: #929292;
}
.zoekscherm ul li
{
    /*height: 21px;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;*/
}

.zoekscherm ul li p
{
   padding: 7px 0 7px 0;
   margin: 0;
   font-size: 1.0em;
   font-weight: normal;   }

.zoekbox 
{
    width: 499px;
    height: 165px;
    background:  #EDEDED;
    margin-top: 8px;   
}

.zoekbox .short {
	margin: 5px 0px 0px 0px;
	display: block;
	float: left;
	font-size: 1.1em;
}

.zoekbox .zoekwoorden
{
    border: 1px solid #D9D9D9;
    width: 266px;
    float: left;
    margin-right: 5px;
    font-size: 1.1em;
    color: #999999;
	padding:2px 2px 2px 4px;
    font-style: italic;
}
.zoekbox .label{
	float:left;
	font-size:1.1em;
	padding:7px 10px 0px 0px;
	width:120px;
}

.zoekbox .submitExt{
    padding: 1px 4px 1px 4px;
    border: 1px solid #D9D9D9 !important; 
    display: block;
    background: #ffffff;
    width: auto;
    float: left; 
    color: #666;
    font-weight: bold;
    font-size: 1.1em;
}
.zoekbox .submitExt:hover{
	color: #3A4F98;
	cursor:pointer;
}
.zoekbox .submitExt:focus{
	border:none;
}
.zoekbox .uitgebreid_zoeken
{
    margin-top: 14px;
    margin-left: 10px;       
    color: #949494;
    display: block;
	font-size:1.1em;
}
.zoekbox a.uitgebreid_zoeken {
	color: #949494;
}
.zoekbox a:hover.uitgebreid_zoeken {
	color: #3A4F98;
}

.zoekbox_uitgebreid
{
    height: auto;
    background: #ededed;
    margin-top: 1px;
    width: 499px;
    padding-bottom: 10px;
}
.rowspan1 h4{
	margin:0px;
	margin-bottom:14px;
}

.fotoleft
{
    float: left;    
    margin-right: 10px;  
    margin-bottom: 5px; 
}

.fotoleft img
{
    float: none;
    clear: both;    
}

.fotoleft .onderschrift
{
    display: block;
    line-height: 1.1em;
    font-style: italic;
    color: #646464;
}

.fotoright
{
    float: right;    
    margin-left: 10px;  
    margin-right: 10px;  
    margin-bottom: 5px; 
}

.fotoright img
{
    float: none;
    clear: both;    
}

.fotoright .onderschrift
{
    display: block;
    line-height: 1.1em;
    font-style: italic;
    color: #646464;
}

.fotomiddle
{
    width: 495px;
    clear: both;
    display: block;
    float: none;
    text-align: center;    
}

.fotomiddle img
{
    float: none;
    clear: both;    
}

.fotomiddle .onderschrift
{
    display: block;
    line-height: 1.1em;
    font-style: italic;
    color: #646464;
}

/*END ZOEKRESULTATEN */
