/*	Stylesheet	for denhaag.nl          */
/*	Author: Mischa Lodder		        */
/* 	Company: 	Bureau I&I		        */
/*  VERSION: 1.0                        */

/*MENU*/

.menu{
	position:absolute;
	margin-top:75px;
	left:1px;
	width:947px;
	z-index:20;
}
.menu ul.top{
	margin: 0;
	padding: 0;
	width: 947px;
	height: 30px;
}
.menu li.topItem{
	border-left:solid 1px #fff;
	float: left;
	margin: 0;
	padding: 0px 5px 0px 0px;
	font: bold 1.3em Arial, Helvetica, sans-serif;
	list-style-type: none;
}
.menu li.topItem a { 
	padding:  7px 8px 7px 13px; 
	display: block;
	color: #000;
	text-decoration: none;
	background:#fff;
}
.menu li.topItem a.active{
	padding-bottom: 7px;
	color: #FFF;
	background: #43125f;
	border-left:solid 1px #43125f;
	margin-left: -1px;
}
.menu li.topItem a.active:hover{
	padding-bottom: 7px;
	color: #FFF;
	background: #43125f;
	border-left:solid 1px #43125f;
}
.menu li.topItem:hover, .menu li.topItem.path{
	border-left:solid 1px #43125f;
}
.menu li.topItem a:hover{
	position:relative;
	padding-bottom: 7px;
	text-decoration: none;
	z-index: 10;
	background:#FFF;
	color:#43125f;
	position:relative;
	z-index:100;
	border-bottom:solid 1px #FFF;
}
.menu li.topItem a.path{
	position:relative;
	background:#FFF;
	color:#43125f;
	padding-bottom:8px;
	background:#ccc;
	z-index: 10;
	border-left:solid 1px #43125f;
}
.menu li.topItem  a span{
	background:url(../images/bg_topitem_disabled.gif) right 5px no-repeat;
	padding-right: 29px;
}
.menu li.topItem a.active span{
	background: #43125f url(../images/bg_topitem_active_purple.png) right 5px no-repeat;
}
.menu li.topItem a.selected span{
	background: url(../images/bg_topitem_menu.gif) right 5px no-repeat;
}
/*SUBMENU*/

.subMenu {
	display:none;
}


.menu li.topItem .subMenu {
	/*background: url(../images/bgSubMenu.png) bottom left no-repeat;*/
	background:#FFF;
	border:solid 1px #43125f;
	/*border-top:none;*/
	font-size:0.85em;
	font-weight:bold;
	list-style:none;
	margin:-1px 0 0 -1px;
	padding:10px 15px 10px 15px;
	position:absolute;
	z-index:10;
	top:30px;
	width: 170px;
}

.menu li.topItem .subMenu.twoColumn {
	/*background: url('../images/bgSubMenuTwoColumn.png') no-repeat bottom left;*/
	width: 365px;
}

.menu li.topItem .subMenu ul {
	background: #FFF;
	float:left;
	width:175px;
}
.menu li.topItem .subMenu ul.first {
	margin:0 15px 0 0;
}
.menu li.topItem .subMenu li{
	list-style:none;
	line-height:100%;
	padding:0;
}

.menu li.topItem .subMenu  li a, 
.menu li.topItem .subMenu  li a:hover{
	display: block;
	margin: 0;
	padding:7px 3px 8px 3px;
	color: #000;
	border-bottom:solid 1px #CCC;	
}
.menu li.topItem .subMenu  li a:hover{
	background:#EAEAEA;
}
.menu li.topItem .subMenu  li a.lastItem {
	border-bottom:solid 1px #fff !important;
}


/*SIDEMENU*/
.sideMenu{
	font-size:1.1em;
	color:#333;
}

.sideMenu h3 {
	color: #43125f;
	font-size: 1.4em;
	margin: 13px 0 13px;
}

/*level 2*/
.sideMenu ul{
	list-style:none;
	background:#FFF;
}
.sideMenu ul li{
	border-top:solid 1px #CCC;
}
.sideMenu ul li a {
	color: #43125f;
	display:block;
	font-weight:bold;
	margin:0px 0px 0px 5px;
	/*background:url(../images/icn_sideMenu.gif) right 0px no-repeat;*/
	
}
.sideMenu ul li a:hover{
	/*background:url(../images/icn_sideMenu.gif) right -20px no-repeat;*/
}
.sideMenu ul li a.active{
	color:#43125f;
}
/*level 3*/
	
.sideMenu ul li ul li a{
	font-weight:bold;
	padding:0px 0px 0px 10px;
	margin:0 0 0 20px;
}
/*level 4*/

.sideMenu ul li ul li ul li{
}
.sideMenu ul li ul li ul li a{
	font-weight:bold;
	margin:0 0 0 30px;
	padding-right:15px;
}
/*level 5*/

.sideMenu ul li ul li ul li ul li a {
	margin:0 0 0 40px;
}

/*level 6*/

.sideMenu ul li ul li ul li ul li ul li a{
	margin:0 0 0 45px;
}

/* 2nd to last item in the list is expanded, displays arrow pointing down */
.sideMenu ul li.expanded a {
	background:url(../images/icn_sideMenu.gif) right -80px no-repeat;
}

.sideMenu ul li.expanded a:hover {
	background:url(../images/icn_sideMenu.gif) right -60px no-repeat;
}

/* current active (last) level */
.sideMenu li.expanded ul{
	border-bottom:solid 1px #CCC;
}

.sideMenu li.expanded ul li {
	background: #F5F5F5;
}

.sideMenu ul li.expanded ul a {
	background-image:none;
	color: #1f1f1f;
	font-weight:normal;
}
.sideMenu ul li.expanded li a:hover {
	background: none;
	color:#43125f;
}
.sideMenu ul li.expanded li.active {
	background: #EAEAEA;
}

.sideMenu ul li.expanded li.active a {
	background: none;
	color:#43125f;
}

.sideMenu ul li.expanded li.active a:hover {
	background: none;
	color:#1f1f1f;
}

/*padding on the sideMenu*/
.sideMenu ul li a,
.sideMenu ul li ul li a,
.sideMenu ul li ul li ul li a
.sideMenu ul li ul li ul li ul li a {
	padding:5px 0px 5px 0px;
}