/* 16:15 uur*/
.tweetcontainer1 { margin: -0.7em 0 0 0; }
.tweetcontainer1 ul { list-style-type: none; }
.twitStream{ width: 175px; height: 193px; overflow: auto; }
.twitStream a{  }
.tweet_list { list-style-type: none; }
.tweet_avatar img { width: 20px; height: 20px; }
.tweet { padding: .2em; margin: .2em 0; }
.tweet-left { float: left; margin-right: 1em; }
.tweet-left img { border-width: 0;  width: 20px; height: 20px; margin-right: 0.2em; }
.tweet p.text { margin: 0; padding: 0; }
.twitterimage { width: 110px; height: 23px; position: relative; margin: 0.2em 0 0.15em 0; padding: 0; border-width: 0; }