/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

.highLightsBg {
	background:url(../images/bg_highLights.png) 0 0 repeat-x;
	height:281px;
	position: absolute;
	width: 360px;
}
.highLightsNoAccordion .highLightsBg {
	background:url(../images/bg_highLightsNoaccordion.png) 0 0 repeat-x;
}
.highLights.subpage .highLightsBg {
	width: 285px;
}

.subPageBox .highLightsNoAccordion .highLightsBg {
	background:url(../images/bg_highLightsNoaccordionSubpageBox.png) 0 0 repeat-x;
	width: 285px;
}
ul#accordion{
	height:281px;
	padding:0px;
	position:relative;
	z-index:10000;
	margin: 0;
  	padding: 0;
}
ul#accordion, ul#accordion ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  position:relative;
}
ul#accordion ul{
	padding:3px 10px 13px 15px;
	line-height:120%;
	margin:0px;
	z-index:100;
}
ul#accordion p{
	font-size:1.2em;
	padding:0 15px 0 15px;
	height:70px;
	overflow:hidden;
	line-height:14px;
}
ul#accordion a {
  display: block;
  text-decoration: none;	
}
ul#accordion li.item{
	border-bottom:solid #333 1px;
	height:55px;
	overflow:hidden;
	position:relative;
}
ul#accordion li.selected{
	height:109px;
	padding-bottom: 60px;
}
ul#accordion li strong{
	display:block;
}
ul#accordion li a:hover{
}
ul#accordion li ul li a:hover {
}

.testwrapper
{   
    height: auto; 
}

.selected .testwrapper
{
    max-height: 117px;    
    overflow: hidden;
    margin-top: -5px;
}

.browsing
{
    position: absolute;
    right: 0;
    width: 150px;
    height: 80px;
    bottom: -64px;
    overflow: visible !important;
}


ul#accordion h2{
	padding:12px 0px 3px 15px;
	color:#000;
	font-size:1.8em;
	font-weight:bold;
	margin:0px 0px 10px 0px;
	width: 275px;
	height: 22px;
	overflow: hidden;
	line-height: 1.2em;
}
ul#accordion h2:hover{
	cursor:pointer;
}
h2.ui-accordion-header{
}
ul#accordion .selected h2{
	color:#000;
	font-size:2.5em;
	font-weight:normal;
	margin:5px 0px 5px 0px;
	overflow: hidden; 
    height: auto;
    line-height: 1em;
    padding-top: 6px;
}
/*
ul#accordion .selected  .browsing
{
  	top: 23px;  
}*/
/*PAGING*/
/*
#accordion .browsing{
	position:relative;
	top:30px;

	margin-top: 30px;
}*/
#accordion .browsing ul.paging {
	height: 3px;
	margin-bottom: 30px;
	list-style:none;
	position:absolute;
	top:-22px;
	right:26px;
	z-index:100;
	border:none !important;
	margin:0px;
	padding:0px;
	height: 3px; 
	
}
#accordion .browsing ul.paging li, 
#accordion .browsing ul.paging li{
	display:block;
	width:3px;
	height:3px;
	background-color:#FFF;
	text-indent:-9999px;
	float:left;
	margin-right:4px;
	line-height:3px;
	overflow:hidden;
}
#accordion .browsing ul.paging li a{
	background-color:#000;
}
#accordion .browsing ul.paging li a:hover{
	background:#3A4F98;
	cursor:pointer;
}
/*BROWSE*/
#accordion .browsing ul.browse{
/*	position:absolute;
	border:none !important;
	margin:0px;
	bottom:0px;
	z-index:100;*/
}
#accordion .browsing ul.browse li.overview a{
	padding:1px 3px 1px 0px;
	color:#000;
	position:absolute;
	bottom:26px;
	left:15px;
	text-decoration:underline;
	font-size:1.1em;
} 
#accordion .browsing ul.browse li.overview a:hover{
	color:#3A4F98;
}
#accordion .browsing ul.browse li.forward a{
	background:#3A4F98 url(../images/icn_arrowlarge_forward.gif) center 7px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
#accordion .browsing ul.browse li.backTo a:hover{
	background:#3A4F98 url(../images/icn_arrowlarge_backto.gif) center -22px no-repeat;
}
#accordion .browsing ul.browse li.backTo a{
	background:#3A4F98 url(../images/icn_arrowlarge_backto.gif) center 7px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:31px;
	display:block;
	text-indent:-9999px;
}
#accordion .browsing ul.browse li.forward a:hover{
	background:#3A4F98 url(../images/icn_arrowlarge_forward.gif) center -22px no-repeat;
}

/* hide/show paging, depending on js loading */

ul#accordion ul.browse .backTo, 
ul#accordion ul.browse .forward, 
ul#accordion ul.paging,
.highLightsNoAccordion.static .items ul  li.backTo, 
.highLightsNoAccordion.static .items ul  li.forward, 
.static .paging {
	display: none;
}

ul#accordion.ui-accordion ul.browse .backTo, 
ul#accordion.ui-accordion ul.browse .forward, 
ul#accordion.ui-accordion ul.paging {
	display: block;
}

#accordion .overview a{
	padding:1px 3px 1px 0px;
	color:#000;
	position:absolute;
	top:135px;
	left:15px;
	text-decoration:underline;
	font-size:1.1em;
}
#accordion .overview a:hover{
	color:#3A4F98;
}

/*CATEGORY*/
.category{
	padding:2px 3px 2px 3px;
	font-size:1.1em;
	background:#A6A5A4;
	color:#FFF;
	display:inline;
	position:relative;
	top:0px;
}

ul#accordion li.item .comments
{
    margin-top: -10px;    
} 