/* CSS Document */

menu li.topItem a span
{
    background-image: url('../images/bg_topitem_enabled_blue.png') !important;    
}

.menu li.topItem a.active span
{
    background-image: url('../images/bg_topitem_active_blue.png') !important;    
}

.menu li.topItem a.active:hover
{
    color: #ffffff !important;    
}
.containerTypeA ul li.more a,
.containerTypeA ul li.more a:hover,
.containerTypeA ul li.forward a,
.containerTypeA ul li.backTo a,
.jcarousel-next,
.jcarousel-prev
{
	color:#FFF;
}
#projectsiteUitgelicht
{
    background: url('../images/bg_uitgelicht_blue.png') no-repeat 0 25px !important;
    width: 322px; 
    padding-left: 11px;
    padding-right: 11px
}
#projectsiteUitgelicht h2
{
    margin-left: -11px;    
}
#projectsiteUitgelicht h4
{
    font-size: 1.2em;
    color: #033F8E;   
    margin-bottom: 10px;
    padding-top: 15px;
}
.containerTypeA ul li a
{
    background-image: url('../images/icn_menu_listitem_blue.png');    
}
.bottom
{
    display: none;       
}

.oneItem 
{
    display: none;    
}
.colspan3 h2
{
    display: none;    
}

.containersHome .map
{
    background: none;  
    padding: 0 18px 6px 18px;  
}

.header
{
    height: 105px;    
}

.menu 
{
    margin-top: 95px;    
}

.logoBlocks
{
    background-image: url('../images/img_logoblocks_blue.png') !important; 
    width: 180px
}

.sideMenu
{
    background: url('../images/log_sidemenu.png') no-repeat !important;    
    padding-top: 110px
}

.containersSubpage .map
{
    background: none;    
}

.crumbpath
{
    display: none;    
}

.targetMap
{   
    display: none;   
}

.footer
{
    padding-bottom: 20px;    
}
.grey
{
    font-size: 0.9em;
    color: #666666;   
    font-family: Arial, Verdana, Sans-Serif;
}

.containerTypeB 
{
    background-image: url('none');
    background-color: #87C6F0;
    border-right: 1px solid #ffffff;
    color: #ffffff    
}

.containerTypeB a
{
    color: #ffffff !important;    
}

#uitgelicht_box_doelgroep
{
    /*background: url(../images/bg_uitgelicht_doelgroep_blue.jpg) no-repeat left bottom;*/
    width: 160px; 
    margin-right: 20px;   
}

#uitgelicht_box_doelgroep p
{
    /*padding: 10px;    */
}

.containerTypeB a.more,
.containerTypeB a.more:hover
{
    background: url('../images/plus_blue.png') no-repeat;    
}

.mainContentContainer .sideMenu ul li.expanded a {
    background-image: url('../images/icn_sideMenu_blue.gif');
}

.sideMenu ul li.expanded ul a 
{
    background: none !important;    
}
.search
{
    display: none !important;    
}

.containersSubpage .map
{
    padding: 0 15px 5px 15px;    
}
.containerTypeB p,
.containerTypeB a.more
{
    color: #000000 !important;
}
.containerTypeA ul.paging li a 
{
    background-color: #000000 !important;
}

/* taalselect, contact, mijndenhaag */
ul.secondRow {	display: none;	}

.topMenu { display: none; }