/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

/*containerTypeB*/
.containerTypeB{
	float:left;
	width:211px;
	height:125px;
	background:#E4E4E4 url(../images/bg_contentcontainer_b.gif) 0px 0px no-repeat;
	padding:0px 12px 0px 12px;
}
.containerTypeB h2{
	font-size:1.5em;
	margin:8px 0px 6px 0px;
}
.containerTypeB p {
	font-size:1.1em;
	line-height:120%;
	margin:0px 0px 10px 0px;
}
.containerTypeB img{
	width:80px;
	height:80px;
	float:left;
	margin:0px 10px 10px 0px;
}
.containerTypeB a.more{
	font-weight:bold;
	background:url(../images/icn_alink_more.gif) 0px 0px no-repeat;
	padding:0px 0px 2px 20px;
	font-size:1.1em;
	color:#000;
}
.containerTypeB a:hover.more{
	background:url(../images/icn_alink_more.gif) 0px -26px no-repeat;
	color:#3A4F98;
}
/*end containerTypeB*/