/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */
	
@import url('reset.css');
@import url('general.css');
@import url('structure.css');
@import url('header.css');
@import url('crumbclock.css');
@import url('highlights.css');
@import url('carousel.css');
@import url('footer.css');
@import url('containertypeA.css');
@import url('containertypeB.css');
@import url('containertypeC.css');
@import url('detail.css');
@import url('rightcolumn.css');
@import url('targetmap.css');
@import url('forms.css');
@import url('loket.css');
@import url('fotoalbum.css');
@import url('forum.css');
@import url('extendedsearch.css');
@import url('burgerschapszaken_layout.css');


/*TEST*/
.total{
	width:100% !important;
	border:solid 1px #F00;
	/*display:table;*/
}
.columnOne{
	
	height:50px;
	background:#CCC;
	/*display:block;*/
	border:solid 1px #F00;
	padding:10px;
	display:table-cell; /*for FF*/
}
