.extendedSearch{
	margin: 0 0px 0px 0;
	padding:10px 0px 0px 10px;
	float:left;
	position:relative;
}
.extendedSearch ul{
	margin: 0px 20px 0px 5px;
	padding: 0;
	list-style:none;
	width: 375px;
}
.extendedSearch ul li{
		font-size:1.0em;
}
.extendedSearch ul.filter li{
	padding:3px 0px 3px 0px;
	height:auto;
}
.extendedSearch ul.filter li a{
	padding:3px 10px 3px 8px;
	background:#FFF url(../images/icnCollapse01.gif) right no-repeat;
	background-position: 100% 0px;
	border:solid 1px #C9C9C9;
	color: #646464;
	display:block;
	height: 14px;
	line-height: 16px;
	white-space: wrap;
	overflow: hidden;
}
.extendedSearch ul.filter li a:hover{
	color: #3A4F98;
	background:#FFF url(../images/icnCollapse01.gif) right no-repeat;
	background-position: 100% -15px;
}
.extendedSearch .label{
	float:left;
	font-size:1.1em;
	padding:7px 10px 0px 0px;
	width:120px;
}
.extendedSearch select{
	font-size:1.1em;
	margin-top:5px;
}
.extendedSearch em{
	font-size:1.1em;
	font-style:normal;
}
.extendedSearch fieldset{
	position:relative;
}
.extendedSearch .filterOptions{
	border:none;
	height:100%;
	background:url(../images/icnArrowPopUpLeft.gif) left bottom no-repeat;
	padding:0px 0px 0px 8px;
	margin-bottom:20px;
}
.extendedSearch .filterOptionsBg{
	z-index:2000 !important;
	border:solid 1px #999;
	height:100%;
	background:#FFF;
	position:relative;
}
.extendedSearch .genres{
	position:absolute;
	right:-260px;
	top:-190px;
	margin:0px;
}
.extendedSearch .vandaag{
	position:absolute;
	right:-260px;
	top:-156px;
	z-index:2000;
}
.extendedSearch .evenementen{
	position:absolute;
	right:-260px;
	top:-123px;
	z-index:2000;
}
.extendedSearch .filterOptionSubmit{
	right:5px;
}
.extendedSearch div#zoekCriteria .searchBtn{
	margin-top:10px;
	margin-right:30px !important;
}
.extendedSearch .wijken
{
    position:absolute;
	right:-260px;
	top:-88px;
	z-index:2000;  
}
.extendedSearch .vacatures
{
    position:absolute;
	right:-260px;
	top:-55px;
	z-index:2000;  
}
.extendedSearch .filterOptions .close2 a{
	margin-right:0px;
	padding-right: 0;
}

.appsContainer .zoekbox.generalForm select{
	margin: 0px 0px 0px 10px;
}
.extendedSearch .short {
	margin: 5px 25px 0px 0px;
	display: block;
	float: left;
	font-size: 1.1em;
}

.extendedSearch div#checkBoxContainer{
	margin: 0;
	padding: 0;
	/*height: 250px;*/
	width: 280px;
	display: inline;
/*	position:relative;
	bottom:0px;*/
}
.extendedSearch .leftRow{
	float: left;
	margin: 0px 0px 40px 20px;
	padding: 0;
	width: 120px;
	/*display: inline;*/
}
.extendedSearch .leftRow label,
.extendedSearch .rightRow label {
	margin: 0;
	padding: 0;
	/*display: inline;*/
}
.extendedSearch .leftRow span{
color: #333;
}
.extendedSearch .rightRow {
	float: right;
	margin: 0px 20px 0px 0px;
	padding: 0;
}
.extendedSearch .filterOptions label {
	display: block;
	float: none;
}