@charset "utf-8";
/* CSS Document */
h3.subtitle{
	font-size:1.3em !important;
	font-style:normal;
	font-weight:bold;
	color:#646464;
	margin:0px;
}
table.forum{
	border-bottom:solid 1px #E0E0E0;
}
table.forum thead{
	font-size:1.2em;
	color:#FFF;
}
table.forum thead th{
	background:#646464;
	font-weight:bold !important;
	padding:7px;
	border-right:solid 1px #B3B3B3;
}
table.forum thead th.last{
	border-right:none;
}
table.forum thead th.center{
	text-align:center;
	width:10%;
}
table.forum tr{
}
table.forum tr.odd{
	background:#F5F5F5;
}
table.forum td{
	font-size:1.1em;
	border-right:solid 1px #E0E0E0;
	padding:12px 10px 12px 7px;
	color:#646464;
}
table.forum p{
	margin:5px 0px 15px 0px;
	padding-bottom:10px;
	border-bottom:solid 1px #999;
	font-size:1.0em !important;
	padding-right:17px;
}
table.forum td.posting{
	padding:12px 0px 12px 0px;
}
table.forum td.odd{
	background:#F5F5F5;
	padding:12px 7px 12px 7px;
}
table.forum td.posting span{
	display:inline;
}
table.forum td.posting a.react{
	position:absolute;
	right:7px;
}
table.forum td.center{
	text-align:center;
}
table.forum td.last{
	border-right:none;
}
table.forum td a{
	color:#646464;
	font-size:1.0em;
}
table.forum td span.name{
	color:#3A4F98;
	font-weight:bold;
}
table.forum td a:hover{
	color:#3A4F98;
}
table.forum td span{
	display:block;
}
table.forum td.posting ul{
	padding:0px;
	margin:0px;
}
table.forum ul li p{
	font-size:1.1em;
	position:relative;
}
table.forum ul li{
	padding:0px 0px 0px 0px;
	margin:0px;
}
table.forum td ul li ul{
	padding:0px 0px 0px 20px !important;
	margin:0px 0px 0px 10px;
}
table.forum td ul li ul li{
	background:url(../images/icnListForum.gif) 0px 0px no-repeat;
	padding:0px 0px 0px 20px;
}
.display{
	display:block;
}
table.forum td span.inappropriate{
}
table.forum td span.inappropriate a{
	display:block;	
	background:#CCC;
	text-indent:-9999px;
	width:16px;
	height:14px;
	background:url(../images/icn_ongepast.gif) 0px 0px no-repeat;
	position:absolute;
	right:7px;
	bottom:9px;
}
table.forum td span.inappropriate a:hover{
	background:url(../images/icn_ongepast.gif) 0px -14px no-repeat;
}