/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

html{
	height:100%;
	font: normal normal normal 62.5%/1.5em Arial, Helvetica, sans-serif;
}

body {
	background:#FFF url(../images/bg_body_2.gif) center repeat-y;
	line-height:140%;
	margin:0;
	height:100%;
}
body.looseApp{
	background:none;
	color:#999;
	font-size:1.1em;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#3A4F98;
	text-decoration:underline;
}

/**:focus
{
  border: 1px dotted #333  !important;
}*/


img {	
}
h1.pageTitle {
	display:none;
}
.errorWrapper h1{
	background:url(../images/icnError.png) 0px 0px no-repeat;
	padding:15px 0px 15px 50px;
}

h1 {
	font-size:1.8em;
	line-height:125%;
	font-weight:bold;
	margin:7px 0 0px 0;
	width:390px;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:bold;
	color:#1F1F1F;
	margin:10px 0px 5px 0px;
}
.errorWrapper h2{
	color:#666;
}
body.looseApp h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.4em;
	font-weight:bold;
	color:#000;
	margin:30px 0px 0px 15px;
	float:left;
}

h3 {
	font-size:1.2em;
	font-weight:bold;
	color:#000;
	margin:15px 0px 2px 0px;
	
}

h4 {
	font-size:1.1em;
	font-weight:bold;
	color:#000;
	margin:10px 0px 0px 0px;
}

h5 {
	font-size:1.1em;
	font-weight:bold;
	text-transform:capitalize;
	letter-spacing:1px;
	color:#000;
	margin:10px 0px 0px 0px;
}

h6 {
	font-size:1.0em;
	font-weight:normal;
	color:#000;
	margin:10px 0px 0px 0px;
	text-transform:capitalize;
	letter-spacing:1px;
}


p {
	
}
.errorWrapper p.intro{
	margin:20px 0px 20px 0px;
	padding:20px 0px 0px 0px;
	border-top:solid 1px #CACACA;
	width:700px;
}

abbr {
	
}

strong{
	
}

em{
    font-style: italic;	
}

fieldset {

}

input,
select,
textarea {
	
}

ul {
	
}

ul li {
	
}
hr {
	border: 0;
	border-top: 1px solid #D9D9D9;
	clear:both;
	display:block;
	height:0;
}
/***/

/* repeated styles */

.skipNavigation {
	color: #FFF;
	display: block;
	position: absolute;
	top:0;
	left: -999px;
	height: 20px;
	padding: 10px 20px;
	background: #007E58;
}

.skipNavigation:hover {
	background-color: #000;
}

.skipNavigation:focus {
	left: 0;
}

.discreet {
	color: #7F7F7F;
	margin: 0;
}

.more {

}

.back {
		
}

a.more:hover, a.back:hover {
	
}

.last {
	background: none;
	border: none !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	height:0px;
	line-height:0;
	font-size:0;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	height: 1%;
}

.noBorder {
	border: none !important;
}
/* end repeated styles */


img.homephoto
{
    width: 930px;
    height:306px;
}

a.description
{
    color:#333;
    text-decoration:none;
}

a.description:hover {
    color:#3A4F98;
}

h2#title,
h2#gemeenteTitle
{
 	line-height:0.9em;
}