/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

/*NO ACCORDION*/

.highLights .items .one ul li.overview a, .highLights .items .two ul li.overview a, .highLights .items .three ul li.overview a{
	background:#EFF0F0;
	padding:1px 5px;
	color:#000;
	position:absolute;
	bottom:12px;
}
.highLights .items .one ul li.overview a:hover, .highLights .items .two ul li.overview a:hover, .highLights .items .three ul li.overview a:hover{
	background:#E50C0F;
	color:#FFF;
}
.highLights .items .one ul li.forward a{
	background:#3A4F98 url(../images/icn_arrowlarge_forward.gif) center center no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
.highLights .items .one ul li.backTo a:hover{
	background:#E50C0F url(../images/icn_arrowlarge_backto.gif) center center no-repeat;
}
.highLights .items .one ul li.backTo a{
	background:#3A4F98 url(../images/icn_arrowlarge_backto.gif) center center no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:31px;
	display:block;
	text-indent:-9999px;
}
.highLights .items .one ul li.forward a:hover{
	background:#E50C0F url(../images/icn_arrowlarge_forward.gif) center center no-repeat;
}
.highLights .items .one ul li a:hover{
}

.highLights .items .two ul li.backTo a, .highLights .items .three ul li.backTo a{
	background:#3A4F98 url(../images/icn_arrowsmall_backto.gif) center center no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
.highLights .items .two ul li.backTo a,.highLights .items .three ul li.backTo a{
	right:16px;
}
.highLights .items .two ul li.backTo a:hover, .highLights .items .three ul li.backTo a:hover{
	background:#E50C0F url(../images/icn_arrowsmall_backto.gif) center center no-repeat;
}

.highLights .items .two ul li.forward a, .highLights .items .three ul li.forward a{
	background:#3A4F98 url(../images/icn_arrowsmall_forward.gif) center center no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}

.highLights .items .two ul li.forward a:hover, .highLights .items .three ul li.forward a:hover{
	background:#E50C0F url(../images/icn_arrowsmall_forward.gif) center center no-repeat;
}

.highLights .items .two, .highLights .items .three{
	background:url(../images/bg_highlightitem.png) 0 0 repeat-x;
	width:156px; /*180 minus (12px+12px)*/
	height:116px; /*140 minus (12px+12px)*/
	display:block;
	float:left;
	border-right:solid 1px #666;
	padding:12px;
	position:relative;
}
.highLights .items .three{
	width:155px;
	border:none;
}
.highLights .items ul.bottom, .highLights .oneItem ul.bottom{
	background:url(../images/bg_highlightbottom.png) 0 0 repeat-x;
	/*width:336px; 360 minus (12px+12px)*/
	height:25px; /*24 minus (5px+0px)*/
	display:block;
	float:left;
	padding:4px 12px 0px 12px;
	list-style:none;
	position:relative;
	z-index:20000;
	font-size:1.1em;
	top:1px;
}
.highLights .oneItem ul.bottom{
	position:absolute;
	top:282px;
}
.highLights .items ul.bottom li, .highLights .oneItem ul.bottom li{
	display:inline;
	margin-right:30px;
}
.highLights .items ul.bottom li a, .highLights .oneItem ul.bottom li a{
	font-weight:bold;
	color:#CCC;
}
.highLights .items ul.bottom li a:hover, .highLights .oneItem ul.bottom li a:hover{
	color:#E50C0F;
}
.highLights .items ul.bottom li.newsletter a, .highLights .oneItem ul.bottom li.newsletter a{
	background:url(../images/icn_newsletter.gif) 0px 1px no-repeat;
	padding:0px 0px 0px 15px;
}
.highLights .items ul.bottom li.newsletter span, .highLights .oneItem ul.bottom li.newsletter span{
	position:absolute;
	margin:4px 0px 0px 15px;
	z-index:10;
	border-right:solid 1px #666;
	height:15px;
}
.highLights .items ul.bottom li.rss span, .highLights .oneItem ul.bottom li.rss span{
	position:absolute;
	margin:4px 0px 0px 15px;
	z-index:10;
	border-right:solid 1px #666;
	height:15px;
}
.highLights .items ul.bottom li.rss a, .highLights .oneItem ul.bottom li.rss a{
	background:url(../images/icn_rss.gif) 0px 1px no-repeat;
	padding:0px 0px 0px 15px;
}
.highLights .oneItem ul.bottom li.newsoverview a{
	background:url(../images/icn_newsoverview.gif) 0px 2px no-repeat;
	padding:0px 0px 0px 16px;
}
.highLights h2{
	margin:0px 0 10px 0px;
	font-size:2.0em;
	color:#000;
	font-weight:normal;
}
.highLights .oneItem{
	padding:30px 0px 0px 0px;
	height:300px;
	position:relative;
	z-index:1;
}
.highLights .oneItem h2{
	margin:0px 0 13px 30px;
	font-size:3.3em;
	color:#FFF;
	font-weight:normal;
}
.highLights p strong{
	display:block;
}
.highLights .oneItem p{
	font-size:1.8em;
	line-height:130%;
	margin:0px 0 0px 30px;
	color:#FFF;
/*	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;*/
}
.highLights .oneItem p strong{
	display:block;
}
.highLights .oneItem a.viewVideo{
	background:url(../images/bg_viewvideo.png) left 0px no-repeat;
	height:31px;
	float:left;
	display:block;
	font-size:1.2em;
	padding:9px 20px 0px 35px;
	color:#FFF;
	font-weight:bold;
	margin:5px 0px 0px 25px;
}
.highLights .oneItem a:hover.viewVideo{
	color:#E50C0F;
}
.highLights .one ul.paging{
	list-style:none;
	position:absolute;
	right:30px;
	bottom:35px;
}
.highLights .two ul.paging, .highLights .three ul.paging{
	list-style:none;
	position:absolute;
	right:1px;
	bottom:19px;
}
.highLights ul.paging li, .highLights ul.paging li a{
	display:block;
	width:3px;
	height:3px;
	background:#FFF;
	text-indent:-9999px;
	float:left;
	margin-right:3px;
}
.highLights ul.paging li a{
	background:#000;
}
.highLights ul.paging li a:hover{
	background:#E50C0F;
}

