/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

.rightColumn .logoBlocks{
	width:135px;
	height:135px;
	background:url(../images/img_logoblocksinpage.gif) 0 0 no-repeat;
	position:relative;
	float:right;
	z-index:10;
}
/*TOOLBOX*/
ul.toolBox{
	clear:both;
	border:solid 1px #CCC;
	list-style:none;
	padding:10px 0px 5px 10px;
	font-size:1.1em;
	margin:0px 0px 20px 0px;
}

ul.toolBox li {
	display: inline;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

ul.toolBox li a {
	padding:0px 0px 0px 20px;
	display:block;
}
ul.toolBox li.mail a {
	background: url(../images/icnToolbox.gif) left 6px no-repeat;
}

/*ul.toolBox li.mail a.stuurdoor {
margin: 0;
padding: 0;
}*/
ul.toolBox li.react a {
	background: url(../images/icnToolbox.gif) left -64px no-repeat;
}
ul.toolBox li.print a {
	background: url(../images/icnToolbox.gif) left -137px no-repeat;
}
ul.toolBox li.add2 a {
	background: url(../images/icnToolbox.gif) left -212px no-repeat;
}
ul.toolBox li.picture a {
	background: url(../images/icnToolbox.gif) left -353px no-repeat;
}
ul.toolBox li.download a {
	background: url(../images/icnToolbox.gif) left -422px no-repeat;
}
ul.toolBox li.video a {
	background: url(../images/icnToolbox.gif) left -489px no-repeat;
}
ul.toolBox li.xtra a {
	background:url(../images/icnToolbox.gif) left -557px no-repeat;
}
ul.toolBox li.pdf a {
	background: url(../images/icnToolbox.gif) left -628px no-repeat;
}
ul.toolBox li.slideshow a { 
	background: url(../images/icnToolbox.gif) left -698px no-repeat;
}
ul.toolBox li.company a {
	background: url(../images/icnToolbox.gif) left -767px no-repeat;
}
ul.toolBox li.discuss a {
	background: url(../images/icnToolbox.gif) left -826px no-repeat;
}
ul.toolBox li a {
	display: block;
	padding: 3px 0 5px 20px;
}

ul.toolBox li a:hover {
	color:#3A4F98;
}
ul.add.dynamic {
	list-style:none;
	display:none;
}
ul#addSocial.static{
	list-style:none;
	display:block;
}

ul.add li {
	
}
ul.add li a{
	padding:3px 0px 5px 20px;
	margin:3px 0px 2px 20px;
}
ul.add li.mySpace a{
	background:url(../images/icnAddto.gif) 0px 0px no-repeat;
}
ul.add li.delicious a{
	background:url(../images/icnAddto.gif) 0px -22px no-repeat;
}
ul.add li.live a{
	background:url(../images/icnAddto.gif) 0px -47px no-repeat;
}
ul.add li.yahooMyWeb a{
	background:url(../images/icnAddto.gif) 0px -68px no-repeat;
}
ul.add li a:hover{
}

/*TELLAFRIEND*/
.rightColumn .tellaFriendStatic{
	/*position:absolute;*/
	z-index:1000;
	top:75px;
	right:180px;
	/*background:url(../images/bg_tellaFriend.png) 0px 0px no-repeat;*/
	width:420px;
	/*height:314px;*/
	margin-bottom: 5px;
	/*display:none;*/
}
.rightColumn .tellaFriendStatic .close a{
	background:url(../images/icn_close.gif) 0px 0px no-repeat;
	text-indent:-9999px;
	position:absolute;
	z-index:101;
	display:block;
	width:8px;
	height:8px;
	right:0px;
	top:10px;
	display: none;
}
.rightColumn .tellaFriendStatic h3{
	padding:0px 0px 10px 0px;
	margin:2px 0px 0px 0px;
}
.rightColumn .tellaFriendStatic label, .rightColumn .tellaFriendStatic input
{
	width: 155px;
	display: block;
	clear: both;
}

.rightColumn .tellaFriendStatic input 
{
	margin-bottom: 7px;
}

.rightColumn .tellaFriendStatic label 
{
	margin-bottom: 2px;
}
.rightColumn .tellaFriendStatic textarea
{
	width: 155px;
	height: 100px;
}
/* TELLAFRIEND DYNAMIC*/
.rightColumn .tellaFriend{
	position:absolute;
	z-index:1000;
	top:75px;
	right:180px;
	background:url(../images/bg_tellaFriend.png) 0px 0px no-repeat;
	width:420px;
	height:314px;
	display:none;
}
.rightColumn .tellaFriend .close a{
	background:url(../images/icn_close.gif) 0px 0px no-repeat;
	text-indent:-9999px;
	position:absolute;
	z-index:101;
	display:block;
	width:8px;
	height:8px;
	right:0px;
	top:10px;
}
.rightColumn .tellaFriend h3{
	border-bottom:solid 1px #CCC;
	padding:0px 0px 10px 0px;
	margin:10px 0px 20px 0px;
}