.tweetcontainer1 { margin: -1.0em 0 0 0; }
.twitStream{ /*font-family: verdana; font-size: 11px;*/ width: 175px; height: 193px; overflow: auto; }
.twitStream a{ /*font-family: verdana; font-size: 11px;*/ }
.tweet{ /*display: block;*/ padding: .2em; margin: .2em 0; }
.tweet-left{ float: left; margin-right: 1em; }
.tweet-left img{ /*border: 2px solid #000000;*/border-width: 0;  width: 30px; height: 30px; }
.tweet p.text{ margin: 0; padding: 0; }
#twitterimage { width: 120px; height: 25px; position: relative; margin: 0 0 -0.2em 0; padding: 0; border-width: 0; }