/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

ul.sortEvents{
	font-size:1.1em;
	float:right;
	position:relative;
	margin-right:10px;
}
ul.sortEvents li{
	
}
ul.sortEvents li.sortDropdown a{
	padding:2px 30px 3px 5px;
	display:inline-block;
	background:url(../images/bg_otherlang.gif) right 3px no-repeat;
	color:#646464;
	border:solid 1px #D9D9D9;
	text-decoration:none;
	white-space:nowrap;
}
ul.sortEvents li.sortDropdown a:hover{
	color:#008795;
}
ul.sortItem{
	border:solid 1px #CCC;
	list-style:none;
	z-index:100;
	background:#FFF;
	position:absolute;
	left:0px;
	top:25px;
	padding:5px;
	display:none;
	min-width:80px;
}
ul.sortItem li a{
	margin:0px;
	display:block;
	border:none !important;
	border-bottom:solid 1px #CCC !important;
	background-image:none !important;
	padding:5px 0px 4px 0px;
	text-decoration:none;
}
ul.sortItem li.last a{
	border:none;
}
ul.sortItem li a:hover{
	color:#333 !important;
	background:#E9E9E9;
}
.overzicht{
	clear: both;
	margin: 0;
	padding: 0px 0px 15px 0px;
	list-style:none;
}
.overzicht li{
	padding: 10px 0px 0px 0px;
	list-style:none;
}
.overzicht a.date{
	margin:0;
	padding: 0px 0px 3px 0px;
	color:#008795;
	font-size:1.2em;
	font-weight:normal;
	text-decoration: none;
	display: block;

}
.overzicht .agenda{
	margin:0;
	padding: 0;
	color:#000000;
	font-size:1.2em;
	font-weight:bold;
}
.overzicht .discription{
	margin:0;
	padding: 0px 0px 1px 0px;
	color:#000000;
	font-size:1.2em;
	font-weight:normal;
	line-height: 16px;
}
.overzicht .timePlace{
	margin:0;
	padding:0px 0px 11px 0px;
	color:#646464;
	font-size:1.1em;
	font-style: italic;
	border-bottom: solid 1px #ccc;
}
.containerTypeCAgenda{
	float:right;
	margin: 0;
	padding:0;
	width:180px;
	background: #fff;
}
div#agendaBox{
	float:left;
	margin: 0;
	padding:0px 0px 20px 0px;
	width:180px;
	background: #fff;
}
div#agendaBox h2{
	float:left;
	margin: 0;
	padding:0px 0px 14px 5px;
	width:180px;
}
div#agendaForm{
	clear: both;
	float:left;
	margin: 0;
	padding:0;
	width:180px;
	display: inline;
}
div#leftDropDown{
	float:left;
	margin: 0;
	padding:0;
	width:79px;
	display: inline;
}
div#leftDropDown select{
	margin:0;
	padding:1px 0px 1px 0px;
	width:79px;
	color:#646464;
	font-size:1.1em;
}
div#rightDropDown{
	float:left;
	margin: 0 0 0 6px;
	padding:0;
	width:57px;
	display: inline;
}
div#rightDropDown select{
	margin: 0;
	padding:1px 0px 1px 0px;
	width:57px;
	color:#646464;
	font-size:1.1em;
}

.btn_search {
	width: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #008795;
	margin: 0 0 0 6px;
	border: 0;
	float: left;
	color: #ffffff;
	font-size: 1.0em;
	line-height: 10px;
	font-weight: bold;
	float: left;
	display: inline;
}
div#agendaTable{
	clear: both;
	float: left;
	margin: 10px 0px 0px 0px;
	padding: 0;
	width: 180px;
	font-family:Arial, Helvetica, sans-serif;
}
div#agendaTable th{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
	width:25px;
	height:15px;
	text-align: center;
}
div#agendaTable p{
	margin: 0;
	padding: 5px 0px 5px 0px;
	font-size: 1.1em;
	width: 25px;
	color: #a5a5a5;
	display: block;
	background: #EDEDED;
	text-align: center;
}
div#agendaTable a{
	margin: 0;
	padding: 5px 0px 5px 0px;
	font-size: 1.1em;
	width: 25px;
	color: #000;
	display: block;
	background: #EDEDED;
	text-align: center;
}
div#agendaTable a:hover{
	background: #b2b2b2;
}
div#agendaTable .activeCell{
	margin: 0;
	padding: 5px 0px 5px 0px;
	font-size: 1.1em;
	font-weight: bold;
	width: 25px;
	color: #fff;
	display: block;
	background: #b2b2b2;
	text-align: center;
}
div#agendaTable .empty{
	background: #f6f6f6;
}
.containerTypeCsearch{
	clear: both;
	float: right;
	margin: 0 0 10px 0;
	padding:0;
	width: 180px;
	background: url(../images/bg_contentcontainer_c.gif) no-repeat;
	display: block;
}
.containerTypeCsearch h2{
	float:left;
	padding: 0px 0px 14px 10px;
	width:150px;
}
.containerTypeCsearch h4{
	float: left;
	margin: 5px 0px 5px 5px;
	padding:0;
	width: 180px;
	display: inline;
}
.containerTypeCsearch ul{
	margin: 0px 0px 0px 5px;
	padding: 0;
	list-style:none;
	width: 168px;
}
.containerTypeCsearch ul li{
		font-size:1.0em;
}
.containerTypeCsearch ul.filter li{
	padding:3px 0px 3px 0px;
	position: relative;
}
.containerTypeCsearch ul.filter li a{
	/*background:url(../images/icn_menu_listitem.gif) 0px 5px no-repeat;*/
	padding:3px 10px 3px 8px;
	background:#FFF url(../images/icnCollapse01.gif) right no-repeat;
	background-position: 100% 0px;
	border:solid 1px #C9C9C9;
	color: #646464;
	display: block;
	height: 14px;
	line-height: 16px;
	white-space: wrap;
	overflow: hidden;
}
.containerTypeCsearch ul.filter li a:hover{
	color: #008795;
	background:#FFF url(../images/icnCollapse01.gif) right no-repeat;
	background-position: 100% -15px;
}
div#rightSearchBox{
	clear: both;
	float: left;
	margin: 0;
	padding:0;
	width: 180px;
	height: 55px;
}
div#rightSearchBox h4{
	float: left;
	margin: 5px 0px 5px 5px;
	padding:0;
	width: 180px;
}
div#rightSearchBox #trefwoordForm{
	clear: both;
	float: left;
	margin: 0;
	padding:0;
	width: 180px;
	height: 25px;
}
#trefwoordForm .searchfield{
	float: left;
	margin: 0px 0px 0px 5px;
	padding:0;
	width: 166px;
	height: 19px;
	background: #fff;
	border: solid 1px #d9d9d9;
}
/*div#zoekCriteria{
	clear: both;
	float: left;
	margin: 0;
	padding:0;
}*/
div#zoekCriteria .filter{
	font-size: 11px;
	color: #646464;
}
div#zoekCriteria .searchBtn{
	float: right;
	margin: 2px 8px 5px 0px;
	padding:0px 5px 3px 5px;
	border: solid 1px #ccc;
	font-size:1.1em;
	color: #646464;
	background:#FFF;
}
div#zoekCriteria .searchBtn:hover{
	color: #008795;
}
div#locatie{
	clear: both;
	float: left;
	margin: 0;
	padding:0px 0px 10px 0px;
	width: 180px;
}
div#locatie h4{
	float: left;
	margin: 5px 0px 3px 5px;
	padding: 0;
}

.containerTypeCsearch b { 
	display:inline;
	float:left;
	font-size:1.1em;
	font-weight:bold;
	margin:5px 0 5px 5px;
	margin:5px 0 3px 5px;
	padding:0;
}

div#locatie ul.alfabet{
	clear: both;
	float: left;
	margin: 0px 0px 5px 5px;
	padding:0;
	width: 166px;
}
div#locatie hr{
	clear: both;
	margin: 0 auto;
	padding: 0px 0px 5px 0px;
	width: 166px;
	border-color: #ccc;
}
/*popups*/


/* hide and show different things when there's no js */

/* the div #zoekCriteria has class.static by default; it should be replaced with .dynamic by js at pageload */

/*popups*/


/* hide and show different things when there's no js */

/* the div #zoekCriteria has class.static by default; it should be replaced with .dynamic by js at pageload */

.static .filterOptions, 
.static .filterOptionsSmall {
	display: block;
	/*position: relative;*/
	right: 0;
	top: 0;	
}
.static .filterOptionsBg {
	background: transparent !important;
}
.static .filterOptions, 
.static .filterOptionsBg {
	padding: 0;
	width: 120px;
}

.static .filterOptions label {
	width: 150px;
}
.static .filterOptions.genres {
	/*height: 390px;*/
}
.static .filterOptions.vandaag {
	/*height: 270px;*/
}
.static div#checkBoxContainer, 
.static div#tijdBoxContainer {
	width: 140px;
}
.static div#tijdBoxContainer label {
	width: 150px;
}
.static .filterOptionsSmall {
	padding: 0 10px 0 0;
}

.static .filterOptionsSmall .filterOptionsBg {
	/*height: 140px;*/
	width: 150px;
}

.static .filterOptionSubmit {
	display: none;
}
 
.static ul.filter li a,
.containerTypeCsearch .static .filterOptions .close2 a{
	display: none;
}

.static div#checkBoxContainer .leftRow,  
.static div label,
.static .filterOptions #topHeader01,
.static .filterOptionsSmall .smallBoxCenter, 
.static .filterOptionsSmall .smallBoxHeader {
	margin-left: 0 !important;
}

.static .filterOptionsSmall .smallBoxHeader {
	margin-left: 5px !important;
}

.static div#checkBoxContainer .rightRow {
	width: 120px;
}


/* width js enabled, class.dynamic is added to each ul.filter */
.dynamic a.alleGenres, 
.dynamic a.alleenVandaag, 
.dynamic a.evenementenAgenda,  
.dynamic a.alleenWijken, 
.dynamic a.alleenVacatures  {
	display: block;
}

.dynamic .filterOptions,
.dynamic .filterOptionsSmall {
	display: none;
	position:absolute;
	bottom:-4px;
}

.dynamic .filterOptionSubmit {
	display: block;
}
/* end hiding and showing */


.clear {
	clear:both;
	height:0;
}
.genres{
	position:absolute;
	right:180px;
	/*top:320px;*/
	z-index:1000;
}
.vandaag{
	position:absolute;
	right:180px;
	/*top:353px;*/
	z-index:1000;
}
.evenementen{
	position:absolute;
	right:180px;
	/*top:520px;*/
	z-index:1000;
}
.filterOptions{
	background: #FFF;
	/*height:324px;*/
	padding:0px;
	width:300px;
	border:solid 1px #9C9C9C;
}

.filterOptionsBg {
	/*background:transparent url(../images/bgFilterOptions.png) no-repeat;*/
	/*height:304px;*/
	margin: -1px 0px 0px 0px;
	padding:10px;
	position: static;
	width:289px;
	background:url(../images/icnArrowPopUp.gif) right bottom no-repeat;
}
.filterOptionsSmall{
	border:solid 1px #999;
	background:#FFF;
}
.filterOptionsSmall .filterOptionsBg {
	/*margin: -11px 0px 0px -12px;*/
	/*background:transparent url(../images/bgFilterOptionsSmall.png) no-repeat;*/
	/*height:170px;*/
	width:172px;
	/*margin-bottom:25px;*/
	background:url(../images/icnArrowPopUp.gif) right bottom no-repeat;
}
.filterOptionsSmall fieldset{
	margin-bottom:25px;
}
.filterOptionsSmall.evenementen{
bottom:-15px;
}

.filterOptions .topHeader{
	/*margin: 10px 0px 5px 5px !important;*/
	padding: 0;
	color: #000;
	width: 200px;
	font-weight: bold !important;
}
div#checkBoxContainer{
	float: left;
	margin: 0;
	padding: 0;
	/*height: 250px;*/
	width: 280px;
	display: inline;
/*	position:relative;
	bottom:0px;*/
}
div#checkBoxContainer .leftRow{
	float: left;
	margin: 0px 0px 40px 20px;
	padding: 0;
	width: 280px;
	/*display: inline;*/
}
div#checkBoxContainer .leftRow label{
	float: left;
	margin: 0;
	padding: 0;
	width: 140px;
	/*display: inline;*/
}
div#checkBoxContainer .leftRow span{
color: #333;
}
div#checkBoxContainer .rightRow{
/*	float: right;
	margin: 0px 20px 0px 0px;
	padding: 0;
	width: 100px;*/
	display: none;
}
/*div#checkBoxContainer .rightRow label{
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	display: inline;
}
div#checkBoxContainer .rightRow span{
	color: #333;
}*/
.filterOptions #topHeader01{
	margin: 10px 0px 5px 15px !important;
	padding: 0;
	color: #000;
	width: 200px;
	font-weight: bold !important;
}
div#tijdBoxContainer{
	float: left;
	margin: 0;
	padding: 0;
	height: 250px;
	width: 280px;
	display: inline;
}
div#tijdBoxContainer label{
	float: left;
	margin: 0px 0px 0px 15px;
	padding: 0;
	width: 260px;
	display: inline;
}
div#tijdBoxContainer #tijdbox01, #tijdbox02, #tijdbox03, #tijdbox04{
	margin: 0;
	padding: 0;
	width: 36px;
}
div#tijdBoxContainer select{
	margin: 0;
	padding:1px 0px 1px 0px;
	width:120px;
	height: 20px;
	color:#646464;
	font-size:1.0em;
}
div#tijdBoxContainer label.short{
	width: 100px;
}
div#tijdBoxContainer select.dates {
	float: left;
}
.filterOptionsSmall{
	/*background: #FFF url(../images/icnArrowPopUp.gif) right bottom no-repeat;*/
	display:none;
	/*height:170px;*/
	padding:5px 10px 10px 10px;
	width:173px;
}
.filterOptionsSmall .smallBoxHeader{
	float: left;
	/*margin: 10px 0px 7px 10px !important;*/
	padding: 0;
}
.filterOptionsSmall .smallBoxHeader input{
	margin: 0px 5px 0px 0px !important;
	padding: 0;
}
.filterOptionsSmall .smallBoxHeader span{
	margin: 0px 0px 0px 0px !important;
	padding: 0;
	color: #333;
	font-weight: bold !important;
}
.filterOptionsSmall .smallBoxCenter{
	clear: both;
	float: left;
	margin: 3px 0px 0px 20px !important;
	padding: 0;
	color: #333;
}
.filterOptionsSmall .smallBoxCenter input{
	margin: 0px 5px 0px 0px !important;
	padding: 0;
}
.filterOptionsSmall .smallBoxCenter span{
	margin: 0 !important;
	padding: 0;
	color: #333;
}
.containerTypeCsearch .filterOptions .close2 a {
	background:transparent url(../images/icn_close.gif) no-repeat!important;
	border:medium none !important;
	display:block;
	float:right;
	height:8px;
	margin-right:0px;
	padding-right:0px;
	position:relative;
	text-indent:-9999px;
	width:8px;
	z-index:101;
}
.filterOptionsSmall .close2 a {
	background:transparent url(../images/icn_close.gif) no-repeat!important;
	border:medium none !important;
	display:block;
	float:right;
	height:8px;
	margin:0px;
	position:relative;
	right:0px;
	top:-5px;
	text-indent:-9999px;
	width:8px;
	z-index:101;
}

/*Agenda Locatie*/
.overzichtLocatie{
	clear: both;
	margin: 0;
	padding: 0px 0px 15px 0px;
	list-style:none;
}
.overzichtLocatie li{
	padding: 10px 0px 0px 0px;
	list-style:none;
}
.overzichtLocatie h3{
	margin: 0;
	padding: 0px 0px 10px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #646464;
}
.overzichtLocatie a.who{
	margin:0;
	padding: 0px 0px 3px 0px;
	color:#008795;
	font-size:1.2em;
	font-weight:bold;
	text-decoration: none;
	display: block;
}
.overzichtLocatie .where{
	margin:0;
	padding: 0;
	color:#000;
	font-size:1.2em;
	font-weight:normal;
}
.overzichtLocatie .location{
	margin:0;
	padding: 0px 0px 5px 0px;
	color:#000;
	font-size:1.2em;
	font-weight:normal;
	line-height: 16px;
	border-bottom: solid 1px #ccc;
}
.overzichtLocatie .phone{
	float: right;
	margin: -5px 0px 0px 0px;
	padding:0px 0px 3px 0px;
	color:#7f7f7f;
	font-size:1.2em;
	font-style: normal;
}
/*Agenda evenement locatie*/
div#imgDescriptionBox{
	float: left;
	margin: 0;
	padding: 5px 0px 0px 0px;
	width: 495px;
	border-bottom: solid 1px #ccc; 
}
div#imgDescriptionBox a{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.1em;
	font-weight: normal;
}
div#imgDescriptionBox a:hover{
	color:#008795;
}
div#imgDescriptionBox .imgDescription{
	margin: 0;
	padding: 0px 0px 5px 0px;
	color: #646464;
}
div#evenementContainer{
	float: left;
	margin: 0;
	padding: 15px 0px 0px 0px;
	width: 495px;
}
div#evenementContainer h3{
	margin: 0;
	padding: 0px 0px 23px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #646464;
}
div#evenementContainer a{
	margin:0;
	padding: 0px 0px 13px 0px;
	color:#008795;
	font-size:1.2em;
	font-weight:bold;
	text-decoration: none;
	display: block;
}
div#evenementContainer .tabel02{
	margin: 0;
	padding: 0;
	width: 495px;
	height: 30px;
	color:#000;
	font-size:1.2em;
	line-height:1.1em;
	background: #fff;
	border: 0;
}

div#evenementContainer .tabel02 thead {
	display: none;
}
div#evenementContainer tr td {
	line-height: 1.5em;
	padding: 6px;
}
div#evenementContainer tr.odd{
	background: #f5f5f5;
}
div#evenementContainer .first{
	margin: 0;
	width: 35px;
	color:#000;
}
div#evenementContainer .second{
	margin: 0;
	width: 70px;
	color:#000;
}
div#evenementContainer .third{
	margin: 0;
	width: 80px;
	color:#000;
}
