/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

/*containerTypeB*/
.containerTypeB{
	float:left;
	width:211px;
	height:125px;
	background:#BDE0E4 url(../images/bg_contentcontainer_b.gif) 0px 0px no-repeat;
	padding:0px 12px 0px 12px;
	position:relative;
}
.containerTypeB h2{
	font-size:1.5em;
	margin:8px 0px 6px 0px;
}
.containerTypeB p {
	font-size:1.1em;
	line-height:120%;
	margin:0px 0px 10px 0px;
}
.containerTypeB img{
	width:80px;
	height:80px;
	float:left;
	margin:0px 10px 10px 0px;
}
.containerTypeB a.more {
	position:absolute; 
	right:0; 
	bottom:0; 
	background:#007E66 url(../images/icn_arrowmiddle.gif) no-repeat scroll right 3px;
	padding:1px 20px 2px 10px;
	font-size:1.2em;
	color:#fff;
}
.containerTypeB a:hover.more{
	background-position:right -14px;

/*end containerTypeB*/