/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

/*HIGHLIGHTS*/
div.homephoto0{
	z-index: 1;
}
div.homephoto1{
	display:none;
	z-index: 2;
}
div.homephoto2{
	display:none;
	z-index: 3;
}

.highLights{
	position:relative;
	/*width:930px;*/
	background:#CCC;
	z-index:0;
}
.logoBlocks{
	width:225px;
	height:150px;
	background:url(../images/img_logoblocks.png) 0 0 no-repeat;
	position:absolute;
	top:0px;
	right:0px;
	z-index:20000;
}
.highLights .items, .highLights .item{
	position:absolute;
	z-index:1000;
}
.highLights .items .one{
	background:url(../images/bg_highlightitem.png) 0 0 repeat-x;
	width:336px; /*360 minus (12px+12px)*/
	height:112px; /*140 minus (16px+12px)*/
	display:block;
	border-bottom:solid 1px #666;
	padding:16px 12px 12px 12px;
	position:relative;
	overflow: hidden;
}
.highLights .items .one ul, 
.highLights .items .two ul, 
.highLights .items .three ul,
.highLights .item ul{
	list-style:none;
}
.highLights .items .one ul li{
	display:inline;
}
.highLights .items .one ul li a{
}
/*NO ACCORDION*/
.highLightsNoAccordion .category{
	padding:1px 3px 2px 3px;
	background:#A2A2A2;
	color:#fff;
	float:left;
	margin-bottom:5px !important;
	font-size:1.0em;
	position:relative;
}
.comments{
	margin:6px 8px 0 0;
	position: absolute;
	right: 0;
	text-align: right;
	z-index:1000;
	background:url(../images/icnReactions.gif) 0px 3px no-repeat;
	padding:0px 0px 0px 15px;
	color:#333;
}
.comments a{
	color:#333;
}
.comments a:hover{
	color:#333;
	text-decoration:underline !important;
}
.highLightsNoAccordion{
	font-size:1.1em;
	height: 306px;
	margin-bottom:10px;
	position:relative;
	z-index:0;
}
.highLightsNoAccordion .items, 
.highLightsNoAccordion .item{
	position:absolute;
	z-index:1000;
}
.highLightsNoAccordion .items .one{
/*	background:url(../images/bg_highlightitem.png) 0 0 repeat-x;*/
	width:360px;
	height:140px;
	display:block;
	margin:0 0 1px 0;
	padding:0px;
	position:relative;
}
	.subPageBox .highLightsNoAccordion .items .one{
	width:285px !important;
/*	height:118px;
	display:block;
	margin:0 0 1px 0;
	padding:10px 12px 12px 12px;
	position:relative;*/
}
.highLightsNoAccordion .items .one ul, 
.highLightsNoAccordion .items .two ul, 
.highLightsNoAccordion .items .three ul,
.highLightsNoAccordion .item ul{
	list-style:none;
}
.highLightsNoAccordion .items .one ul li{
	display:inline;
}

.highLightsNoAccordion .items .one ul li.overview a, 
.highLightsNoAccordion .items .two ul li.overview a, 
.highLightsNoAccordion .items .three ul li.overview a{
	color:#000;
	position:absolute;
	top: 115px;
	left:15px;
	text-decoration:underline;
}
.highLightsNoAccordion .items .one ul li.overview a:hover, 
.highLightsNoAccordion .items .two ul li.overview a:hover, 
.highLightsNoAccordion .items .three ul li.overview a:hover{
	/*background:#008795;
	color:#FFF;*/
	color:#008795;
}
.highLightsNoAccordion .items .one div.overview a{
	position:absolute;
	left:15px;
	/*bottom:11px;*/
	bottom: 6px;
	text-decoration:underline;
}
.highLightsNoAccordion .items .two div.overview a,
.highLightsNoAccordion .items .three div.overview a{
	position:absolute;
	left:15px;
	bottom:15px;
	text-decoration:underline;
	
}
.highLightsNoAccordion .items .one ul li.forward a{
	background:#008795 url(../images/icn_arrowlarge_forward.gif) center 7px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
.highLightsNoAccordion .items .one ul li.backTo a:hover{
	background:#008795 url(../images/icn_arrowlarge_backto.gif) center -22px no-repeat;
}
.highLightsNoAccordion .items .one ul li.backTo a{
	background:#008795 url(../images/icn_arrowlarge_backto.gif) center 7px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:31px;
	display:block;
	text-indent:-9999px;
}
.highLightsNoAccordion .items .one ul li.forward a:hover{
	background:#008795 url(../images/icn_arrowlarge_forward.gif) center -22px no-repeat;
}
.highLightsNoAccordion .items .one ul li a:hover{
}

.highLightsNoAccordion .items .two ul li.backTo a, 
.highLightsNoAccordion .items .three ul li.backTo a{
	background:#008795 url(../images/icn_arrowsmall_backto.gif) center 4px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top: 125px;
/*	bottom:0px;*/
	right:0px;
	display:block;
	text-indent:-9999px;
}
.highLightsNoAccordion .items .two ul li.backTo a,
.highLightsNoAccordion .items .three ul li.backTo a{
	right:16px;
}
.highLightsNoAccordion .items .two ul li.backTo a:hover, 
.highLightsNoAccordion .items .three ul li.backTo a:hover{
	background:#008795 url(../images/icn_arrowsmall_backto.gif) center -16px no-repeat;
}

.highLightsNoAccordion .items .two ul li.forward a, 
.highLightsNoAccordion .items .three ul li.forward a{
	background:#008795 url(../images/icn_arrowsmall_forward.gif) center 4px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top: 125px;
/*	bottom:0px;*/
	right:0px;
	display:block;
	text-indent:-9999px;
}

.highLightsNoAccordion .items .two ul li.forward a:hover, 
.highLightsNoAccordion .items .three ul li.forward a:hover{
	background:#008795 url(../images/icn_arrowsmall_forward.gif) center -16px no-repeat;
}
.highLightsNoAccordion .items .two {
	margin:0 1px 0 0;
	width:179px; /*minus 1px for margin*/ 
}
.highLightsNoAccordion .items .three {
	width:180px; 
}
.highLightsNoAccordion .items .two, 
.highLightsNoAccordion .items .three{
/*	background:url(../images/bg_highlightitem2.png) 0 0 repeat-x;*/
	height:140px; 
	display:block;
	float:left;
	padding:0px;
	position:relative;
}

.one,
.two,
.three
{
    overflow: hidden;    
}
 
.subPageBox .highLightsNoAccordion .items .two, 
.subPageBox .highLightsNoAccordion .items .three{
/*	background:url(../images/bg_highlightitem2.png) 0 0 repeat-x;*/
	width:142px;
}

.subPageBox .highLightsNoAccordion .items .two h3, 
.subPageBox .highLightsNoAccordion .items .three h3{
	font-size: 1.2em;
}

.subPageBox .highLightsNoAccordion .items .three{
	border:none;
}
.highLightsNoAccordion .one ul.paging{
	list-style:none;
	position:absolute;
	right:0;
	bottom:35px;
	width: 61px;
}
.highLightsNoAccordion .two ul.paging, 
.highLightsNoAccordion .three ul.paging{
	list-style:none;
	position:absolute;
    right:0;
	top:116px;
	width: 31px;

}
.highLightsNoAccordion ul.paging li, 
.highLightsNoAccordion ul.paging li a{
	display:block;
	width:3px;
	height:3px;
	/*background:#FFF;*/
	background:#000;
	text-indent:-9999px;
	float:left;
	margin-right:3px;
}
.highLightsNoAccordion ul.paging li a{
	background:#84888A;
}
.highLightsNoAccordion ul.paging li a:hover{
	background:#008795;
}

/*END NO ACCORDION*/

div.bottom {
	position:absolute;
	top:281px;
	left:0px;
}
div.bottom ul {
	background: url(../images/bg_highlightbottom.png) 0 0 repeat-x;
	position:static;
}

.highLights .items div.bottom ul, 
.highLights .oneItem div.bottom ul{
	/*width:336px; 360 minus (12px+12px)*/
	height:25px; /*24 minus (5px+0px)*/
	display:block;
	padding:0px 12px 0px 12px;
	list-style:none;
	z-index:20000;
	font-size:1.1em;
	width: 336px;
}

.highLightsNoAccordion .items div.bottom ul{
	height:25px;
	display:block;
	padding:0px 12px 0px 12px;
	list-style:none;
	width:336px;
}
.subPageBox .items div.bottom ul{
	width:261px;
}

.highLights .items div.bottom ul li, 
.highLightsNoAccordion .items div.bottom ul li, 
.highLights .oneItem div.bottom ul li{
	float:left;
	margin:0px 15px 0 0;
	padding-top: 6px;
}

.highLights .oneItem div.bottom ul li{
	margin-top:2px;
}

.highLights .items div.bottom ul li a, 
.highLightsNoAccordion .items div.bottom ul li a, 
.highLights .oneItem div.bottom ul li a{
	color:#CCC;
}
.highLights .items div.bottom ul li a:hover, 
.highLightsNoAccordion .items div.bottom ul li a:hover, 
.highLights .oneItem div.bottom ul li a:hover{
	color:#FFF;
}
.highLights .items div.bottom ul li.newsletter a, 
.highLightsNoAccordion .items div.bottom ul li.newsletter a, 
.highLights .oneItem div.bottom ul li.newsletter a{
	background:url(../images/icn_newsletter.gif) 0px 1px no-repeat;
	border-right:solid 1px #666;
	padding:0px 15px 5px 15px;
}

.highLights .oneItem div.bottom ul li.newsletter a, 
.highLights .oneItem div.bottom ul li.rss a{
	border-right:solid 1px #666;
	display: block;
	padding:0px 15px 3px 15px;
}

.highLights .items div.bottom ul li.rss a,
.highLightsNoAccordion .items div.bottom ul li.rss a,
.highLights .oneItem div.bottom ul li.rss a{
	background:url(../images/icn_rss.gif) 0px 1px no-repeat;
	display: block;
	padding:0px 15px 3px 15px;
}
.highLights .oneItem div.bottom ul li.newsoverview a
.highLightsNoAccordion .oneItem div.bottom ul li.newsoverview a{
	background:url(../images/icn_newsoverview.gif) 0px 2px no-repeat;
	padding:0px 0px 0px 16px;
}
.highLights h2, 
.highLightsNoAccordion h2{
	margin:10px 10px 5px 15px;
	font-size:1.5em;
	color:#000;
	font-weight:bold;
}

.highLights h3,
.highLightsNoAccordion h3{
	margin:3px 10px 5px 15px;
	font-size:1.2em;
	line-height:110%;
	max-height: 37px;
	overflow: hidden;
	padding-bottom: 1px;
}
.highLightsNoAccordion p{
	font-size:1.1em;
	margin:0px 10px 10px 15px;
	line-height:110%;
	max-height: 3.3em;
	overflow: hidden;
}
.highLights .oneItem{
	padding:30px 0px 0px 0px;
	height:300px;
	position:relative;
	z-index:1;
	left:0px;
}
.highLights .oneItem h2{
	margin:0px 0 13px 30px;
	font-size:3.3em;
	color:#FFF;
	font-weight:normal;
}
.highLights p strong{
	display:block;
}
.highLights .oneItem p{
	font-size:1.8em;
	line-height:130%;
	margin:0px 0 0px 30px;
	color:#FFF;
/*	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity: 0.85;*/
}
.highLights .oneItem p strong{
	display:block;
}
.highLights .oneItem a.viewVideo{
	background:url(../images/bg_viewvideo.png) left 0px no-repeat;
	height:31px;
	float:left;
	display:inline;
	font-size:1.2em;
	padding:9px 20px 0px 35px;
	color:#FFF;
	font-weight:bold;
	margin:5px 0px 0px 25px;
}
.highLights .oneItem a:hover.viewVideo{
	color:#FFF;
	text-decoration:underline;
}
/*.highLights .one ul.paging{
	list-style:none;
	position:absolute;
	right:30px;
	bottom:35px;
}
.highLights .two ul.paging, .highLights .three ul.paging{
	list-style:none;
	position:absolute;
	right:1px;
	bottom:19px;
}
.highLights ul.paging li, .highLights ul.paging li a{
	display:block;
	width:3px;
	height:3px;
	background:#FFF;
	text-indent:-9999px;
	float:left;
	margin-right:3px;
}
.highLights ul.paging li a{
	background:#000;
}
.highLights ul.paging li a:hover{
	background:#008795;
}*/
#test1, #test2{
	display:none;
}
.highLights h2 a, 
.highLightsNoAccordion h2 a,
.highLights h3 a,
.highLightsNoAccordion h3 a{
	text-decoration: none;
}
/*END HIGHLIGHTS*/