@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;

span.cluster_name:hover {
cursor: pointer;
}


#haags_uitburo ul, #haags_uitburo ul li, .stationFormUB ul, .stationFormUB ul li {list-style:none;background: none; padding: 0;}
#facet_genre .wrapper {padding: 5px 5px 15px 5px;}
.item-list {padding-top: 5px;}
#facet_period .wrapper {padding: 5px 0 15px 0;}
#facet_period input[type=radio], input[type=checkbox] {margin-right: 5px;}
.stationFormUB {background:#fff url(../images/uitburo_logo.png) no-repeat top right; margin:0 0 10px 0; width:491px; border-left: 2px solid #0083CA; border-right: 2px solid #0083CA; border-top: 20px solid #0083CA; border-bottom: 2px solid #0083CA;}
.stationFormUB form {text-align:left; padding:15px; overflow:hidden; width:465px;}
.stationFormUB fieldset {border-bottom:1px solid #0083CA; width:455px; padding:0 0 10px 0;}
.stationFormUB h2, .stationForm h3 {border-bottom:1px solid #0083CA; overflow:hidden; width:455px; padding:0 0 10px 0; color:#000;}
.stationFormUB h3 {color:#0083CA; text-transform: uppercase; font-size: 14px; font-weight: bold;}
.stationFormUB #facet_period h3, .stationFormUB #facet_genre h3 {border-bottom:1px solid #0083CA; overflow:hidden; width:455px; padding:0 0 10px 0;}


.item-list ul li, .header span {color: #474747;}
.stationFormUB p.itemBtn {float:left; width:auto;}
#haags_uitburo button, .stationFormUB button {padding:0; margin:0; cursor:pointer; overflow:visible; width:auto; height:20px; border:1px solid #474747; background:#474747;}
#haags_uitburo button strong, .stationFormUB button strong {color:#fff; float:left; width:auto; position:relative; white-space:nowrap; height:16px; font-weight:normal; line-height:16px; padding:0 10px; margin:0 6px 0 0; background:url(/static/denhaagpresentation/images/navNextArrow.png) no-repeat right center;}

img.uitagenda {position: relative; top:0; left: 10px; float: right; display:block;}

#haags_uitburo h4 {color:#0083CA; text-transform: uppercase; font-size: 14px; font-weight: bold; border-bottom:1px solid #0083CA; overflow:hidden; width:100px; padding:5px 0; margin-bottom: 10px;}
#haags_uitburo {background:#fff url(../images/uitburo_logo_small.png) no-repeat top right; margin:0; padding: 5px; width:150px; border: 2px solid #0083CA; color:#474747;}

#haags_uitburo button strong {
    background: url("/static/denhaagpresentation/images/navNextArrow.png") no-repeat scroll right center transparent;
    color: #FFFFFF;
    float: left;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
    margin: 0 6px 0 0;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
    width: auto;
}

.stationFormUB img {
position:relative;
float: right;
overflow: hidden;
right: 8px;
top: 4px;
}

#haags_uitburo input[type=checkbox] {
visibility: hidden;
display: none;
}

#loket {
width: 100%;
border: 2px solid #007E66;
height: 150px;
}

#loket span {
display: block;
width: 72px;
height: 77px;
background: url(../images/nummertje.png) no-repeat;
position: relative;
left: 105px;
top: -15px;
text-indent: -9999px;
}