@import url("/static/denhaagpresentation/css/structure.css");
@import url("/static/denhaagpresentation/css/style.css");
@import url("/static/denhaagpresentation/css/normal-size.css");
@import url("/static/denhaagpresentation/css/print.css") print;

iframe {
	z-index: -9999;
}

#stuur_artikel, .hideForm leftArrow hidePopup, .pageToolbox, .topAngle, .popupBg, .btmAngle {
	position: absolute;
	z-index: 9999;
}