/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                       */

/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
 
#mycarousel {
	background:#BDE0E4 none repeat scroll 0 0;
	padding:10px 20px 6px 21px;
    position: relative;
}

.jcarousel-container {
    position: relative;
}

.jcarousel-clip {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.jcarousel-list {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
    float: left;
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
    width: 142px;
    height: 85px;
}
#mycarousel li a{
	display:block;
	text-align:center;
	padding:0 0 5px 0;
	font-size:1.2em;
	line-height:160%;
}
#mycarousel li a:focus{
	border:none !important;
}
/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
}

.jcarousel-next.jcarousel-next-disabled, 
.jcarousel-prev.jcarousel-prev-disabled {
    background-color: #CCC;
}

/*SKIN*/
.jcarousel-skin-tango .jcarousel-container {
    /*-moz-border-radius: 10px;*/
    background: #BDE0E4;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    
    padding: 10px 20px 1px 20px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  100%;
    height: 123px;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 142px;
    height: 100px;
	padding:5px 12px 12px 12px;
	background:#FFF;
	border:solid 1px #CCC;
}
.jcarousel-skin-tango .jcarousel-item img{
    width: 142px;
    /*height: 170px;*/
    height: 85px;
	position:absolute;
	top:0px;
	left:0px;
	/*top:-85px;*/
	/*filter:progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);*/
	
	/*filter:alpha(opacity=40);
-moz-opacity: 0.4;
opacity: 0.4;*/
}
.jcarousel-skin-tango li a:hover img{
	cursor:pointer;
	/*filter:none;*/
}

.jcarousel-skin-tango canvas
{
	cursor: pointer;
	top:0;
	position: absolute;
	left: 0px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 12px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango ul{
	list-style:none;
}
.jcarousel-skin-tango ul li{
	display:inline;
	position:relative;
	overflow:hidden !important;
}

.jcarousel-skin-tango ul li a span.clip {
	display: block;
	height:80px !important;
	width:142px;
	overflow:hidden  !important;
	position:relative;
}
.jcarousel-skin-tango ul li a:hover{
	text-decoration:none !important;
}
.jcarousel-control {
    margin-bottom: 10px;
    text-align: center;
}

.jcarousel-control a {
    font-size: 1.1em;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    color: #eee;
    background-color: #4088b8;
    font-weight: bold;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}

.jcarousel-scroll {
   display: none;
}

.jcarousel-container .jcarousel-scroll {
    display: block;
	margin-top: 10px;
    text-align: center;
}
.jcarousel-next,
.jcarousel-prev {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1em;
	position:absolute;
	width:30px;
	height:30px;
	position:absolute;
	display:block;
	text-indent:-9999px;
	z-index:100;
	top:55px;
}
.jcarousel-next{
	background:#008795 url(../images/icn_arrowlarge_forward.gif) center 7px no-repeat;
	right:1px;	
}
.jcarousel-prev{
	background:#008795 url(../images/icn_arrowlarge_backto.gif) center 7px no-repeat;
	left:0px;
}
.jcarousel-next:hover{
	background:#008795 url(../images/icn_arrowlarge_forward.gif) center -22px no-repeat;
}
.jcarousel-prev:hover{
	background:#008795 url(../images/icn_arrowlarge_backto.gif) center -22px no-repeat;
}
/*STYLE*/

.jcarousel-skin-tango ul {
	display: block;
	height: 119px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 900px;
}

.jcarousel-skin-tango ul li {
	background:#FFFFFF none repeat scroll 0 0;
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	height: 100px;
	margin-right: 12px;
	overflow:hidden;
	padding:5px 12px 12px;
	position:relative;
	width:142px;
}
/*SLIDESHOW*/
.slideShowCarousel #mycarousel {
	background:#BDE0E4 none repeat scroll 0 0;
	padding:0px 10px 12px 10px;
    position: relative;
	height:84px;
}

.slideShow ul {
	display: block;
	margin-bottom: 10px;
	/*overflow: hidden;*/
	width: 400px;
	height: 77px;
	padding-bottom:10px;
}

.slideShow ul li {
	background:#BDE0E4 none repeat scroll 0 0;
	display: block;
	float: left;
	margin-right: 11px;
	padding:0px;
	position:relative;
	width:85px;
}
.slideShow .jcarousel-item img{
    width: 85px;
    height: 71px;
	/*position:absolute;
	top:0px;
	left:0px;*/
	border:solid 3px #BDE0E4;
	margin-top:9px;
}
.slideShow li a:hover img{
	cursor:pointer;
	border:solid 3px #D22525;
}
.slideShow li a:active img{
	border:solid 3px #D22525;
}
.slideShow li a.active img{
	border:solid 3px #D22525;
}
.slideShow span.active{
	background:url(../images/icnSlideshowAcitve.gif) center 0px no-repeat;
	display:block;
	width:85px;
	height:12px;
	position:absolute;
	z-index:100;
}
.slideShowCarousel .jcarousel-next,
.slideShowCarousel .jcarousel-prev {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1em;
	position:absolute;
	width:15px;
	height:15px;
	position:absolute;
	display:block;
	text-indent:-9999px;
	z-index:100;
	top:0px;
}
.slideShowCarousel .jcarousel-next{
	background:#008795 url(../images/icn_arrowlarge_forward.gif) center center no-repeat;
	right:1px;	
}
.slideShowCarousel .jcarousel-prev{
	background:#008795 url(../images/icn_arrowlarge_backto.gif) center center no-repeat;
	left:0px;
}
.slideShowCarousel .jcarousel-next:hover{
	background:#E50C0F url(../images/icn_arrowlarge_forward.gif) center center no-repeat;
}
.slideShowCarousel .jcarousel-prev:hover{
	background:#E50C0F url(../images/icn_arrowlarge_backto.gif) center center no-repeat;
}

/* slideshow popup */

.slideShowPopupContainer .slideShowCarousel {
	overflow: hidden;
	width: 917px;
}
.slideShowPopupContainer .slideShow ul li {
	height: 40px;
	margin-right: 7px;
	width: 50px;
}
.slideShowPopupContainer .slideShow .jcarousel-item img {
	border:2px solid #BDE0E4;
    height: 40px;
	margin-top: 8px;
    width: 50px;
}
.slideShowPopupContainer .slideShow li a.active img, 
.slideShowPopupContainer .slideShow li a:hover img {
	border: 2px solid #D22525;
}
.slideShowPopupContainer .slideShow span.active {
	background: transparent url(../images/icnSlideshowPopupActive.gif) no-repeat scroll center 0;
	height: 7px;
	width: 56px;
}
.slideShowPopupContainer .slideShowCarousel {
	height: 61px;
}
.slideShowPopupContainer .slideShowCarousel #mycarousel {
	background: #BDE0E4 none repeat scroll 0 0;
	height: 50px;
	padding: 0 4px 9px;
	position: relative;
}
.slideShowPopupContainer .slideShow ul {
	display: block;
	margin-bottom: 0px;
	/*overflow: hidden;*/
	width: 916px;
	height: 52px;
	padding-bottom:0px;
}


