/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

/*containerTypeC*/
.containerTypeC{
	float:right;
	padding:10px;
	background:#DFDFDF url(../images/bg_contentcontainer_c.gif) 0px 0px no-repeat;
	overflow:hidden;
}
.containerTypeC.pollBlock{
}
.containerTypeC h2{
	font-size:1.5em;
	margin:0px 0px 5px 0px;
	color:#1F1F1F;
}
.containerTypeC h3{
	font-size:1.1em;
	margin:0px 0px 3px 0px;
}
.containerTypeC h4{
	margin:0px;
}
.containerTypeC ul{
	list-style:none;
	margin-bottom:5px;
}
.containerTypeC ul li{
	/*font-size:1.1em;
	background:url(../images/icn_menu_listitem.gif) 0px 4px no-repeat;
	padding:0px 0px 0px 8px;*/
}
.containerTypeC ul li span{
	color:#888;
	padding:0 0 0 5px;
}
.containerTypeC.colspan7 ul li span.date{
	color:#008795;
	padding:0 0 0 8px;
	margin:5px 0px 0px 0px;
	font-size:0.9em;
	display:block;
}
.containerTypeC hr {
	border:none; 
	border-bottom:1px solid #C8C8C9;
	height:0px;
}

.containerTypeC ul li a{
	line-height:120%;
	font-size:1.1em;
	background:url(../images/icn_menu_listitem.gif) 0px 4px no-repeat;
	padding:0px 0px 3px 8px;
	display:block;
	
}
.containerTypeC ul.filter li{
	padding:3px 0px 3px 0px;
}
.containerTypeC ul.filter li a{
	/*background:url(../images/icn_menu_listitem.gif) 0px 5px no-repeat;*/
	padding:3px 8px 3px 8px;
	line-height:120%;
	background:#FFF url(../images/bg_otherlang.gif) right 3px no-repeat;
	border:solid 1px #C9C9C9;
	display:block;
}
.containerTypeC ul li.more a{
	background:#008795 url(../images/icn_arrowmiddle.gif) right 5px no-repeat;
	padding:1px 20px 2px 10px;
	color:#FFF;
	position:absolute;
	bottom:0px;
	right:0px;
	font-size:1.2em;
}
.containerTypeC ul li.more a:hover{
	background:#008795 url(../images/icn_arrowmiddle.gif) right -12px no-repeat;
	text-decoration:none;
}
.containerTypeC img{
	width:64px;
	height:64px;
	border:solid 1px #D3D3D3;
	float:left;
	margin:0px 10px 0px 0px;
}
.containerTypeC ul li a:hover{
	/*color:#339933;*/
}
/*containerTypeC  paging*/
.containerTypeC ul.paging{
	list-style:none;
	position:absolute;
	right:7px !important;
	bottom:25px;
	z-index:100;
	border:none !important;
	margin:0px;
	padding:0px;
	width:30px;
}
.containerTypeC ul.paging li, 
.containerTypeC ul.paging li a{
	display:block;
	width:3px;
	height:3px;
	text-indent:-9999px;
	float:left;
	line-height:3px;
	overflow:hidden;
	background-color:#FFF;
	margin-right:3px;
	padding:0px;
}
.containerTypeC ul.paging li a{
	background-color:#000;

}
.containerTypeC ul.paging li a:hover{
	background-color:#008795;
	cursor:pointer;
}
.containerTypeC p{
	font-size:1.1em;
}
/*BACKTO & FORWARD*/
.containerTypeC.colspan9 ul li{
	background-image:none;
}
.containerTypeC ul li.backTo a{
	background:#008795 url(../images/icn_arrowMiddle_backto.gif) center 5px no-repeat;
	width:18px;
	height:20px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
}
.containerTypeC ul li.backTo a{
	right:19px;
	padding:0px;
}
.containerTypeC ul li.backTo a:hover{
	background:#008795 url(../images/icn_arrowMiddle_backto.gif) center -12px no-repeat;
}

.containerTypeC ul li.forward a{
	background:#008795 url(../images/icn_arrowMiddle_forward.gif) center 5px no-repeat;
	width:18px;
	height:20px;
	position:absolute;
	bottom:0px;
	right:0px;
	display:block;
	text-indent:-9999px;
	padding:0px;
}

.containerTypeC ul li.forward a:hover{
	background:#008795 url(../images/icn_arrowMiddle_forward.gif) center -12px no-repeat;
}
.containerTypeC a.more{
	font-weight:bold;
	background:url(../images/icn_alink_more.gif) 0px 0px no-repeat !important;
	padding:0px 0px 2px 20px !important;
	font-size:1.1em;
	color:#000;
	position:absolute;
	left:10px;
	bottom:5px;
}
.containerTypeC a:hover.more{
	background:url(../images/icn_alink_more.gif) 0px -26px no-repeat  !important;
	color:#008795;
}
.colspan7 h3{
	margin:10px 0px 3px 0px;
}
.containerTypeC .poll h2{
	font-size:1.1em;
	color:#686868;
	font-weight:bold;
	margin:0px 0px 3px 0px;
}
.containerTypeC p.answer{
	font-size:1.0em;
	font-weight:normal;
	clear:both;
}
.containerTypeC p.answer span{
	color:#7B7B7B;
}
.containerTypeC p.TotalVotes{
	font-weight:bold;
	font-size:1.0em;
}
.containerTypeC .bar img{
	height:8px !important;
	border:none;
	margin:3px 0px 5px 0px;
}
/*FILTER*/
.filterForm legend{
	margin:-15px 0px 0px 0px;
	text-indent:-9999px;
	overflow:hidden;
}
.filterForm .filterForm form label.search{
	display:none;
}
.filterForm form{
	border-bottom:solid 1px #D5D5D5;
	padding:0 0 10px 0;
}
.filterForm form label{
	display:block;
	color:#000;
	padding-top:3px;
	font-weight:bold;
	font-size:1.1em;
}
.filterForm form .extend span{
	padding:3px 10px 0px 5px;
	float:left;
}
.filterForm form select{
	float:left;
	font-size:1.1em;
	padding:1px;
	width:245px;
	margin-bottom:5px;
	height:19px;
}
.filterForm form select option{
}
.filterForm form select.month{
	width:45px;
}
.filterForm form select.date{
	width:40px;
}
.filterForm form select.year{
	width:50px;
}
.filterForm form select.month, 
.filterForm form select.date,
.filterForm form select.year{
	margin-right:5px;
} 
.filterForm form input.searchfield{
	border:none;
	border:solid 1px #D7D7D7;
	padding:2px 2px 2px 4px;
	color:#999;
	width:367px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-style:italic;
	display:block;
}
.filterForm form .searchbutton{
	font-size:1.2em;
	display:block;
	border:solid 1px #D7D7D7;
	float:right;
	margin:10px 0px 0px 0px;
	background:#008795 url(../images/icn_arrowmiddle.gif) right no-repeat;
	padding:0px 13px 2px 5px;
	color:#FFF;
}
.filterForm form .searchbutton:hover{
	cursor:pointer;
	background:#008795 url(../images/icn_arrowmiddle.gif) right no-repeat;
}
.filterForm form .extend{
	display:none;
	margin:20px 0px 0px 0px;
}

/*FILTEROPTIONS*/
.filterOptions{
	background:url(../images/bgFilterOptions.png) 0px 0px no-repeat;
	padding:10px;
	width:307px;
	display:none;
}
.filterOptions .close2 a{
	background:url(../images/icn_close.gif) 0px 0px no-repeat !important;
	text-indent:-9999px;
	position:relative;
	z-index:101;
	display:block;
	width:8px;
	height:8px;
	float:right;
	border:none !important;
	margin-right:15px;
}
.filterOptions form{
	border:none;
}
.filterOptions label{
	font-weight:normal !important;
	font-size:1.0em !important;
	padding-left:20px;
	float:left;
	width:120px;
}
.filterOptions label.top{
	font-weight:bold !important;
	padding:0px 0px 5px 0px;
	float:left;
}
.filterOptions label span{
	color:#666;
}
.filterOptions form input.checkbox{
	width:15px;
	height:15px;
}
.metaData{
	display:none;
	position:absolute;
	top:82px;
	right:160px;
	z-index:1000;
}
.contentType{
	display:none;
	position:absolute;
	top:130px;
	right:160px;
	z-index:1000;
}
.bron{
	display:none;
	position:absolute;
	top:178px;
	right:160px;
	z-index:1000;
}
.afzender{
	display:none;
	position:absolute;
	top:225px;
	right:160px;
	z-index:1000;
}

a.extendedSearch{
	background:url(../images/bg_extendedSearch.gif) right 5px no-repeat;
	padding:0px 15px 0px 0px;
	position:relative;
	top:5px;
}

/*end containerTypeC*/