/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.0                        */

.crumbClock{
	margin:5px 0px 0px 0px;
}
.clock{
	font-size:1.1em;
	color:#666;
	float:right;
}
ul.crumbpath{
	list-style:none;
	/*margin:3px 0 3px 0;*/
	width:650px;
	overflow:hidden;
}
ul.crumbpath li{
	font-size:1.1em;
	color:#666;
	display:inline;
	margin-right:4px;
}
ul.crumbpath li a{
	color:#008795;
	padding:0 10px 0 0;
	background:url(../images/icn_crumbpath.gif) right 50% no-repeat;
}
ul.crumbpath li a.long{
	background:url(../images/icn_crumbpath.gif) right 50% no-repeat;
}
ul.crumbpath li a:hover{
	text-decoration:underline;
}
