/*	Default stylesheet			*/
/*	Author: 					*/
/* 	Company: 	tfe.com			*/
	
@import url('reset.css');
html{
}
html, body {
	margin: 0;
	font: normal normal normal 62.5%/1.5em Arial, Helvetica, sans-serif;
	height:100%;
}

body {
	/*background:url(../images/bg_body.gif) center repeat-y;*/
	font-size:1.1em;
	background: #EDEDED;
}

a {
	color:#333;
	text-decoration:underline;
}

a:hover {
	
}

img {
	display:none;
}

h1 {
	font-size:1.8em;
	font-weight:normal;
	margin:5px 0px 5px 0px;
}

h2 {
	font-size:1.5em;
	font-weight:bold;
	margin:5px 0px 5px 0px;
	color:#666;
}

h3 {
	font-size:1.2em;
	font-weight:bold;
	margin:5px 0px 0px 0px;
}

h4 {
	
}

h5 {
	
}

h6 {
	
}


p {
	margin:0px 0px 5px 0px;
}
p.intro{
	font-weight:bold;
	color:#666;
	border-top:solid 1px #CCC;
	margin:10px 0px 5px 0px;
	padding:5px 0px 0px 0px;
}

abbr {
	
}

strong, b {
	
}

em, i {
	
}

fieldset {
	
}

input,
select,
textarea {
	
}

ul {
	
}

ul li {
	
}
/***/

/* repeated styles */

.skiplink {
	display: block;
	position: absolute;
	top:0;
	left: -999px;
	height: 20px;
	padding: 10px 20px;
	background: #aaa;
}

.skiplink:focus {
	left: 0;
}

.discreet {
	color: #7F7F7F;
	margin: 0;
}

.more {
	
}

.back {
		
}

a.more:hover, a.back:hover {
	
}

.last {
	background: none;
	border: none !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	height: 1%;
}

/* end repeated styles */

/* resizing and unfloating */

body, 
.wrapper,
.header, 
ul.topMenu, 
.menu, 
.menu ul.top,
ul.secondRow, 
.li.search, 
.mainContentContainer, 
.contentContainer,
.contentContainer h2, 
.appsContainer h2,  
.home, 
.home .items, 
.targetMap, 
.footer {
	background: #FFF;
	clear: both;
	float: none;
	height: auto;
	position: relative;
	width: auto;
}

.contentBox {
	width: auto;
}

.skipNavigation {
	display: inline;
	left: 0;
	position: relative;
}


.contentContainer h2 span, 
.appsContainer h2 span {
	display: block;
}

.rightColumn {
	float: none;
}

.rightColumn #tellAFriend {
	background: #FFF;
	width: 165px;
}



.contentBox {
	padding: 0;
}

.contentContainer {
	margin-left: 0;
	width: auto;
}

.contentContainer h1 {
	width: auto;
}

.menu li.topItem {
	display: block;
	float: none;
}

.targetMap .left {
	float: none;
}


.wrapper{
/*	width:230px;*/
	margin:0px auto 0px auto;
	background:#FFF;
	padding:5px;
}
.header{
	position:relative;
	background:#F5F5F5;
	padding:10px;
}
a.logo{
	float: none;
	margin:15px 30px 0px 0px;
	
}
a.logo img{
	width:200px;
	float:none;
	display:block !important;
}
ul.topMenu{
	background: none;
	list-style:none;
	padding:0px;
	position:relative;
	margin:0px 0px 10px 0px;
}
ul.topMenu li{
	display:inline;
}
ul.topMenu li a{
	margin:0px;
	padding:0px 5px 0px 5px;
	border-right: solid 1px #5F5F5F;
	color:#5F5F5F;
	text-decoration:none;
}
ul.topMenu li a:hover{
	text-decoration:underline;
	color:#000;
}
ul.topMenu li.fontSize a{
	display:none;
}
/*ul.topMenu li.fontSize a:hover{
	color:#333;
	text-decoration:none;
	background:url(../images/icn_fontsize.gif) 17px -6px no-repeat;
}
ul.topMenu li.fontSize a span{
	padding:0px 0px 0px 13px;
	font-size:1.1em;
}
ul.topMenu li.fontSize a span:hover{
	background:url(../images/icn_fontsize.gif) 4px 5px no-repeat;
	position:relative;
	z-index:10;
}*/
.topMenu .readSpeaker, 
.topMenu .fontSize {
	/*padding:0px 0px 0px 0px;*/
	/*background:url(../images/icn_readspeaker.gif) 3px 1px no-repeat;*/
	display:none;
}
ul.topMenu li.last a{
	border:none;
}
ul.secondRow{
	background: transparent;
	width: 190px;
}
ul.secondRow li{
	margin:0px;
	padding:0px;
	display:block;
	
}
ul.secondRow li a{
	/*background:url(../images/bg_shadedbutton_left.gif) left 0px no-repeat;
	padding:4px 0px 5px 9px;
	color:#666;
	line-height:20px;*/
	text-decoration:underline;
	color:#000;
	background:#CCC;
	padding:4px;
	display:inline-block;
	border:solid 1px #FFF;
}
ul.secondRow li a:hover{
	color:#333;
}

ul.secondRow li.language span{
}
ul.xtraLanguages{
	margin:0px;
	padding:0px;
	list-style:none;
	position: relative;
	display:inline;
}
ul.xtraLanguages li{
	
}
ul.xtraLanguages li a{
	margin:0px;
	padding:0px;
	display:inline-block;
	background:#FFF !important;
	border-bottom:dotted 1px #CCC;
}
ul.xtraLanguages li a:hover{
}
/*SEARCH*/
legend{
	margin:0px 0px 0px 0px;
	text-indent:-9999px;
	overflow:hidden;
	
}
form label.search{
	display:block;
}
form#searchform{
	float: none;
	left: 0;
	top: 0;
		
}

form#searchform input.searchfield{
	border:none;
	border-bottom:solid 1px #D7D7D7;
	background:url(../images/bg_searchform.gif) 0px 0px no-repeat;
	font-size:1.0em;
	padding:3px 2px 2px 4px;
	height:15px;
	color:#666;
	width:174px;
}
form#searchform .searchbutton a{

}
form#searchform input.searchbutton{
	width:70px;
}
.crumbClock{
	margin:10px;
	position:relative;
	display:block;
}
.clock{
	display:none;
}
ul.crumbpath{
	display:none;
/*	margin:0px 0px 10px 0px;
		clear:both;*/
}
ul.crumbpath li{
	display:inline;
}
.menu{
	padding:10px 10px 0px 0px;
	display:block;
	position:relative;
}
.menu ul.top{
	
	
}
/*.menu li.topItem{
	margin: 0px 0px 0px 0px;
	font: bold 13px Arial, Helvetica, sans-serif;
	list-style-type: none;
	display:inline;
}*/
.menu li.topItem a { 
	padding:  7px 10px 7px 15px; 
	color: #FFF;
	text-decoration: none;
	background:#666;
	border: solid 3px #fff;
	display:inline-block;
}

.menu li.topItem a:hover,
.menu li.topItem a.active {
	border: 3px solid #FFF;
}
.menu li.topItem:hover,
.menu li.topItem.active:hover, 
.menu li.topItem.path {
	border-left:1px solid #FFF;
}
.menu li.topItem a.active:hover {
	border-left: 3px solid #FFF;
}
.menu li.topItem a span {
	background: none;
}

.menu li.topItem a.active{
	background:#3A4F9B;
}

/*SUBMENU*/
.subMenu{
	display:none;
}
/*SIDEMENU*/
.sideMenu{
	font-size:1.0em;
	color:#333;
}
/*level 2*/
.sideMenu ul{
	list-style:none;
	background:#FFF;
}
.sideMenu ul li{
	border-top:solid 1px #CCC;
}
.sideMenu ul li a{
	font-weight:bold;
	display:block;
	margin:0px 0px 0px 5px;
}
.sideMenu ul li a:hover{
}
.sideMenu ul li a.open{
}
.sideMenu ul li a.active{
}
.sideMenu ul li a.clicked{
}
/*level 3*/
.sideMenu ul li ul{
	/*background:#F5F5F5;*/
}
.sideMenu ul li ul li{
}
.sideMenu ul li ul li a{
	font-weight:normal;
	padding:0px 0px 0px 10px;
	margin:0 0 0 20px;
}
/*level 4*/
.sideMenu ul li ul li ul{
	/*background:#EAEAEA;*/
}
.sideMenu ul li ul li ul li{
}
.sideMenu ul li ul li ul li a{
	margin:0 0 0 30px;
}
/*level 5*/
.sideMenu ul li ul li ul li ul{
	/*background:#E1E1E1;*/
}
.sideMenu ul li ul li ul li ul li{
}
.sideMenu ul li ul li ul li ul li a{
	margin:0 0 0 40px;
}
/*level 6*/
.sideMenu ul li ul li ul li ul li ul{
	/*background:#D6D6D6;*/
}
.sideMenu ul li ul li ul li ul li ul li{
}
.sideMenu ul li ul li ul li ul li ul li a{
	margin:0 0 0 45px;
}
/*padding on the sideMenu*/
.sideMenu ul li a,
.sideMenu ul li ul li a,
.sideMenu ul li ul li ul li a
.sideMenu ul li ul li ul li ul li a

{
	padding:5px 0px 5px 0px;
}
.mainContentContainer{
}
.category{
	background:#333;
	padding:1px 3px 1px 3px;
	display:inline;
	color:#FFF;
}
/*containerTypeC*/
.containerTypeC{
	padding:10px;
	background:#DFDFDF url(../images/bgContainerCMobi.gif) 0px 0px no-repeat;
	border-bottom:solid 1px #FFF;
}
.containerTypeC h2{
	font-size:1.5em;
	margin:0px 0px 5px 0px;
	color:#1F1F1F;
}
.containerTypeC h3{
	font-size:1.1em;
	margin:0px 0px 3px 0px;
}
.containerTypeC ul{
	list-style:none;
}
.containerTypeC ul li{
		font-size:1.1em;
}
.containerTypeC ul li span{
	color:#888;
	padding:0 0 0 5px;
}
.containerTypeC ul li span.date{
	display:block;
	color:#3A4F9B;
	padding:0 0 0 8px;
	margin:5px 0px 0px 0px;
	font-size:0.9em;
}

.containerTypeC ul li a{
	background:url(../images/icn_menu_listitem.gif) 0px 5px no-repeat;
	padding:0px 0px 0px 8px;
	line-height:120%;
}
.containerTypeC ul li.more a{
	background:#3A4F9B url(../images/icn_arrowmiddle.gif) right no-repeat;
	padding:1px 20px 2px 10px;
	color:#FFF;
	position:absolute;
	bottom:0px;
	right:0px;
	font-size:1.2em;
}
.containerTypeC ul li.more a:hover{
	background:#F00 url(../images/icn_arrowmiddle.gif) right no-repeat;
}
.containerTypeC img{
	width:64px;
	height:64px;
	border:solid 1px #D3D3D3;
	float:left;
	margin:0px 10px 0px 0px;
}
.containerTypeC ul li a:hover{
	/*color:#339933;*/
}
.usefulInfo{
background:#F1F1F1;
padding:5px;
}
/*FORMS*/
form{
	font-family:Arial, Helvetica, sans-serif;
	width:95%;
	background:#F1F1F1;
	padding:5px;
}
label{
	display:block;
}
form input{
	width:98%;
}
form textarea{
	width:98%;
	font-family:Arial, Helvetica, sans-serif;
}
form input.submit{
	border:solid 1px #666;
	background:#FFF;
	color:#333;
	width:100px;
	float:right;
}
.usefulInfo .left label{
	display:inline;
	margin-right:10px;
	position:relative;
	top:-2px;
}
form input.radio{
	width:15px;
	
}
form hr{
	display:none;
}
/*TOOLBOX*/
ul.toolBox{
	clear:both;
	border:solid 1px #CCC;
	list-style:none;
	padding:10px 0px 5px 10px;
	font-size:1.0em;
	margin:0px 0px 20px 0px;
}

ul.toolBox li {
	display: inline;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

ul.toolBox li a {
	padding:0px 0px 0px 20px;
	display:block;
}
ul.toolBox li.mail a {
	background: url(../images/icnToolbox.gif) left 6px no-repeat;
}
ul.toolBox li.react a {
	background: url(../images/icnToolbox.gif) left -14px no-repeat;
}
ul.toolBox li.print a {
	background: url(../images/icnToolbox.gif) left -38px no-repeat;
}
ul.toolBox li.add2 a {
	background: url(../images/icnToolbox.gif) left -62px no-repeat;
}
ul.toolBox li.picture a {
	background: url(../images/icnToolbox.gif) left -103px no-repeat;
}
ul.toolBox li.download a {
	background: url(../images/icnToolbox.gif) left -122px no-repeat;
}
ul.toolBox li.video a {
	background: url(../images/icnToolbox.gif) left -140px no-repeat;
}
ul.toolBox li.xtra a {
	background:url(../images/icnToolbox.gif) left -157px no-repeat;
	color:#E50C0F;
}
ul.toolBox li.pdf a {
	background: url(../images/icnToolbox.gif) left -178px no-repeat;
}
ul.toolBox li.slideshow a { 
	background: url(../images/icnToolbox.gif) left -198px no-repeat;
}
ul.toolBox li.company a {
	background: url(../images/icnToolbox.gif) left -215px no-repeat;
}

ul.toolBox li a {
	display: block;
	padding: 3px 0 5px 20px;
}

ul.toolBox li a:hover {
	color:#3A4F9B;
}
ul.add {
	list-style:none;
	display:none;
}
ul.add li {
	
}
ul.add li a{
	padding:3px 0px 5px 20px;
	margin:3px 0px 2px 20px;
}
ul.add li.mySpace a{
	background:url(../images/icnAddto.gif) 0px 0px no-repeat;
}
ul.add li.delicious a{
	background:url(../images/icnAddto.gif) 0px -22px no-repeat;
}
ul.add li.live a{
	background:url(../images/icnAddto.gif) 0px -47px no-repeat;
}
ul.add li.yahooMyWeb a{
	background:url(../images/icnAddto.gif) 0px -68px no-repeat;
}
ul.add li a:hover{
}

.downloads {
	width: 200px;
}


/* homepages */
.subPageBox,
.homePageBox, 
.subpage {
	background: #FFF;
	float: none;
	width: 200px;
} 

.logoBlocks, 
.highLightsBg,
.carousel {
	display: none;
}

.highLights {
	float: none;
}

.containersSubpage {
	width: auto;
}

div.bottom {
	left: auto;
	position: relative;
	top: auto
}
div.bottom, 
.highLights .items div.bottom ul, 
.highLights .oneItem div.bottom ul {
	width: 200px;
}

.containerTypeCsearch{
	background: #DDD;
}

#zoekCriteria {
	margin-top: 20px;
}

#trefwoordForm .searchfield {
	margin-top: 20px;
}

div#checkBoxContainer {
	height: auto;
	margin-bottom: 20px;
}

.filterOptions *, 
.filterOptionsSmall *,
div#tijdBoxContainer {
	height: auto;
}

.filterOptions {
	height: auto !important;
}

.containerTypeCsearch form {
	background: transparent;
}