/* TARGETMAP */
.targetMap{
	border-top:solid 1px #D3D3D3;
	background: #FFF url(../images/bg_targetmap.gif) 0px 0px no-repeat;
	margin-top: 30px;
	padding:10px 0px 0px 10px;
}
ul.path{
	list-style:none;
	background:none;
	font-size:1.1em;
	margin:0px 0px 10px 0px;
}
ul.path li{
	display:inline;
	font-weight:bold;
	margin:0px 10px 0px 0px;
}
ul.path li a{
	padding:2px 0px 5px 15px;
	background:url(../images/bg_path.gif) left 0px no-repeat;
}
.colspan6 h2{
	font-size:1.1em;
	font-weight:bold;
	color:#646464;
}
ul.target{
	list-style:none;
	font-size:1.1em;
	position:relative;
}
ul.target li{
	line-height:135%;
	margin-right:10px;
	padding:3px 0px 0px 0px;
}
ul.target li a{
	color:#646464;
}
ul.target li a:hover{
	color:#008795;
}
ul.target .last{
	margin-right:0px;
}