<h1>Hartelijk dank</h1>
<p>Hartelijk dank voor het stemmen.</p>
<br />
<p>We zouden het op prijs stellen als u ook op uw favoriete sporter in een andere categorie wilt stemmen.</p>
<br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm#sportman_van_het_jaar" title="sportman van het jaar">sportman van het jaar</a><br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm#sportvrouw_van_het_jaar" title="sportvrouw van het jaar">sportvrouw van het jaar</a><br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm#sporttalent_van_het_jaar" title="sporttalent van het jaar">sporttalent van het jaar</a><br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm#sportcoach_van_het_jaar" title="sportcoach van het jaar">sportcoach van het jaar</a><br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm#sportploeg_van_het_jaar" title="sportploeg van het jaar">sportploeg van het jaar</a><br /><br />

<a href="http://www.denhaag.nl/home/bewoners/sport/to/Sportgala-2011-laat-uw-stem-nu-horen.htm" title="ga terug naar de pagina sportgala">Ga terug naar sportgala pagina</a>.