@charset "utf-8";
/* CSS Document */

body {
	font-size: 1.15em;
	line-height: 160%;
}

h1 {
	margin-top: 0;
}

form#searchform {
	font-size: 12px;
	font-weight: bold;
	left: -4px;
	top: -24px;
}

form#searchform input.searchfield {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

.menu {
	margin-top: 73px;
}

.contentHeader{
	height: auto;
}

.overzicht .discription {
	line-height:1.2em;
}

.content ul.paging li.backTo a, 
.content ul li.forward a {
	height: 24px;
	width: 24px;
}

/* homepages */

.containersHome, 
.containersSubpage {
	height: 270px;
}

.containersHome .colspan1, 
.containersHome .colspan2, 
.containersHome .colspan3, 
.containersHome .colspan4, 
.containersSubpage .colspan1, 
.containersSubpage .colspan2, 
.containersSubpage .colspan3, 
.containersSubpage .colspan4, 
.containersSubpage .colspan5, 
.thirdRow .colspan8 {
	height: auto;
}

.containersHome .colspan1, 
.containersHome .colspan2, 
.containersHome .colspan3, 
.containersHome .colspan4, 
.containersSubpage .colspan1, 
.containersSubpage .colspan2, 
.containersSubpage .colspan3, 
.containersSubpage .colspan4, 
.containersSubpage .colspan5, 
.thirdRow .colspan8 {
	padding-bottom: 30px;
}

.colspan9 {
	height: 160px;
}

.denHaagBox ul li a {
	font-size: 1em;
	margin-bottom: 2px;
}

.containerTypeB {
	height: 130px;
}

.highLights .items div.bottom ul, .highLights .oneItem div.bottom ul {
	width:426px;
}

.highLights .oneItem div.bottom ul li {
	color: #FFF;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 0px;
}

/*.home .items,
.highLightsBg {
	width: 450px !important;
}*/

.highLights h3, .highLightsNoAccordion h3 {
	font-size:1.1em;
}

ul#accordion h2 {
	padding:3px 0 3px 15px;
}

ul#accordion p {
	line-height: 1.1em;
}

.highLights .oneItem a.viewVideo, 
.highLightsNoAccordion p, 
ul#accordion p {
	font-size:1.1em;
}

/* positioning of background images */

ul.sortEvents li.sortDropdown a {
	background-position: right 8px;
}

a.extendedSearch {
	background-position: right 7px;
}

ul.toolBox li.mail a {
	background: url(../images/icnToolbox.gif) left 6px no-repeat;
}
ul.toolBox li.react a {
	background: url(../images/icnToolbox.gif) left -63px no-repeat;
}
ul.toolBox li.print a {
	background: url(../images/icnToolbox.gif) left -137px no-repeat;
}
ul.toolBox li.add2 a {
	background: url(../images/icnToolbox.gif) left -210px no-repeat;
}
ul.toolBox li.picture a {
	background: url(../images/icnToolbox.gif) left -352px no-repeat;
}
ul.toolBox li.download a {
	background: url(../images/icnToolbox.gif) left -419px no-repeat;
}
ul.toolBox li.video a {
	background: url(../images/icnToolbox.gif) left -488px no-repeat;
}
ul.toolBox li.xtra a {
	background:url(../images/icnToolbox.gif) left -556px no-repeat;
	color:#E50C0F;
}
ul.toolBox li.pdf a {
	background: url(../images/icnToolbox.gif) left -625px no-repeat;
}
ul.toolBox li.slideshow a { 
	background: url(../images/icnToolbox.gif) left -697px no-repeat;
}
ul.toolBox li.company a {
	background: url(../images/icnToolbox.gif) left -765px no-repeat;
}

/* loket */

.containersSubpage.loketContainers, 
.containersSubpage.loketContainers .colspan3 {
	height: auto;
}