/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

/*FORMS*/
.usefulInfo{
	border-top:solid 1px #CCC;
	font-size:1.2em;
	margin-bottom: 30px;
	padding:5px 10px 5px 5px;
	position:relative;
}
.usefulInfo p{
	font-weight:bold;
	font-size:1.1em;
	margin:0px 0px 5px 0px;
}
.usefulInfo form{
	margin:0px;
}
.usefulInfo form label{
	display: block;
	float: left;
	margin:2px 10px 0px 0px;
}
.usefulInfo form input.radio {
	float: left;
	padding:5px 0px 0px 0px;
	padding-top:2px;
}
.usefulInfo form .hidden{
	display:block;
}
.usefulInfo form textarea.myComment{
	border:solid 1px #CCC;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:1.1em;
	margin:10px 0 10px 0;
	width:300px;
	height:70px;
}
.usefulInfo div.right{
	position:relative;
	top:5px;
	font-size:0.9em;
}
.usefulInfo div.right a{
	color:#646464;
	text-decoration:underline;
}
.usefulInfo div.right a:hover{
	color:#008795;
}
h4.reactions{
	padding:5px;
	background:#F3F3F3;
	margin-bottom:10px;
}
h4.reactions span{
	font-weight:normal;
}
ul.reactions{
	padding:0px 5px 15px 5px;
	border-bottom:solid 1px #CCC;
	margin-bottom:10px;
	list-style:none;
	font-size:1.2em;
/*	position:relative;*/
}
ul.reactions li{
	margin-bottom:10px;
}
ul.reactions li.quoteThis{
	border:solid 1px #D9D9D9;
	padding:5px;
	background:#FFF;
	position:relative;
	margin:0px 30px 10px 30px;
	font-size:0.9em;
	font-style:italic;
	line-height:150%;
}
ul.reactions li.quoteThis strong{
	font-style:normal;
	display:block;
}
ul.reactions li.userName{
	display:inline;
	color:#008795;
	font-weight:bold;
	padding-right:10px;
	border-right:solid 1px #CCC;
}
ul.reactions li.dateTime{
	display:inline;
	font-size:0.9em;
	color:#646464;
	padding-left:10px;
}
ul.reactions li.quote{
	float:right;
	font-size:0.9em;
	position:relative;
	bottom:15px;
	right:0px;
	border:none;
}
ul.reactions li.quote a{
	color:#646464;
}
ul.reactions li.quote a:hover{
	color:#E50C0F;
}
ul.reactions li.inappropriate{
	float:right;
	position:relative;
	bottom:15px;
	right:0px;
}
ul.reactions li.inappropriate a{
	display:block;
	background:url(../images/icn_ongepast.gif) 0px 0px no-repeat;
	width:16px;
	height:14px;
	text-decoration:none;
}
ul.reactions li.inappropriate a:hover{
	background:url(../images/icn_ongepast.gif) 0px -14px no-repeat;
}
.placeReaction{
	background:#F5F5F5;
	display:none;
}
.placeReaction h4{
	padding:10px 10px 0px 10px;
	color:#1F1F1F;
	font-size:1.5em;
	font-weight:bold;
	margin:10px 0px 5px 0px;
}
.placeReaction form{
	padding:10px 20px 10px 10px;
	border-top: 1px solid #C4C4C4;
}
.placeReaction form p{
	margin:0px 0px 5px 0px;
	color:#272727;
}
.placeReaction form span{
	color: #E50C0F;
}
.placeReaction form label{
	float: left;
	width: 100px;
	text-align:right;
	padding:0px 10px 0px 0px;
	color:#272727;
}
.placeReaction form input{
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464; 
	width: 180px;
	border:solid 1px #D9D9D9;
	padding:1px;
	font-size:1.1em;
}
.placeReaction form textarea{
	width: 300px;
	height:90px;
	font: 1.1em Arial, Helvetica, sans-serif;
	color: #646464;
	border:solid 1px #D9D9D9;
	padding:2px;
}
.placeReaction form hr{
	border:none; 
	border-bottom:1px solid #D3D3D3;
	height:0px;
}
.placeReaction form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	width:50px;
	background:#FFF;
	font-size:0.9em;
	position:relative;
	right:48px;
	text-align:center;
}
.placeReaction form input.submit:hover{
	color:#008795;
}
.placeReaction form input.captcha{
	width:50px;
	position:relative;
	top:-10px;
}
.pager 
{
	width: 495px;
	height: 20px;
	margin-bottom: 3px;
}

.navigation-form 
{
	float: right;
	display: block;
	margin: 0;
	padding: 0;
}

.navigation-form li 
{
	float: left;
	background-color: #EDEDED;
	margin: 0 1px 0 0;
	color: #646464;
	font-size: 12px;
	padding: 0;
}


.navigation-form li a 
{
	color: #646464;
	text-decoration: none;
	width: 12px;
	height: 16px;
	padding: 4px 0 0 6px;
	display: block;
}

.navigation-form li a:hover 
{
	background-color: #008795;
	color: #ffffff;
}

.navigation-form li.stepstorun a:hover 
{
	color: #ffffff;
}

.navigation-form li.active 
{
	background-color: #008795;
}
.navigation-form li.active a 
{
	color: #FFFFFF;
}

.navigation-form li.stepstorun a
{
	color: #C3C3C3;
}

.generalForm{
	background:#F5F5F5;
}
.generalForm p{
	font-size:1.1em;
	font-weight:bold;
}
.generalForm h2{
	padding:10px 10px 0px 10px;
	color:#1F1F1F;
	margin-top: 0;
}
.generalForm form{
	overflow: visible;
	padding: 0px 20px 10px 10px;
}

.generalForm legend {
	color:#1F1F1F;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding:10px 10px 0px 0px;
	text-indent: 0;
}

.generalForm hr {
	margin: 5px -20px 0 -10px;
	width: 495px;
}

.generalForm form p{
	margin:0px 0px 5px 0px;
	color:#272727;
	clear:both;
}
.formPart{
	margin:0px 0px 5px 0px;
}
.formPart strong{
	float:left;
	margin:5px 0px 0px 0px;
}
.generalForm form p.required{
	font-size:1.1em;
	
	margin:8px 0px 0px 0px;
	display:block;
}
.generalForm form span{
	color: #E50C0F;
}
.generalForm form .formPart{
	border-bottom:solid 1px #CCC;
	padding:0px 0px 5px 0px;
}
.generalForm form label{
	float: left;
	width: 100px;
	text-align:left;
	padding:0px 10px 0px 0px;
	color:#272727;
	margin:7px 0px 7px 0px;
}
.generalForm form .formPart label.long{
	width:90%;
}
.generalForm form .formPart label.short{
	width:70px;
}
.generalForm form input{
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464; 
	/*width: 242px*/;
	border:solid 1px #D9D9D9;
	padding:1px;
	font-size:1.1em;
	float:left;
	margin:7px 0px 7px 0px;
}
.generalForm form input.pc{
	/*width:70px;*/
	margin-right:5px;
}
.generalForm form input.pc2{
	/*width:25px;*/
}
.generalForm form input.error{
	border:solid 1px #D00;
	margin-bottom:3px;
}
.generalForm form textarea{
	/*width: 240px;
	height:90px;*/
	font: 1.1em Arial, Helvetica, sans-serif;
	color: #646464;
	border:solid 1px #D9D9D9;
	padding:2px;
	margin:7px 0px 7px 0px;
}
.generalForm form select{
	/*width:245px;*/
	font-size:0.9em;
	margin:10px 0px 0px 0px;
	padding:1px;
}
.generalForm form hr{
	border:none; 
	border-bottom:1px solid #D3D3D3;
	height:0px;
}
.generalForm form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	width:70px;
	background:#FFF;
	font-size:0.9em;
	text-align:center;
}
.generalForm form input.submit.left{
	float:left;
}
.generalForm form input.submit:hover{
	color:#008795;
}
.generalForm form input.captcha{
	width:50px;
	position:relative;
	top:-10px;
}
.generalForm form input.radioButton{
	width:15px;
	height:15px;
	float:left;
	margin:0px 10px 0px 0px;
	border:none;
}
.generalForm form input.checkBox{
	width:15px;
	height:15px;
	float:left;
	margin:0px 10px 0px 0px;
	border:none;
}
.generalForm form span.help a{
	width:15px;
	height:15px;
	float:left;
	background:url(../images/icnFormHelp.gif) 0px 0px no-repeat;
	margin:10px 0px 7px 10px;
	text-indent:-9999px;
	margin:10px 80px 0px 10px;
}
.generalForm form span.error{
	font-size:1.2em;
	display:block;
	clear:both;
	margin:0px 0px 0px 110px;
}
.generalForm form span.help a:hover{
	background:url(../images/icnFormHelp.gif) 0px -28px no-repeat;
}
.generalForm form div.posLeft{
	float:left;
	font-size:1.2em;
}
.generalForm form div.posRight{
	float:right;
	font-size:1.2em;
}
.newsLetterForm form{
	padding:0px;	
}
.newsLetterForm .subjects{
	background:#F5F5F5;
	margin:0px;
	padding:10px 10px 20px 10px;
}
.newsLetterForm .subjects p{
	float:left;
	width:145px;
	margin:0px 10px 2px 0px;
}
.newsLetterForm .formPart{
	background:#F5F5F5;
	/*padding: 0px 20px 10px 10px;*/
}
.newsLetterForm h2{
	padding:10px !important;
	color:#1F1F1F;
	margin: 0;
	border-bottom:solid 1px #C4C4C4;
	width:475px;
	background:#F5F5F5;
}
.newsLetterForm form .formPart p{
	padding:0px 0px 0px 10px;
	float:left;
	width:440px;
}
.newsLetterForm form .formPart label{
	width:100px;
	float:left;
}
.newsLetterForm form span.help a{
	width:15px;
	height:15px;
	background:url(../images/icnFormHelp.gif) 0px 0px no-repeat;
	margin:3px 0px 0px 10px;
	text-indent:-9999px;
	display:inline-block;
	position:relative;
}
.newsLetterForm form p.required span{
	color:#D00;
}
.newsLetterForm form span.error{
	font-size:1.2em;
	display:block;
	clear:both;
	margin:0px 0px 0px 110px;
	color:#D00;
	position:relative;
	top:-10px;
}
.newsLetterForm form input.error{
	border:solid 1px #F00;
	margin-bottom:3px;
}
.newsLetterForm form span.help a:hover{
	background:url(../images/icnFormHelp.gif) 0px -28px no-repeat;
}
.newsLetterForm form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	width:70px;
	background:#FFF;
	font-size:1.0em;
	text-align:center;
	padding:0px 0px 3px 0px;
}
.newsLetterForm form input.submit:hover{
	color:#008795;
	cursor:pointer;
}


/*.subjects form{
	margin:0px;
}
.subjects form p strong{
	padding:0px 0px 10px 0px;
	margin:0px;
}
.subjects form p{
	float:left;
	margin:0px;
}
.subjects form label{
	width:155px;
	float:left;
	text-align:left;
	padding:0px;
	margin:0px 10px 2px 0px;
	color:#333;
}*/
/*ERRORFORM*/
body.errorPage{
	background:none;
	padding:20px
}
.errorForm{
}
.errorForm h1{
	color:#D00;
	font-size:1.8em;
	background:url(../images/icnErrorForm.gif) 0px 0px no-repeat;
	padding:3px 0px 3px 35px;
	line-height:125%;
}
.errorForm h2{
	color:#646464;
	line-height:125%;
}
.errorForm p{
	font-size:1.2em;
	line-height:1.6em;
}
/*.rightColumn*/ .tellaFriend form{
	padding:10px 40px 15px 20px;
	font-size:1.0em;
}
/*.rightColumn*/ .tellaFriend form p{
	margin:0px 0px 5px 0px;
	color:#272727;
}
/*.rightColumn*/ .tellaFriend form span{
	color: #E50C0F;
}
/*.rightColumn*/ .tellaFriend form label{
	float: left;
	width: 125px;
	text-align:left;
	padding:0px 10px 0px 0px;
	color:#272727;
	font-size:11px;
}
/*.rightColumn */.tellaFriend form input{
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464; 
	width: 220px;
	border:solid 1px #D9D9D9;
	padding:1px;
	font-size:1.1em;
}
/*.rightColumn */.tellaFriend form textarea{
	width: 218px;
	height:90px;
	font: 1.1em Arial, Helvetica, sans-serif;
	color: #646464;
	border:solid 1px #D9D9D9;
	padding:2px;
}
/*.rightColumn*/ .tellaFriend form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	margin-right:0px;
	width: auto;
	background:#FFF;
	font-size:1.0em;
	text-align:center;
}
/*.rightColumn*/ .tellaFriend form p.divider{
	border-top:solid 1px #E5E5E5;
	padding:10px 0px 0px 0px;
	margin-top:10px;
}
/*.rightColumn*/ .tellaFriend form input.submit:hover, .placeReaction form input.submit:hover{
	cursor:pointer;
}
/*TIP EDITOR*/
.tipEditor{
	position:absolute;
	z-index:1000;
	top:-240px;
	right:-6px;
	background:url(../images/bgTipEditor.png) 0px 0px no-repeat;
	width:382px;
	height:257px;
	display:none;
}
.tipEditor h3{
	border-bottom:solid 1px #CCC;
	padding:0px 0px 10px 0px;
	margin:10px 0px 5px 0px;
	font-size:1.1em;
}
.tipEditor .close2 a{
	background:url(../images/icn_close.gif) 0px 0px no-repeat;
	text-indent:-9999px;
	position:relative;
	z-index:101;
	display:block;
	width:8px;
	height:8px;
	float:right;
	right:-7px;
}
.tipEditor form{
	padding:10px 20px 0px 15px;
	font-size:1.0em;
}
.tipEditor form p{
	margin:0px 0px 5px 0px;
	color:#272727;
}
.tipEditor form span{
	color: #E50C0F;
}
.tipEditor form label{
	float: left;
	width: 103px;
	text-align:left;
	padding:0px 10px 0px 0px;
	color:#272727;
	font-size:11px;
}
.tipEditor form input{
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464; 
	width: 220px;
	border:solid 1px #D9D9D9;
	padding:1px;
	font-size:0.8em;
}
.tipEditor form textarea{
	width: 218px;
	height:90px;
	font: 0.80em Arial, Helvetica, sans-serif;
	color: #646464;
	border:solid 1px #D9D9D9;
	padding:2px;
}
.tipEditor form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	margin-right:0px;
	padding:1px 5px 1px 5px;
	width:70px;
	background:#FFF;
	font-size:0.8em;
	text-align:center;
}
.tipEditor form p.divider{
	border-top:solid 1px #E5E5E5;
	padding:5px 0px 0px 0px;
	margin-top:5px;
}
.tipEditor form input.submit:hover{
	cursor:pointer;
	background:#333;
	color:#FFF;
}
.poll{
}
.poll form{
	font-size:1.1em;
	line-height:100%;
	margin:0px;
}
.poll form p{
	font-weight:bold;
	font-size:1.4em;
	line-height:125%;
	color:#333;
}
.poll form label{
	display:block;
	clear:both;
}
.poll form input{
}
.poll form input.submit{
	border:solid 1px #D9D9D9;
	background:#FFF;
	font-size:1.0em;
	float:right;
	margin:10px 0px 0px 0px;
	padding:2px 5px 2px 5px;
}
.poll form input.radio{
	margin:4px 5px 0px 0px;
}
.containerTypeC .poll form input.submit,
.usefulInfo form input.submit {
	border:solid 1px #CCC;
	background:#FFF;
	font-size:1.0em;
	float:right;
	margin:0px 0px 0px 0px;
	padding:2px 5px 2px 5px;
	color:#646464;
}

.usefulInfo form input.submit {
	float:left;
	margin:0px 0px 0px 0px;
	font-size:0.9em;
}
.usefulInfo form input.submit.valuation{
	margin-left:10px;
}
.usefulInfo form input.submit:hover,
.containerTypeC .poll form input.submit:hover{
	color:#008795;
	background:#FFF;
}

#filterSearchOptions{
}
#filterSearchOptions label{
	display:block;
	font-size:1.1em;
	font-weight:bold;
	margin:5px 0px 5px 0px;
}
#filterSearchOptions select{
	float:left;
	font-size:1.1em;
}
#filterSearchOptions select.month{
	width:50px;
	margin-right:5px;
}
#filterSearchOptions select.date{
	width:40px;
	margin-right:5px;
}
#filterSearchOptions select.year{
	width:50px;
}
#filterSearchOptions ul.extraOptions{
	margin:3px 0px 7px 0px;
}
#filterSearchOptions ul.extraOptions li{	
	display:block;
	border:solid 1px #CCC;
	background:#FFF;
}
#filterSearchOptions ul.extraOptions li span{
	display:block;
}
#filterSearchOptions ul.extraOptions li a{
	color:#646464 !important;
	background:#FFF url(../images/icnCollapse.gif) right 0px no-repeat;
	display:block;
	padding:2px 0px 2px 4px;
}
#filterSearchOptions ul.extraOptions li a:hover{
	background:#FFF url(../images/icnCollapse.gif) right -43px no-repeat;
	color:#008795 !important;
}
#filterSearchOptions ul.extraOptions li a:active{
	background:#FFF url(../images/icnCollapse.gif) right -43px no-repeat;
}
#filterSearchOptions ul.extraOptions li a.metaData{
	color:#000;
}
#filterSearchOptions .searchFilterOptions{
	padding:5px 0px 0px 0px;
	border-top:solid 1px #CCC;
	margin-top:10px;
	position:relative;
}
#filterSearchOptions li.filterOptionBox{
	position:absolute;
	right:205px;
	width:272px;
	height:304px;
	z-index:1000;
	border:none !important;
	padding: 0;
	font-size:1.1em;
}

#filterSearchOptions li.filterOptionBox .filterOptionsBg {
	background:url(../images/bgSearchFilterOptions.png) 0px 0px no-repeat;
	padding:20px 0px 0px 35px;
	position:static;
}

#filterSearchOptions li.filterOptionBox.metadatabox{
	top:-233px;
}
#filterSearchOptions li.filterOptionBox.contenttypebox{
	top:-190px;
}
#filterSearchOptions li.filterOptionBox.bronbox{
	top:-150px;
}
#filterSearchOptions li.filterOptionBox.senderbox{
	top:-106px;
	
}

/* showing or hiding different elements of the search function, depending on presence of js */

.rightColumn #filterSearchOptions.dynamic li.filterOptionBox.metadatabox,
.rightColumn #filterSearchOptions.dynamic li.filterOptionBox.contenttypebox,
.rightColumn #filterSearchOptions.dynamic li.filterOptionBox.bronbox,
.rightColumn #filterSearchOptions.dynamic li.filterOptionBox.senderbox,
.rightColumn #filterSearchOptions.static li.filterOptionBox .close a, 
.rightColumn #filterSearchOptions.static li.metadata,
.rightColumn #filterSearchOptions.static li.contenttype, 
.rightColumn #filterSearchOptions.static li.bronn, 
.rightColumn #filterSearchOptions.static li.sender {
	display:none;
}

.rightColumn #filterSearchOptions.static li.filterOptionBox.metadatabox,
.rightColumn #filterSearchOptions.static li.filterOptionBox.contenttypebox,
.rightColumn #filterSearchOptions.static li.filterOptionBox.bronbox,
.rightColumn #filterSearchOptions.static li.filterOptionBox.senderbox,
#filterSearchOptions.static .filterOptionSubmit  {
	display:block;
	left: 0;
	position: relative;
	top: 0;
}

#filterSearchOptions.static .searchFilterOptions {
	width: 150px;
}
#filterSearchOptions.dynamic li.filterOptionBox .filterOptionsBg{
	width: 269px;
}
.rightColumn #filterSearchOptions.static li.filterOptionBox, 
.rightColumn #filterSearchOptions.static li.filterOptionBox .filterOptionsBg  {
	background: none;
	height: auto;
}
.rightColumn #filterSearchOptions.dynamic .filterOptionSubmit {
	display: block;
	position: absolute;
	right: -10px;
	bottom: 15px;
	font-size:1.1em;
	z-index:100;
	width:70px;
}

/* end showing and hiding */

#filterSearchOptions li.filterOptionBox .close a,
#filterSearchOptions li.filterOptionBox .close a:hover{
	background:url(../images/icn_close.gif) 0px 0px no-repeat;
	text-indent:-9999px;
	position:relative;
	z-index:101;
	display:block;
	width:8px;
	height:8px;
	float:right;
	right:15px;
	top:-10px;
}
label.allOptions{
	position:relative;
	left:-20px;
	margin-bottom:10px;
	font-weight:bold !important;
}
#filterSearchOptions li.filterOptionBox label{
	float:left;
	font-size:1.0em;
	font-weight:normal;
	width:120px;
	margin:0px 10px 3px 0px;
}
#filterSearchOptions li.filterOptionBox label span{
	display:inline;
	margin-left:0px;
	padding:0px;
}
form input.filterSubmit{
	background:#FFF;
	color:#646464;
	border:solid 1px #D9D9D9;
	font-size:1.1em;
	padding:0px 5px 0px 5px;
	float:right;
}
form input.filterOptionSubmit{
	position: absolute;
    bottom:15px;
    right:15px;
	padding:0px 5px 1px 5px;
	color:#646464;
	font-size:1.0em;
	background:#FFF;
	border:solid 1px #D9D9D9;
}
form input.filterSubmit:hover,
form input.filterOptionSubmit:hover{
	color:#008795;
	cursor:pointer;
}
/*FORUM*/
.forumReaction{
	/*background:#F5F5F5;*/
	background:#FFF;
	display:none;
	margin-bottom:20px;
	width:99%;
	border:solid 1px #CCC;
}
.forumReaction h4{
	padding:5px 10px 5px 10px;
	color:#FFF;
	background:#646464;
	font-size:1.2em;
	font-weight:bold;
	margin:0px;
}
.forumReaction form{
	padding:10px 20px 10px 10px;
	border-top: 1px solid #C4C4C4;
}
.forumReaction form p{
	margin:0px 0px 5px 0px !important;
	color:#272727;
	border:none !important;
	padding:0px !important;
}
.forumReaction form span{
	color: #E50C0F;
}
.forumReaction form label{
	display:block;
	padding:0px;
	color:#272727;
}
.forumReaction form input{
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464; 
	border:solid 1px #D9D9D9;
	padding:1px;
	font-size:1.1em;
	width:100%;
}
.forumReaction form textarea{
	height:90px;
	width:100%;
	font: 1.1em Arial, Helvetica, sans-serif;
	color: #646464;
	border:solid 1px #D9D9D9;
	padding:2px;
}
.forumReaction form hr{
	border:none; 
	border-bottom:1px solid #D3D3D3;
	height:0px;
}
.forumReaction form input.submit{
	border:solid 1px #D9D9D9;
	display:block;
	float:right;
	width:50px;
	background:#FFF;
	font-size:1.0em;
	position:relative;
	text-align:center;
}
.forumReaction form input.submit:hover{
	color:#008795;
}
.forumReaction form input.captcha{
	width:50px;
	position:relative;
	top:-10px;
}
/*END FORUM*/