/* Print styles */
.topMenu,
.secondRow, 
.menu, 
.skipNavigation,
.sideMenu,
.rightColumn,
.targetMap, 
.paging,
.overview, 
.backTo, 
.forward, 
.sortEvents, 
form, 
.more, 
.newsletter, 
.rss, 
.placeReaction, 
.browse, 
.highLights img, 
.carousel, 
.footer {
	display: none !important;
}

body {
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

a {
	background: #EEE;
	color: #555;
}

td {
	vertical-align: top;
}

h1, h2, h3 {
	margin-bottom: 3px;
}

p, ul {
	margin: 0 0 10pt;
}

a.logo img {
	color: #fff;
	display: list-item;  
	font-size: 1pt;    
	list-style-image: url('images/logo_print.gif');
	list-style-position: inside;
	letter-spacing: -1000em;
	position: absolute;
	top: 0;
	right: 0;
}

.logo img {
	display: none;
}

/* release size, padding & margin on the container */
.container {
	background: transparent;
	margin: 0 5%;
	padding: 0;
	width: 100%;
}

.column-content a {
	color: #520;
	text-decoration: underline;
}


/* display the url after linktext in css2-compliant browsers */
.content a:link:after,  .content a:visited:after, 
.containerTypeA a:link:after, .containerTypeA a:visited:after {
   content: " (" attr(href) ") ";
   color: #666;
   font-size: 90%;
}

/* most lists should not be presented as lists */
.containerSections ul, 
ul#accordion, 
ul.crumbpath, 
.containerTypeA ul, 
ul.reactions,
ul.overzicht,
ul.overzichtLocatie,
ul.sourceInfo {
	padding-left: 0;
}
.containerSections ul li, 
ul#accordion li, 
ul.crumbpath li, 
.containerTypeA ul li, 
ul.reactions li,
ul.overzicht li,
ul.overzichtLocatie li,
ul.sourceInfo li {
	list-style: none;
	margin-left: 0;
}


/* make sure to unfloat long, floated elements; these cause printing to break */
/*
... {float: none !important; color: #520}
*/

ul.crumbpath li {
	display: inline;
	list-style-image: url('../images/icn_crumbpath.gif') !important;
}

ul.crumbpath li a:after {
	content: " >";
	color:#333;
	padding:0 10px 0 0;
}

.table {
	margin-bottom: 50px;
}