@charset "utf-8";
/* CSS Document */

body {
	font-size: 1.25em;
	line-height: 160%;
}

h1 {
	margin-top: 0;
}

form#searchform {
	font-size: 12px;
	font-weight: bold;
	left: 23px;
	top: -26px;
}

form#searchform input.searchfield {
	color: #333;
	font-size: 12px;
	font-weight: bold;
}

.menu {
	margin-top: 71px;
}

.menu li.topItem .subMenu {
	font-size:1em;
}

.contentHeader{
	height: auto;
}

.overzicht .discription {
	line-height:1.2em;
}

.content ul.paging li.backTo a, 
.content ul li.forward a {
	height: 24px;
	width: 24px;
}

/* homepages */

.containersHome, 
.containersSubpage {
	height: 285px;
}

.containersHome .colspan1, 
.containersHome .colspan2, 
.containersHome .colspan3, 
.containersHome .colspan4, 
.containersSubpage .colspan1, 
.containersSubpage .colspan2, 
.containersSubpage .colspan3, 
.containersSubpage .colspan4, 
.containersSubpage .colspan5, 
.thirdRow .colspan8 {
	height: auto;
}

.containersHome .colspan1, 
.containersHome .colspan2, 
.containersHome .colspan3, 
.containersHome .colspan4, 
.containersSubpage .colspan1, 
.containersSubpage .colspan2, 
.containersSubpage .colspan3, 
.containersSubpage .colspan4, 
.containersSubpage .colspan5, 
.thirdRow .colspan8 {
	padding-bottom: 30px;
}

.colspan9 {
	height: 160px;
}

.denHaagBox ul li a {
	font-size: 1em;
	margin-bottom: 2px;
}

.containerTypeB {
	height: 130px;
}

.highLights .items div.bottom ul, .highLights .oneItem div.bottom ul {
	width:426px;
}

.highLights .oneItem div.bottom ul li {
	color: #FFF;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 0px;
}

/*.home .items,
.highLightsBg {
	width: 450px !important;
}*/

.highLights h2, .highLightsNoAccordion h2 {
	font-size:2em;
}

ul#accordion h2 {
	padding:3px 0 3px 15px;
}

.highLights h3, .highLightsNoAccordion h3 {
	font-size:1em;
}

ul#accordion p, 
.highLightsNoAccordion p {
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1.1em;
}

.highLights .oneItem a.viewVideo {
	font-size:0.9em;
	padding-top: 6px;
}

#mycarousel li span {
	font-size: 1em;
	font-weight: bold;
}

.carousel {
	height: 150px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height:138px;
}
.jcarousel-skin-tango ul {
	height:129px;
}
.jcarousel-skin-tango .jcarousel-item {
	height:110px;
}

/* positioning of background images */

.containerTypeA ul li a {
	background-position: 0 8px;
}
.sideMenu ul li a:hover {
	background-position: right -16px;
}
.sideMenu ul li a {
	background-position: right 4px;
}
ul.sortEvents li.sortDropdown a {
	background-position: right 8px;
}
a.extendedSearch {
	background-position: right 7px;
}
ul.toolBox li.mail a {
	background-position:left 6px;
}
ul.toolBox li.react a {
	background-position:left -63px;
}
ul.toolBox li.print a {
	background-position:left -137px;
}
ul.toolBox li.add2 a {
	background-position:left -210px;
}
ul.toolBox li.picture a {
	background-position:left -352px;
}
ul.toolBox li.download a {
	background-position:left -419px;
}
ul.toolBox li.video a {
	background-position: left -488px;
}
ul.toolBox li.xtra a {
	background-position:left -556px;
}
ul.toolBox li.pdf a {
	background-position:left -625px;
}
ul.toolBox li.slideshow a { 
	background-position:left -697px;
}
ul.toolBox li.company a {
	background-position:eft -765px;
}

.containerTypeC ul li{
	background-position:0px 7px;
}

/* loket */

.containersSubpage.loketContainers, 
.containersSubpage.loketContainers .colspan3 {
	height: auto;
}

.containersHome .containerTypeA
{
    height: 228px;    
}

.form_voorloop .btn_search
{
    margin-top: 0;   
}

