/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                       */

/* Internet Explorer 7 Exceptions       */
ul.secondRow li a{
	line-height:20px;
}
ul.secondRow li.language{
	top:-1px;
}
ul.secondRow li a span.otherLanguages{
	padding:0px 25px 0px 0px;
	line-height:18px;
}
ul.secondRow li a span.more{
	background:url(../images/bg_otherlang.gif) 5px 3px no-repeat;
	top:1px;
	height:18px;
}
form#searchform{
	left:-56px;
	top:-23px;
}
form#searchform .searchbutton{
	position:relative;
	padding:10px;
	top:0px;
	left:-1px;
	height:20px;
}

/*
form input.filterOptionSubmit {
	margin: 25px 0px 0px 0px;
	position: relative;
	clear: left;
	right: -60px;
}
*/

div#checkBoxContainer .leftRow {
	position: relative;
	padding: 0px 0px 40px 0px;
	margin: 0px 5px 0px 0px;
}
.ranking form .searchbutton{
	padding:0px 5px 0px 5px;
}
.containersHome .map{
	padding:0px 8px 9px 8px;
}
.colspan4 .denHaagBox{
	background:url(../images/bg_dhlinks.gif) left -1px no-repeat;
}
.containersSubpage .map{
	padding:0px 8px 9px 8px;
}
/*
#accordion .browsing ul.browse
{  
}
#accordion .browsing
{
    top: 10px;
}

#accordion .selected .browsing ul.browse
{
    top: -26px;    
}
*/


/*ACCORDION */
/*
#accordion .browsing{
	position:relative;
	top: 0px;
}
#accordion .browsing ul.browse li.forward a{
	bottom:-5px;
}
#accordion .browsing ul.browse li.backTo a{
	bottom:-5px;
}
#accordion .browsing ul.paging
{
	top: 8px;
}*/

#accordion .browsing ul.browse
{
    top: -24px;    
}
/*.highLights .items ul.bottom{
	height:18px;
}
ul#accordion li.selected{
	height:165px;
}
.containers{
	position:absolute;
}
ul.toolBox{
	padding:4px 0px 5px 10px;
}
.highLights.home .highLightsBg{
	height:283px;
}
.highLights.home .bottom ul{
	height:23px !important;
	overflow:hidden;
	padding-top:0px !important;
	margin-top:2px;
}*/
/*NOACCORDION*/
.subPageBox .highLightsNoAccordion .items ul.bottom{
	position:relative;
	z-index:100000;
	top:140px;
	left:-309px;
	padding:7px 0px 0px 10px;
	width:299px;
}
.containersSubpage .last{
	width:145px;
}
/*EXTENDED SEARCH*/
form#extendedSearch .searchbutton{
	padding:0px 5px 0px 5px;
}
form#extendedSearch .filterButton{
	padding:0px 5px 0px 0px;
}
.extendedSearch ul{
	margin: 0px 20px 0px 5px;
	padding: 0;
	list-style:none;
	width: 275px;
}
.extendedSearch ul.filter li{
	height:1%;
	padding:0px;
}
.extendedSearch .genres,
.extendedSearch .evenementen,
.extendedSearch .vandaag{
	right:-245px;
}
/*
.extendedSearch .filterOptionSubmit{
	position:relative !important;
	right:-190px;
	bottom:-40px;
}
*/
/*CONTENTCONTAINER C*/
.containerTypeC a.more{
	text-indent:0px !important;
	width:100px !important;
	font-size:1.0em !important;
}
/*TELLAFRIEND*/
.rightColumn .tellaFriend .close a{
	right:0px;
}
.filterForm form .searchbutton{
	padding:0px 13px 0px 5px;
}
/*CONTENT*/
.contentContainer h2, .appsContainer h2{
	padding:0px 0px 6px 0px;
}

/*CONTENT PAGING*/
.content ul.paging li.active, .content ul.paging li a, .content ul.paging li span{
	padding:4px 6px 3px 6px;
}
/*CONTENT OL*/
.content ol.list{
	position:relative;
	left:-17px;
	padding-left:0px;
}
/*POLL*/
.poll form input.submit{
	padding:0px;
}
/*MORE RESULTS*/
.content ul.result li.more, .content ul.result li.less{
	border-bottom:none !important;
	margin:10px 0px 10px 0px;
}
/*CONTAINERTYPEC SEARCH*/
.containerTypeCsearch ul.filter li{
	padding:0px !important;
	margin: 0px 0px -3px 0px !important;
}
/*REACTION*/
ul.reactions li.quote{
	bottom:30px;
}
ul.reactions li.inappropriate{
	bottom:30px;
}
/*LOKET SEARCH*/
form#loket{
	height:142px;
}
.loketHeader{
	height:190px;
	overflow:hidden;
}
/*PORTRAITS WIE IS WIE*/
.portraits{
	padding:0px 0px 0px 0px;
}
.portraits p{
	margin:0px 0px 10px 0px;
}

.form_voorloop .btn_search {
	margin: 15px 0 0 0px;
}
/*NEWSLETTERFORM*/
.newsLetterForm form input.submit{
	padding:0px !important;
}
/*FOTOALBUM*/
.contentContainer h2.left{
	margin:0px;
}
/*TESTIMONIAL*/
.tipPicture .maskQuote {
	top: -8px;
}
.quote .tipPicture img {
	top: 0px;
}
/*AGENDA*/
.btn_search {
	width: 25px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 3px 0 0 6px;
	font-size: 1.1em;
}
/*TIP EDITOR*/
.tipEditor{
	top:-244px;
}
/*FINAL FIXES*/
.containersSubpage .colspan5 .denHaagBox  ul li{
	padding-top:3px;
}
.highLights.subpage .items .highLightsBg{
	height:283px !important;
}
.highLights.subpage .bottom ul{
	height:23px !important;
	overflow:hidden;
	padding-top:0px !important;
	margin-top:2px;
}

.extendedSearch .vacatures
{
right: -245px;
}

.extendedSearch .wijken
{
right: -245px;
}

.containersHome .denHaagBox li
{   
}

.containersHome .denHaagBox img
{
   margin-bottom: 2px;
   margin-top: 2px;
}
.containersHome .denHaagBox li a
{
    padding-bottom: 1px;    
}

.noBorder .browsing
{
    bottom: -58px;
}

.noBorderOverzicht .browsing
{
    bottom: -60px;    
}

ul#accordion li.item .comments
{
    margin-top: 8px;    
} 


.highLightsNoAccordion .items .comments
{
      position:relative !important;   
       zoom:1;
       text-align: left;
       /*left: 125px;*/
       right: -190px;
}

 .highLightsNoAccordion .items .comments a
{
    padding: 0 !important;
    width: auto !important;
}

.subPageBox .highLightsNoAccordion .items .comments
{
      position:relative !important;   
       zoom:1;
       text-align: left;
       /*left: 125px;*/
       right: -120px;
}

.subPageBox .highLightsNoAccordion .items .comments a
{
    padding: 0 !important;
    width: auto !important;
}

.source
{
    margin-top: 11px;    
}

form input.filterOptionSubmit
{
    width: 40% !important;    
    display: inline !important;
}

