/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.nl			        */
/*  VERSION: 1.1                        */


/*LOKET*/
.loketContainers{
}
.loketContainers h2{
	color:#333;
	margin-bottom:15px;
}
.loketHeader{
	background:#F4F4F4;
	border-top:solid 1px #D9D9D9;
	width:100%;
	height:200px;
	overflow:hidden;
}

.searchLoket{
	background:#EDEDED;
	float:left;
	margin-bottom:10px;
	padding:10px;
	width:330px;
}

div.searchLoket
{
    height: 100%;    
}

.colspan12 p{
	font-size:1.2em;
}
/*LOKET SEARCH*/
form#loket{
	font-size:1.1em;
	height:140px;
	width:320px;
}
form#loket h3{
	font-size:1.0em;
	margin:7px 0px 4px 0px;
}
form#loket label{
	width:130px;
	float:left;
	color:#666;
	padding-top:3px;
}
form#loket input.searchfield{
	border:none;
	border:solid 1px #D7D7D7;
	padding:2px 2px 2px 4px;
	margin-bottom:5px;
	color:#999;
	width:155px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
	font-style:italic;
	display:block;
	float:left;
}
form#loket .searchbutton{
	font-size:1.0em;
	background:#FFF;
	padding:1px 5px 2px 5px !important;
	display:block;
	border:solid 1px #D7D7D7;
	float:left;
	margin:0px 0px 0px 5px;

}
form#loket .searchbutton:hover{
	cursor:pointer;
}
ul.popularLinks{
	list-style:none;
	width:170px;
}
ul.popularLinks li{
	background:transparent url(../images/icn_menu_listitem.gif) no-repeat scroll 0px 4px;
	padding:0px 0px 5px 0px;
}
ul.popularLinks li a{
	font-size:1.2em;
	padding:0px 0px 5px 8px;
	text-decoration:none;
}
/*SEARCH ALFABET*/
ul.alfabet{
	list-style:none;
}
ul.alfabet li{
	display:inline;
}
ul.alfabet li a{
	color:#848484;
	font-weight:bold;
	background:none;
	padding:0px 1px 0px 1px;
	margin:0px 0px 0px 0px;
}
ul.alfabet li a:hover{
	background:#008795;
	color:#FFF;
}
.popularLinks{
	float:left;
}
div.product{
	float:right;
	position:relative;
	top:15px;
	right:20px;
}
ul.fastLinks{
	padding:5px 0px 0px 0px;
	position:relative !important;
	margin-bottom:0px;
	font-size:1.1em;
}
ul.fastLinks li{
	background:transparent url(../images/icn_menu_listitem.gif) no-repeat scroll 0px 5px;
	padding:2px 0px 2px 8px;
}
ul.fastLinks li a{
	line-height:120%;
	text-decoration:none;
}
ul.fastLinks li a:hover{
	text-decoration:underline;
}
a.direct{
	float:right;
	background:#008795 url(../images/icn_arrowmiddle.gif) no-repeat scroll right 4px;
	color:#FFF;
	padding:1px 20px 2px 10px;
	font-size:1.2em;
	text-decoration:none;
	display:block;
}
a:hover.direct{
	background:#F00 url(../images/icn_arrowmiddle.gif) no-repeat scroll right 4px;
	color:#FFF;
}
.directTop{
	border-bottom:solid 1px #CCC;
	margin:0px 0px 20px 0px;
}
.directBottom{
	border-top:solid 1px #CCC;
	margin:40px 0px 30px 0px;
}