/*	Stylesheet	for denhaag.nl          */
/*	Author: Gerard Salomons		        */
/* 	Company: 	tfe.com			        */
/*  VERSION: 1.1                        */

/*STRUCTURE*/
/*.grid{
	height:100%;
	width:946px;
	margin:0px auto 0px auto;
	background:url(../images/grid.gif) 0px -1px repeat-y;
	position:absolute;
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	opacity:.25;
	z-index:1000;
	display:none;
}*/

.wrapper{
	width:946px;
	margin:0px auto;
	background:#FFF;
	position:relative;	
	z-index: 99;
	height:100%;
	background:#FFF url(../images/bgContentBox.gif) left repeat-y;
}
.errorWrapper{
	width:850px;
	margin:0px auto 0px auto;
	background:#EFEFEF;
	position:relative;
	height:100%;
}
.errorContainer{
}
.header{
	width:946px;
	background:#EDEDED;
	height:105px;
	position:relative;
	z-index:100;
}
.contentBox{
	padding:0px 0px 0px 16px;
	position:relative;
	background:#FFF url(../images/bgContentBox.gif) left repeat-y;
	
	float:left;
	/*border-left:solid 1px #D9D9D9;*/
}
.crumbClock{
	height:20px;
}
.highLights{
	height:306px;
	/*width:930px;*/
	float:right;
}
.containersHome{
	height:225px;
	margin:15px 0;
}
.carousel{
	height:140px;
	margin-bottom:10px;
	width:930px;
}
.slideShowCarousel{
	height:140px;
	margin-bottom:10px;
	width:495px;
}
.footer{
	height:32px;
	margin-bottom:15px;
	width:930px;
}
.forTest{
	margin-left:15px;/*for testing*/
}
.sideMenu{
	width:195px !important;
	float:left;
	margin-right:0px;

}
.home{
	width:930px;
}
.home .imageBox{
	position:absolute;
	height:306px;
	top:0px;
}
.home .imageBox img{
	width:930px;
	position:absolute;
	top:0px;
}
.subpage{
	width:705px;
	float:left;
}
.subpage .imageBox{
	width:705px;
	overflow:hidden;
}
.subPageBox .imageBox{
	width:705px;
	overflow:hidden;
	position:absolute;
}
.subpage .imageBox img{
	width:930px;

}
.home .items{
	width:360px;	
}
.home .oneItem{
	width:650px;	
}
.home .items ul.bottom{
	width:336px;
}

.subpage .items{
	width:285px;	
}
.subpage .items ul.bottom{
	width:261px;	
}

.containersSubpage{
	float:right;
	margin-top: 15px;
	width: 705px;
}
.subPageBox{
	float:right;
	width:705px;
	position:relative;
}
.contentContainer{
	float:left;
	width:495px;
	position:relative;
}
.appsContainer{
	float:right;
	width:704px;
	position:relative;
}
.apps, .apps4{
	background:#CCC;
	height:400px;
	font-size:1.2em;
	padding:10px;
}
.apps4{
	background:#FFF;
}
.appsBroad{
	width:910px;
}
.highLights,
.containersHome,
.carousel,
.footer,
.containersSubpage
{
	/*background:#CCC;*/
}
.mainContentContainer{
	margin: 0;
}
.containers{
	position:relative;
	z-index:30000;
	background:#FFF;
	margin:0px 0px 0px 0px;
}
.thirdRow{
	position:relative;
	margin:30px 0px;
	float:right;
}
.colspan1{
	width:165px;
	height:228px;
	position:relative;
	overflow: hidden;
}
.colspan2{
	width:178px;
	height:228px;
	position:relative;
}
.colspan3{
	width:180px;
	height:228px;
	position:relative;
}
.colspan4{
	width:180px;
	height:228px;
	position:relative;
	margin-right:0px !important;
}
.colspan5{
	width:165px;
	height:225px;
	margin:0px 15px 0px 0px;
}
.colspan6{
	width:155px;
}
.colspan7{
	width:161px;
}
.colspan8{
	width:165px;
	height:225px;
	margin:0px 15px 0px 0px!important;
}
.colspan9{
	width:161px;
	height:120px;
}
.colspan10{
	width:155px;
	height:180px;
	margin:0px 15px 20px 0px!important;
}
.colspan11{
	padding:0px 10px 10px 10px;
}
.colspan12{
	width:160px;
	float:left;
	padding:10px;
}
.colspan13{
	width:165px;
	height:180px;
	margin:0px 15px 20px 0px!important;
}
.rightColumn{
	width:181px;
	float:right;
	position:relative;
}
.colspan14{
	width:161px;
	background:#EDEDED !important;
}
.rowspan1{
	padding:50px 0px 20px 0px;
}
.colspan20{
	width:495px !important;
	float:left;
	margin-right:20px;
}
.colspan21{
	width: 276px;
}
/*END STRUCTURE*/